/**/
/* res.notificationset.type */
/**/
.o_ncm_notifmgmt_notificationset_type_view_tree [data-id="include_partner_if_wua"] {
    min-width: 120px;
    text-align: center;
}
.o_ncm_notifmgmt_notificationset_type_view_tree [data-field="include_partner_if_wua"] {
    text-align: center;
}

/**/
/* res.notificationset */
/**/
.o_ncm_notifmgmt_notificationset_view_tree [data-id="file_id"] {
    min-width: 160px;
}
.o_ncm_notifmgmt_notificationset_view_tree [data-id="notificationset_type_id"] {
    min-width: 160px;
}

/**/
/* res.notification (draft state) */
/**/
.o_ncm_notifmgmt_notification_draft_view_tree [data-id="is_wua_partner"] {
    min-width: 90px;
    text-align: center;
}
.o_ncm_notifmgmt_notification_draft_view_tree [data-field="is_wua_partner"] {
    text-align: center;
}

/**/
/* res.notification (generated) */
/**/
.o_ncm_notifmgmt_notification_generated_view_tree [data-id="is_wua_partner"] {
    min-width: 90px;
    text-align: center;
}
.o_ncm_notifmgmt_notification_generated_view_tree [data-field="is_wua_partner"] {
    text-align: center;
}

/**/
/* res.notification (generated and all) */
/**/
.o_ncm_notifmgmt_notification_view_tree [data-id="is_wua_partner"] {
    min-width: 90px;
    text-align: center;
}
.o_ncm_notifmgmt_notification_view_tree [data-field="is_wua_partner"] {
    text-align: center;
}

/**/
/* res.notification (for a particular partner) */
/**/
.o_ncm_notifmgmt_notification_generated_particular_view_tree [data-id="file_id"] {
    min-width: 280px;
}