.o_wua_invoiceset_line_presconsumption_view_tree [data-id="area_total_company_g"] {
    text-align: right;
}

.o_wua_invoiceset_line_presconsumption_view_tree [data-id="area_total_company_r"] {
    text-align: right;
}

.o_wua_invoiceset_line_presconsumption_view_tree [data-id="area_total_company_t"] {
  text-align: right;
}
.o_wua_cgrabaran_wua_sum_intakeconsumption_invoicing_view_tree [data-id="month_name"]
{
  text-align: left;
}
.o_wua_cgrabaran_wua_sum_intakeconsumption_invoicing_view_tree [data-id="sum_intakeconsumption_company_01"]
{
  text-align: right;
}
.o_wua_cgrabaran_wua_sum_intakeconsumption_invoicing_view_tree [data-id="sum_invoicing_company_01"]
{
  text-align: right;
}
.o_wua_cgrabaran_wua_sum_intakeconsumption_invoicing_view_tree [data-id="difference_intakeconsumption_invoicing_company_01"]
{
  text-align: right;
}
.o_wua_cgrabaran_wua_sum_intakeconsumption_invoicing_view_tree [data-id="sum_intakeconsumption_company_02"]
{
  text-align: right;
}
.o_wua_cgrabaran_wua_sum_intakeconsumption_invoicing_view_tree [data-id="sum_invoicing_company_02"]
{
  text-align: right;
}
.o_wua_cgrabaran_wua_sum_intakeconsumption_invoicing_view_tree [data-id="difference_intakeconsumption_invoicing_company_02"]
{
  text-align: right;
}
.o_wua_cgrabaran_wua_sum_intakeconsumption_invoicing_view_tree [data-id="sum_intakeconsumption_company_03"]
{
  text-align: right;
}
.o_wua_cgrabaran_wua_sum_intakeconsumption_invoicing_view_tree [data-id="sum_invoicing_company_03"]
{
  text-align: right;
}
.o_wua_cgrabaran_wua_sum_intakeconsumption_invoicing_view_tree [data-id="difference_intakeconsumption_invoicing_company_03"]
{
  text-align: right;
}
