.o_wua_invoiceset_line_presconsumption_view_tree [data-id="area_total_company_g"] {
    text-align: right;
}

.o_wua_invoiceset_line_presconsumption_view_tree [data-id="area_total_company_r"] {
    text-align: right;
}

.o_wua_invoiceset_line_presconsumption_view_tree [data-id="area_total_company_t"] {
    text-align: right;
}
