/*  o_base_wua_pressurized_irrigation_weighing_view_tree */
.o_base_wua_pressurized_irrigation_weighing_view_tree  [data-id="name"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_weighing_view_tree  [data-field="name"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_weighing_view_tree  [data-id="weighing_date"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_weighing_view_tree  [data-field="weighing_date"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_weighing_view_tree  [data-id="agriculturalseason_id"]
{
  text-align: left;
}
.o_base_wua_pressurized_irrigation_weighing_view_tree  [data-field="agriculturalseason_id"]
{
  text-align: left;
}
.o_base_wua_pressurized_irrigation_weighing_view_tree  [data-id="amount"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_weighing_view_tree  [data-field="amount"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_weighing_view_tree  [data-id="price"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_weighing_view_tree  [data-field="price"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_weighing_view_tree  [data-id="production_value"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_weighing_view_tree  [data-field="production_value"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_weighing_view_tree  [data-id="production_total"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_weighing_view_tree  [data-field="production_total"]
{
  text-align: right;
}
/*  .o_base_wua_pressurized_irrigation_weighing_enrolledsubparcel_view_tree  */
.o_base_wua_pressurized_irrigation_weighing_enrolledsubparcel_view_tree  [data-id="agriculturalseason_id"]
{
  text-align: left;
}
.o_base_wua_pressurized_irrigation_weighing_enrolledsubparcel_view_tree  [data-field="agriculturalseason_id"]
{
  text-align: left;
}
.o_base_wua_pressurized_irrigation_weighing_enrolledsubparcel_view_tree  [data-id="area_official"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_weighing_enrolledsubparcel_view_tree  [data-field="area_official"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_weighing_enrolledsubparcel_view_tree  [data-id="amount_total"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_weighing_enrolledsubparcel_view_tree  [data-field="amount_total"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_weighing_enrolledsubparcel_view_tree  [data-id="production_value_total"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_weighing_enrolledsubparcel_view_tree  [data-field="production_value_total"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_weighing_enrolledsubparcel_view_tree  [data-id="average_price"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_weighing_enrolledsubparcel_view_tree  [data-field="average_price"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_weighing_enrolledsubparcel_view_tree  [data-id="performance_amount"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_weighing_enrolledsubparcel_view_tree  [data-field="performance_amount"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_weighing_enrolledsubparcel_view_tree  [data-id="performance_value"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_weighing_enrolledsubparcel_view_tree  [data-field="performance_value"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_weighing_enrolledsubparcel_view_tree  [data-id="number_of_weighings"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_weighing_enrolledsubparcel_view_tree  [data-field="number_of_weighings"]
{
  text-align: center;
}

/* o_base_wua_pressurized_irrigation_weighing_parcel_partnerlink_weighing_view_tree_notebook */
.o_base_wua_pressurized_irrigation_weighing_parcel_partnerlink_weighing_view_tree_notebook [data-id="partner_id"]
{
}
.o_base_wua_pressurized_irrigation_weighing_parcel_partnerlink_weighing_view_tree_notebook [data-field="partner_id"]
{
}
.o_base_wua_pressurized_irrigation_weighing_parcel_partnerlink_weighing_view_tree_notebook [data-id="irrigation_partner"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_weighing_parcel_partnerlink_weighing_view_tree_notebook [data-field="irrigation_partner"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_weighing_parcel_partnerlink_weighing_view_tree_notebook [data-id="profile"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_weighing_parcel_partnerlink_weighing_view_tree_notebook [data-field="profile"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_weighing_parcel_partnerlink_weighing_view_tree_notebook [data-id="ownership_percentage"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_weighing_parcel_partnerlink_weighing_view_tree_notebook [data-field="ownership_percentage"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_weighing_parcel_partnerlink_weighing_view_tree_notebook [data-id="water_costs_percentage"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_weighing_parcel_partnerlink_weighing_view_tree_notebook [data-field="water_costs_percentage"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_weighing_parcel_partnerlink_weighing_view_tree_notebook [data-id="other_costs_percentage"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_weighing_parcel_partnerlink_weighing_view_tree_notebook [data-field="other_costs_percentage"]
{
  text-align: right;
}
