/**/
/* wua.cropunit */
/**/
.o_base_wua_hydric_estimation_cropunit_view_tree [data-id="name"] {
    width: 19%;
    text-align: center;
}
.o_base_wua_hydric_estimation_cropunit_view_tree [data-field="name"] {
    text-align: center;
}
.o_base_wua_hydric_estimation_cropunit_view_tree [data-id="area_gis_ha"] {
    width: 6%;
    text-align: right;
}
.o_base_wua_hydric_estimation_cropunit_view_tree [data-id="parcel_id"] {
    width: 11%;
    text-align: center;
}
.o_base_wua_hydric_estimation_cropunit_view_tree [data-field="parcel_id"] {
     text-align: center;
}
.o_base_wua_hydric_estimation_cropunit_view_tree [data-id="partner_id"] {
    width: 19%;
}
.o_base_wua_hydric_estimation_cropunit_view_tree [data-id="cultivation_id"] {
    width: 8%;
}
.o_base_wua_hydric_estimation_cropunit_view_tree [data-id="order_number"] {
    width: 5%;
    text-align: center;
}
.o_base_wua_hydric_estimation_cropunit_view_tree [data-field="order_number"] {
     text-align: center;
}
.o_base_wua_hydric_estimation_cropunit_view_tree [data-id="initial_date"] {
    width: 7%;
    text-align: center;
}
.o_base_wua_hydric_estimation_cropunit_view_tree [data-field="initial_date"] {
     text-align: center;
}
.o_base_wua_hydric_estimation_cropunit_view_tree [data-id="end_date"] {
    width: 7%;
    text-align: center;
}
.o_base_wua_hydric_estimation_cropunit_view_tree [data-field="end_date"] {
     text-align: center;
}
.o_base_wua_hydric_estimation_cropunit_view_tree [data-id="current_controlperiod_total_gin"] {
    width: 7%;
    text-align: right;
}
.o_base_wua_hydric_estimation_cropunit_view_tree [data-field="state"] {
     text-align: center;
}
.o_base_wua_hydric_estimation_cropunit_view_tree [data-id="state"] {
    width: 11%;
    text-align: center;
}
.o_cropunit_kanban_image {
    text-align: center;
    vertical-align: middle;
}

/**/
/* wua.monitoringperiod */
/**/
.o_base_wua_hydric_estimation_monitoringperiod_view_tree [data-id="initial_date"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_hydric_estimation_monitoringperiod_view_tree [data-field="initial_date"] {
    text-align: center;
}
.o_base_wua_hydric_estimation_monitoringperiod_view_tree [data-id="end_date"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_hydric_estimation_monitoringperiod_view_tree [data-field="end_date"] {
    text-align: center;
}
.o_base_wua_hydric_estimation_monitoringperiod_view_tree [data-id="agriculturalseason_id"] {
    width: 40%;
}
.o_base_wua_hydric_estimation_monitoringperiod_view_tree [data-id="number_of_cropunits"] {
    width: 10%;
    text-align: right;
}
.o_base_wua_hydric_estimation_monitoringperiod_view_tree [data-id="number_of_hydricestimations"] {
    width: 10%;
    text-align: right;
}
.o_base_wua_hydric_estimation_monitoringperiod_view_tree [data-id="sum_total_gin"] {
    width: 10%;
    text-align: right;
}
.o_base_wua_hydric_estimation_monitoringperiod_view_tree [data-id="state"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_hydric_estimation_monitoringperiod_view_tree [data-field="state"] {
    text-align: center;
}