/* o_base_wua_pressurized_irrigation_with_fertilizer_massive_assignment_fertconsumptionset_view_tree */
.o_base_wua_pressurized_irrigation_with_fertilizer_massive_assignment_fertconsumptionset_view_tree [data-id="name"] {
    width: 40%;
    text-align: left;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_massive_assignment_fertconsumptionset_view_tree [data-field="name"] {
    text-align: left;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_massive_assignment_fertconsumptionset_view_tree [data-id="number_of_fertconsumptions"] {
    width: 20%;
    text-align: center;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_massive_assignment_fertconsumptionset_view_tree [data-field="number_of_fertconsumptions"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_massive_assignment_fertconsumptionset_view_tree [data-id="total_amount"] {
    width: 20%;
    text-align: right;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_massive_assignment_fertconsumptionset_view_tree [data-field="total_amount"] {
    text-align: right;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_massive_assignment_fertconsumptionset_view_tree [data-id="state"] {
    width: 20%;
    text-align: center;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_massive_assignment_fertconsumptionset_view_tree [data-field="state"] {
    text-align: center;
}

/* o_base_wua_pressurized_irrigation_with_fertilizer_massive_assignment_fertconsumptionset_line_view_tree o_list_editable */
.o_base_wua_pressurized_irrigation_with_fertilizer_massive_assignment_fertconsumptionset_line_view_tree [data-id="product_id"] {
    width: 25%;
    text-align: left;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_massive_assignment_fertconsumptionset_line_view_tree [data-field="product_id"] {
    text-align: left;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_massive_assignment_fertconsumptionset_line_view_tree [data-id="amount"] {
    width: 20%;
    text-align: right;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_massive_assignment_fertconsumptionset_line_view_tree [data-field="amount"] {
    text-align: right;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_massive_assignment_fertconsumptionset_line_view_tree [data-id="uom_id"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_massive_assignment_fertconsumptionset_line_view_tree [data-field="uom_id"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_massive_assignment_fertconsumptionset_line_view_tree [data-id="hydraulicsector_id"] {
    width: 20%;
    text-align: left;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_massive_assignment_fertconsumptionset_line_view_tree [data-field="hydraulicsector_id"] {
    text-align: left;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_massive_assignment_fertconsumptionset_line_view_tree [data-id="total_volume"] {
    width: 20%;
    text-align: right;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_massive_assignment_fertconsumptionset_line_view_tree [data-field="total_volume"] {
    text-align: right;
}
/* o_base_wua_pressurized_irrigation_with_fertilizer_massive_assignment_config_fertconsumptionset_line_view_tree */
.o_base_wua_pressurized_irrigation_with_fertilizer_massive_assignment_config_fertconsumptionset_line_view_tree [data-id="product_id"] {
    width: 25%;
    text-align: left;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_massive_assignment_config_fertconsumptionset_line_view_tree [data-field="product_id"] {
    text-align: left;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_massive_assignment_config_fertconsumptionset_line_view_tree [data-id="amount"] {
    width: 20%;
    text-align: right;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_massive_assignment_config_fertconsumptionset_line_view_tree [data-field="amount"] {
    text-align: right;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_massive_assignment_config_fertconsumptionset_line_view_tree [data-id="uom_id"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_massive_assignment_config_fertconsumptionset_line_view_tree [data-field="uom_id"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_massive_assignment_config_fertconsumptionset_line_view_tree [data-id="hydraulicsector_id"] {
    width: 20%;
    text-align: left;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_massive_assignment_config_fertconsumptionset_line_view_tree [data-field="hydraulicsector_id"] {
    text-align: left;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_massive_assignment_config_fertconsumptionset_line_view_tree [data-id="total_volume"] {
    width: 20%;
    text-align: right;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_massive_assignment_config_fertconsumptionset_line_view_tree [data-field="total_volume"] {
    text-align: right;
}