/**/
/* wua.flowreading */
/**/
.o_base_wua_irrigation_measurement_flowreading_view_tree [data-id="from_import"] {
    text-align: center;
}

.o_base_wua_irrigation_measurement_flowreading_view_tree [data-field="from_import"] {
    text-align: center;
}

/**/
/* wua.waterpipeflowreading */
/**/
.o_base_wua_waterpipe_measurement_waterpipeflowreading_view_tree [data-id="from_import"] {
    text-align: center;
}

.o_base_wua_waterpipe_measurement_waterpipeflowreading_view_tree [data-field="from_import"] {
    text-align: center;
}