/**/
/* wua.negative.flowreading */
/**/
.o_base_wua_remotecontrol_rest_infrastructure_negative_flowreadings_view_tree [data-id="flowmeter_id"] {
    width: 13%;
}

.o_base_wua_remotecontrol_rest_infrastructure_negative_flowreadings_view_tree [data-field="flowmeter_id"] {
    text-align: center;
}

.o_base_wua_remotecontrol_rest_infrastructure_negative_flowreadings_view_tree [data-id="intake_id"] {
    width: 18%;
}

.o_base_wua_remotecontrol_rest_infrastructure_negative_flowreadings_view_tree [data-id="waterpipe_id"] {
    width: 18%;
}

.o_base_wua_remotecontrol_rest_infrastructure_negative_flowreadings_view_tree [data-id="reading_time"] {
    width: 13%;
    text-align: center;
}

.o_base_wua_remotecontrol_rest_infrastructure_negative_flowreadings_view_tree [data-field="reading_time"] {
    text-align: center;
}

.o_base_wua_remotecontrol_rest_infrastructure_negative_flowreadings_view_tree [data-id="volume"] {
    width: 13%;
    text-align: right;
}

.o_base_wua_remotecontrol_rest_infrastructure_negative_flowreadings_view_tree [data-field="volume"] {
    text-align: right;
}

.o_base_wua_remotecontrol_rest_infrastructure_negative_flowreadings_view_tree [data-id="instant_flow"] {
    width: 12%;
    text-align: right;
}

.o_base_wua_remotecontrol_rest_infrastructure_negative_flowreadings_view_tree [data-field="instant_flow"] {
    text-align: right;
}

.o_base_wua_remotecontrol_rest_infrastructure_negative_flowreadings_view_tree [data-id="consumption_volume"] {
    width: 13%;
    text-align: right;
}

.o_base_wua_remotecontrol_rest_infrastructure_negative_flowreadings_view_tree [data-field="consumption_volume"] {
    text-align: right;
}

/**/
/* wua.flowreading */
/**/
.o_base_wua_irrigation_measurement_flowreading_view_tree [data-id="from_import"] {
    text-align: center;
}

.o_base_wua_irrigation_measurement_flowreading_view_tree [data-field="from_import"] {
    text-align: center;
}

/**/
/* wua.waterpipeflowreading */
/**/
.o_base_wua_waterpipe_measurement_waterpipeflowreading_view_tree [data-id="from_import"] {
    text-align: center;
}

.o_base_wua_waterpipe_measurement_waterpipeflowreading_view_tree [data-field="from_import"] {
    text-align: center;
}