/* ## Invoice-set line for irrigation reports tree view ## */
/* irrigationreport_number */
.o_base_wua_invoicing_irrigationreport_wua_invoiceset_line_irrigationreport_view_tree [data-field="irrigationreport_number"] {
    text-align: center;
}
.o_base_wua_invoicing_irrigationreport_wua_invoiceset_line_irrigationreport_view_tree [data-id="irrigationreport_number"] {
    text-align: center;
}

/* report_initial_time */
.o_base_wua_invoicing_irrigationreport_wua_invoiceset_line_irrigationreport_view_tree [data-field="report_initial_time"] {
    text-align: center;
}
.o_base_wua_invoicing_irrigationreport_wua_invoiceset_line_irrigationreport_view_tree [data-id="report_initial_time"] {
    text-align: center;
}

/* report_end_time */
.o_base_wua_invoicing_irrigationreport_wua_invoiceset_line_irrigationreport_view_tree [data-field="report_end_time"] {
    text-align: center;
}
.o_base_wua_invoicing_irrigationreport_wua_invoiceset_line_irrigationreport_view_tree [data-id="report_end_time"] {
    text-align: center;
}

/* volume_real */
.o_base_wua_invoicing_irrigationreport_wua_invoiceset_line_irrigationreport_view_tree [data-field="volume_real"] {
    text-align: right;
}
.o_base_wua_invoicing_irrigationreport_wua_invoiceset_line_irrigationreport_view_tree [data-id="volume_real"] {
    text-align: right;
}

/* ## Irrigation reports tree view ## */
/* agriculturalseason_id */
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-field="agriculturalseason_id"] {
    text-align: left;
}
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-id="agriculturalseason_id"] {
    width: 12%;
    text-align: left;
}

/* intake_id */
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-field="intake_id"] {
    text-align: left;
}
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-id="intake_id"] {
    width: 8%;
    text-align: left;
}

/* product_id */
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-field="product_id"] {
    text-align: left;
}
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-id="product_id"] {
    width: 8%;
    text-align: left;
}

/* irrigationreport_number */
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-field="irrigationreport_number"] {
    text-align: center;
}
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-id="irrigationreport_number"] {
    width: 4%;
    text-align: center;
}

/* report_initial_time */
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-field="report_initial_time"] {
    text-align: center;
}
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-id="report_initial_time"] {
    width: 6%;
    text-align: center;
}

/* report_end_time */
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-field="report_end_time"] {
    text-align: center;
}
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-id="report_end_time"] {
    width: 6%;
    text-align: center;
}

/* partner_id */
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-field="partner_id"] {
    text-align: left;
}
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-id="partner_id"] {
    width: 14%;
    text-align: left;
}

/* hours */
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-field="hours"] {
    text-align: right;
}
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-id="hours"] {
    width: 4%;
    text-align: right;
}

/* volume */
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-field="volume"] {
    text-align: right;
}
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-id="volume"] {
    width: 7%;
    text-align: right;
}

/* adjustement_volume */
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-field="adjustement_volume"] {
    text-align: right;
}
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-id="adjustement_volume"] {
    width: 7%;
    text-align: right;
}

/* volume_real */
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-field="volume_real"] {
    text-align: right;
}
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-id="volume_real"] {
    width: 7%;
    text-align: right;
}

/* invoiced */
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-field="invoiced"] {
    text-align: center;
}
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-id="invoiced"] {
    text-align: center;
}

/* state */
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-field="state"] {
    text-align: center;
}
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-id="state"] {
    width: 6%;
    text-align: center;
}

