/* ## Invoice-set line for irrigation reports tree view ## */
/* irrigationreport_number */
.o_base_wua_invoicing_irrigationreport_wua_invoiceset_line_irrigationreport_view_tree [data-field="irrigationreport_number"] {
    text-align: center;
}
.o_base_wua_invoicing_irrigationreport_wua_invoiceset_line_irrigationreport_view_tree [data-id="irrigationreport_number"] {
    text-align: center;
}

/* report_initial_time */
.o_base_wua_invoicing_irrigationreport_wua_invoiceset_line_irrigationreport_view_tree [data-field="report_initial_time"] {
    text-align: center;
}
.o_base_wua_invoicing_irrigationreport_wua_invoiceset_line_irrigationreport_view_tree [data-id="report_initial_time"] {
    text-align: center;
}

/* report_end_time */
.o_base_wua_invoicing_irrigationreport_wua_invoiceset_line_irrigationreport_view_tree [data-field="report_end_time"] {
    text-align: center;
}
.o_base_wua_invoicing_irrigationreport_wua_invoiceset_line_irrigationreport_view_tree [data-id="report_end_time"] {
    text-align: center;
}

/* volume_real */
.o_base_wua_invoicing_irrigationreport_wua_invoiceset_line_irrigationreport_view_tree [data-field="volume_real"] {
    text-align: right;
}
.o_base_wua_invoicing_irrigationreport_wua_invoiceset_line_irrigationreport_view_tree [data-id="volume_real"] {
    text-align: right;
}

/* ## Irrigation reports tree view ## */
/* product_id */
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-field="product_id"] {
    text-align: left;
}
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-id="product_id"] {
    width: 8%;
    text-align: left;
}

/* invoiced */
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-field="invoiced"] {
    text-align: center;
}
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-id="invoiced"] {
    text-align: center;
}
