/**/
/* wua.hydricmovement */
/**/
.o_base_wua_quota_management_hydricmovement_view_tree [data-id="invoiced_hydricmovement"]
{
  text-align: center;
}
.o_base_wua_quota_management_hydricmovement_view_tree [data-field="invoiced_hydricmovement"]
{
  text-align: center;
}
.o_base_wua_quota_management_hydricmovement_view_tree [data-id="number_of_invoices"]
{
  text-align: center;
}

.o_base_wua_quota_management_hydricmovement_view_tree [data-field="number_of_invoices"]
{
  text-align: center;
}
/**/
/* wua.invoiceset.line.hydricmovement */
/**/
.o_base_wua_invoicing_hydricmovement_wua_invoiceset_line_hydricmovement_view_tree [data-id="hydricmovement_id"]
{
  width: 22%;
}
.o_base_wua_invoicing_hydricmovement_wua_invoiceset_line_hydricmovement_view_tree [data-id="quotaperiod_id"]
{
  width: 13%;
  text-align: center;
}
.o_base_wua_invoicing_hydricmovement_wua_invoiceset_line_hydricmovement_view_tree [data-field="quotaperiod_id"]
{
  text-align: center;
}
.o_base_wua_invoicing_hydricmovement_wua_invoiceset_line_hydricmovement_view_tree [data-id="superproduct_id"]
{
  width: 9%;
}
.o_base_wua_invoicing_hydricmovement_wua_invoiceset_line_hydricmovement_view_tree [data-id="partner_id"]
{
  width: 15%;
}
.o_base_wua_invoicing_hydricmovement_wua_invoiceset_line_hydricmovement_view_tree [data-id="event_time"]
{
  width: 9%;
  text-align: center;
}
.o_base_wua_invoicing_hydricmovement_wua_invoiceset_line_hydricmovement_view_tree [data-field="event_time"]
{
  text-align: center;
}
.o_base_wua_invoicing_hydricmovement_wua_invoiceset_line_hydricmovement_view_tree [data-id="volume"]
{
  text-align: right;
  width: 7%;
}
.o_base_wua_invoicing_hydricmovement_wua_invoiceset_line_hydricmovement_view_tree [data-id="description"]
{
  width: 16%;
}
.o_base_wua_invoicing_hydricmovement_wua_invoiceset_line_hydricmovement_view_tree [data-id="number_of_invoices"]
{
  width: 9%;
  text-align: center;
}
.o_base_wua_invoicing_hydricmovement_wua_invoiceset_line_hydricmovement_view_tree [data-field="number_of_invoices"]
{
  text-align: center;
}