.o_base_wua_invoicing_invoiceset_view_tree [data-id="name"] {
    width: 10%;
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_view_tree [data-field="name"] {
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_view_tree [data-id="description"] {
    width: 14%;
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_view_tree [data-id="journal_id"] {
    width: 15%;
}

.o_base_wua_invoicing_invoiceset_view_tree [data-id="date_invoiceset"] {
    width: 7%;
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_view_tree [data-field="date_invoiceset"] {
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_view_tree [data-id="date_due_invoiceset"] {
    width: 7%;
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_view_tree [data-field="date_due_invoiceset"] {
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_view_tree [data-id="user_id"] {
    width: 11%;
}

.o_base_wua_invoicing_invoiceset_view_tree [data-id="number_of_invoices"] {
    width: 6%;
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_view_tree [data-field="number_of_invoices"] {
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_view_tree [data-id="amount_untaxed"] {
    width: 7%;
    text-align: right;
}

.o_base_wua_invoicing_invoiceset_view_tree [data-id="amount_tax"] {
    width: 8%;
    text-align: right;
}

.o_base_wua_invoicing_invoiceset_view_tree [data-id="amount_total"] {
    width: 7%;
    text-align: right;
}

.o_base_wua_invoicing_invoiceset_view_tree [data-id="state"] {
    width: 8%;
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_view_tree [data-field="state"] {
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_view_tree_notebook [data-id="pos_str"] {
    width: 6%;
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_view_tree_notebook [data-field="pos_str"] {
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_view_tree_notebook [data-id="product_id"] {
    width: 19%;
}

.o_base_wua_invoicing_invoiceset_line_view_tree_notebook [data-id="linkable_unit_type"] {
    width: 14%;
}

.o_base_wua_invoicing_invoiceset_line_view_tree_notebook [data-id="quantity"] {
    width: 8%;
    text-align: right;
}

.o_base_wua_invoicing_invoiceset_line_view_tree_notebook [data-id="price_unit"] {
    width: 8%;
    text-align: right;
}

.o_base_wua_invoicing_invoiceset_line_view_tree_notebook [data-id="amount_untaxed"] {
    width: 11%;
    text-align: right;
}

.o_base_wua_invoicing_invoiceset_line_view_tree_notebook [data-id="taxes_id"] {
    width: 14%;
}

.o_base_wua_invoicing_invoiceset_line_view_tree_notebook [data-id="amount_tax"] {
    width: 9%;
    text-align: right;
}

.o_base_wua_invoicing_invoiceset_line_view_tree_notebook [data-id="amount_total"] {
    width: 11%;
    text-align: right;
}

.o_base_wua_invoicing_invoiceset_line_view_tree_config [data-id="pos_str"] {
    width: 10%;
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_view_tree_config [data-field="pos_str"] {
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_view_tree_config [data-id="product_id"] {
    width: 30%;
}

.o_base_wua_invoicing_invoiceset_line_view_tree_config [data-id="categ_id"] {
    width: 30%;
}

.o_base_wua_invoicing_invoiceset_line_view_tree_config [data-id="linkable_unit_type"] {
    width: 30%;
}

.o_base_wua_invoicing_invoiceset_line_parcel_view_tree [data-id="parcel_id"] {
    width: 12%;
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_parcel_view_tree [data-field="parcel_id"] {
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_parcel_view_tree [data-id="partner_id"] {
    width: 22%;
}

.o_base_wua_invoicing_invoiceset_line_parcel_view_tree [data-id="cadastral_reference"] {
    width: 12%;
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_parcel_view_tree [data-field="cadastral_reference"] {
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_parcel_view_tree [data-id="area_official"] {
    width: 9%;
    text-align: right;
}

.o_base_wua_invoicing_invoiceset_line_parcel_view_tree [data-id="leased_parcel"] {
    width: 9%;
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_parcel_view_tree [data-field="leased_parcel"] {
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_parcel_view_tree [data-id="hydraulicsector_id"] {
    width: 18%;
}

.o_base_wua_invoicing_invoiceset_line_parcel_view_tree [data-id="irrigationditch_id"] {
    width: 18%;
}

.o_base_wua_invoicing_invoiceset_line_partner_view_tree [data-id="partner_id"] {
    width: 24%;
}

.o_base_wua_invoicing_invoiceset_line_partner_view_tree [data-id="number_of_votes"] {
    width: 7%;
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_partner_view_tree [data-field="number_of_votes"] {
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_partner_view_tree [data-id="is_owner"] {
    width: 6%;
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_partner_view_tree [data-field="is_owner"] {
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_partner_view_tree [data-id="parcel_owner_number"] {
    width: 7%;
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_partner_view_tree [data-field="parcel_owner_number"] {
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_partner_view_tree [data-id="parcel_owner_area"] {
    width: 8%;
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_partner_view_tree [data-id="is_lessee"] {
    width: 6%;
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_partner_view_tree [data-field="is_lessee"] {
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_partner_view_tree [data-id="parcel_lessee_number"] {
    width: 7%;
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_partner_view_tree [data-field="parcel_lessee_number"] {
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_partner_view_tree [data-id="parcel_lessee_area"] {
    width: 8%;
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_partner_view_tree [data-id="is_payer"] {
    width: 6%;
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_partner_view_tree [data-field="is_payer"] {
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_partner_view_tree [data-id="parcel_payer_number"] {
    width: 7%;
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_partner_view_tree [data-field="parcel_payer_number"] {
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_partner_view_tree [data-id="parcel_payer_area"] {
    width: 8%;
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_partner_view_tree [data-id="is_company"] {
    width: 6%;
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_partner_view_tree [data-field="is_company"] {
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_waterconnection_view_tree [data-id="waterconnection_id"] {
    width: 16%;
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_waterconnection_view_tree [data-field="waterconnection_id"] {
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_waterconnection_view_tree [data-id="irrigationshed_id"] {
    width: 14%;
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_waterconnection_view_tree [data-field="irrigationshed_id"] {
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_waterconnection_view_tree [data-id="hydraulicsector_id"] {
    width: 28%;
}

.o_base_wua_invoicing_invoiceset_line_waterconnection_view_tree [data-id="position"] {
    text-align: center;
    width: 14%;
}

.o_base_wua_invoicing_invoiceset_line_waterconnection_view_tree [data-field="position"] {
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_waterconnection_view_tree [data-id="number_of_parcels"] {
    width: 14%;
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_waterconnection_view_tree [data-field="number_of_parcels"] {
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_waterconnection_view_tree [data-id="total_affected_area_official"] {
    width: 14%;
    text-align: right;
}

.o_base_wua_invoicing_invoiceset_line_irrigationgate_view_tree [data-id="irrigationgate_id"] {
    width: 16%;
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_irrigationgate_view_tree [data-field="irrigationgate_id"] {
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_irrigationgate_view_tree [data-id="irrigationditch_id"] {
    width: 42%;
}

.o_base_wua_invoicing_invoiceset_line_irrigationgate_view_tree [data-id="hydraulic_order"] {
    width: 14%;
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_irrigationgate_view_tree [data-field="hydraulic_order"] {
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_irrigationgate_view_tree [data-id="number_of_parcels"] {
    width: 14%;
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_line_irrigationgate_view_tree [data-field="number_of_parcels"] {
    text-align: center;
}


.o_base_wua_invoicing_invoiceset_line_irrigationgate_view_tree [data-id="total_affected_area_official"] {
    width: 14%;
    text-align: right;
}

.o_base_wua_invoicing_invoice_line_view_tree [data-id="invoiceset_id"] {
    width: 14%;
}

.o_base_wua_invoicing_invoice_line_view_tree [data-id="invoice_id"] {
    width: 10%;
    text-align: center;
}

.o_base_wua_invoicing_invoice_line_view_tree [data-field="invoice_id"] {
    text-align: center;
}

.o_base_wua_invoicing_invoice_line_view_tree [data-id="date_invoice"] {
    width: 8%;
    text-align: center;
}

.o_base_wua_invoicing_invoice_line_view_tree [data-field="date_invoice"] {
    text-align: center;
}

.o_base_wua_invoicing_invoice_line_view_tree [data-id="partner_id"] {
    width: 18%;
}

.o_base_wua_invoicing_invoice_line_view_tree [data-id="product_id"] {
    width: 12%;
}

.o_base_wua_invoicing_invoice_line_view_tree [data-id="name"] {
    width: 20%;
}

.o_base_wua_invoicing_invoice_line_view_tree [data-id="quantity"] {
    width: 6%;
    text-align: right;
}

.o_base_wua_invoicing_invoice_line_view_tree [data-id="price_unit"] {
    width: 6%;
    text-align: right;
}

.o_base_wua_invoicing_invoice_line_view_tree [data-id="price_subtotal"] {
    width: 6%;
    text-align: right;
}

.o_base_wua_invoicing_invoice_line_partner_view_tree [data-id="invoiceset_id"] {
    width: 14%;
}

.o_base_wua_invoicing_invoice_line_partner_view_tree [data-id="invoice_id"] {
    width: 10%;
    text-align: center;
}

.o_base_wua_invoicing_invoice_line_partner_view_tree [data-field="invoice_id"] {
    text-align: center;
}

.o_base_wua_invoicing_invoice_line_partner_view_tree [data-id="date_invoice"] {
    width: 8%;
    text-align: center;
}

.o_base_wua_invoicing_invoice_line_partner_view_tree [data-field="date_invoice"] {
    text-align: center;
}

.o_base_wua_invoicing_invoice_line_partner_view_tree [data-id="product_id"] {
    width: 20%;
}

.o_base_wua_invoicing_invoice_line_partner_view_tree [data-id="name"] {
    width: 30%;
}

.o_base_wua_invoicing_invoice_line_partner_view_tree [data-id="quantity"] {
    width: 6%;
    text-align: right;
}

.o_base_wua_invoicing_invoice_line_partner_view_tree [data-id="price_unit"] {
    width: 6%;
    text-align: right;
}

.o_base_wua_invoicing_invoice_line_partner_view_tree [data-id="price_subtotal"] {
    width: 6%;
    text-align: right;
}

.o_base_wua_invoicing_invoice_line_product_view_tree [data-id="invoiceset_id"] {
    width: 14%;
}

.o_base_wua_invoicing_invoice_line_product_view_tree [data-id="invoice_id"] {
    width: 10%;
    text-align: center;
}

.o_base_wua_invoicing_invoice_line_product_view_tree [data-field="invoice_id"] {
    text-align: center;
}

.o_base_wua_invoicing_invoice_line_product_view_tree [data-id="date_invoice"] {
    width: 8%;
    text-align: center;
}

.o_base_wua_invoicing_invoice_line_product_view_tree [data-field="date_invoice"] {
    text-align: center;
}

.o_base_wua_invoicing_invoice_line_product_view_tree [data-id="partner_id"] {
    width: 20%;
}

.o_base_wua_invoicing_invoice_line_product_view_tree [data-id="name"] {
    width: 30%;
}

.o_base_wua_invoicing_invoice_line_product_view_tree [data-id="quantity"] {
    width: 6%;
    text-align: right;
}

.o_base_wua_invoicing_invoice_line_product_view_tree [data-id="price_unit"] {
    width: 6%;
    text-align: right;
}

.o_base_wua_invoicing_invoice_line_product_view_tree [data-id="price_subtotal"] {
    width: 6%;
    text-align: right;
}