/* ## Report Requests tree view ## */
/* request_date width: 12%; */
.o_base_wua_irrigationsrequest_irrigationsrequest_view_tree [data-field="request_date"] {
    text-align: center;
}
.o_base_wua_irrigationsrequest_irrigationsrequest_view_tree [data-id="request_date"] {
    text-align: center;
}
/* parcel_id */
.o_base_wua_irrigationsrequest_irrigationsrequest_view_tree [data-field="parcel_id"] {
    text-align: center;
}
.o_base_wua_irrigationsrequest_irrigationsrequest_view_tree [data-id="parcel_id"] {
    text-align: center;
}
/* volume */
.o_base_wua_irrigationsrequest_irrigationsrequest_view_tree [data-field="volume"] {
    text-align: right;
}
.o_base_wua_irrigationsrequest_irrigationsrequest_view_tree [data-id="volume"] {
    text-align: right;
}

/* number_of_irrigations */
.o_base_wua_irrigationsrequest_irrigationsrequest_view_tree [data-field="number_of_irrigations"] {
    text-align: center;
}
.o_base_wua_irrigationsrequest_irrigationsrequest_view_tree [data-id="number_of_irrigations"] {
    text-align: center;
}
/* irrigationsrequest_code */
.o_base_wua_irrigationsrequest_irrigationsrequest_view_tree [data-field="irrigationsrequest_code"] {
    text-align: center;
}
.o_base_wua_irrigationsrequest_irrigationsrequest_view_tree [data-id="irrigationsrequest_code"] {
    text-align: center;
}
/* irrigationsrequest_number */
.o_base_wua_irrigationsrequest_irrigationsrequest_view_tree [data-field="irrigationsrequest_number"] {
    text-align: center;
}
.o_base_wua_irrigationsrequest_irrigationsrequest_view_tree [data-id="irrigationsrequest_number"] {
    text-align: center;
}

