/**/
/* wua.readingperiod */
/**/
.o_base_wua_pressurized_irrigation_readingperiod_view_tree [data-id="agriculturalseason_id"] {
    width: 16%;
}
.o_base_wua_pressurized_irrigation_readingperiod_view_tree [data-id="initial_date"] {
    width: 12%;
    text-align: center;
}
.o_base_wua_pressurized_irrigation_readingperiod_view_tree [data-field="initial_date"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_readingperiod_view_tree [data-id="end_date"] {
    width: 12%;
    text-align: center;
}
.o_base_wua_pressurized_irrigation_readingperiod_view_tree [data-field="end_date"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_readingperiod_view_tree [data-id="number_of_irrigationsheds"] {
    width: 12%;
    text-align: center;
}
.o_base_wua_pressurized_irrigation_readingperiod_view_tree [data-field="number_of_irrigationsheds"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_readingperiod_view_tree [data-id="number_of_waterconnections"] {
    width: 12%;
    text-align: center;
}
.o_base_wua_pressurized_irrigation_readingperiod_view_tree [data-field="number_of_waterconnections"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_readingperiod_view_tree [data-id="sectors"] {
    width: 16%;
}
.o_base_wua_pressurized_irrigation_readingperiod_view_tree [data-id="state"] {
    width: 12%;
    text-align: center;
}
.o_base_wua_pressurized_irrigation_readingperiod_view_tree [data-field="state"] {
    text-align: center;
}
/**/
/* wua.readingperiod.line */
/**/
.o_base_wua_pressurized_irrigation_readingperiod_line_view_tree [data-id="hydraulicsector_id"] {
    width: 36%;
}
.o_base_wua_pressurized_irrigation_readingperiod_line_view_tree [data-id="number_of_irrigationsheds"] {
    width: 20%;
    text-align: center;
}
.o_base_wua_pressurized_irrigation_readingperiod_line_view_tree [data-field="number_of_irrigationsheds"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_readingperiod_line_view_tree [data-id="number_of_waterconnections"] {
    width: 20%;
    text-align: center;
}
.o_base_wua_pressurized_irrigation_readingperiod_line_view_tree [data-field="number_of_waterconnections"] {
    text-align: center;
}

/**/
/* wua.readingperiod.config.line */
/**/

.o_base_wua_pressurized_irrigation_config_readingperiod_line_view_tree [data-id="number_of_irrigationsheds"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_config_readingperiod_line_view_tree [data-field="number_of_irrigationsheds"] {
    text-align: center;
}

/**/
/* wua.readingperiod.line.irrigationshed */
/**/
.o_base_wua_pressurized_irrigation_readingperiod_line_irrigationshed_view_tree [data-id="irrigationshed_id"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_readingperiod_line_irrigationshed_view_tree [data-field="irrigationshed_id"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_readingperiod_line_irrigationshed_view_tree [data-id="hydraulicsector_id"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_readingperiod_line_irrigationshed_view_tree [data-field="hydraulicsector_id"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_readingperiod_line_irrigationshed_view_tree [data-id="elevation"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_readingperiod_line_irrigationshed_view_tree [data-field="elevation"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_readingperiod_line_irrigationshed_view_tree [data-id="total_affected_area_official_hec"] {
    text-align: right;
}
.o_base_wua_pressurized_irrigation_readingperiod_line_irrigationshed_view_tree [data-id="number_of_waterconnections"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_readingperiod_line_irrigationshed_view_tree [data-field="number_of_waterconnections"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_readingperiod_line_irrigationshed_view_tree [data-id="number_of_parcels"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_readingperiod_line_irrigationshed_view_tree [data-field="number_of_parcels"] {
    text-align: center;
}
/**/
/* wua.readingperiod.line.irrigationshed.readonly */
/**/
.o_base_wua_pressurized_irrigation_readingperiod_line_irrigationshed_readonly_view_tree [data-id="irrigationshed_id"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_readingperiod_line_irrigationshed_readonly_view_tree [data-field="irrigationshed_id"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_readingperiod_line_irrigationshed_readonly_view_tree [data-id="elevation"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_readingperiod_line_irrigationshed_readonly_view_tree [data-field="elevation"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_readingperiod_line_irrigationshed_readonly_view_tree [data-id="total_affected_area_official_hec"] {
    text-align: right;
}
.o_base_wua_pressurized_irrigation_readingperiod_line_irrigationshed_readonly_view_tree [data-id="number_of_waterconnections"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_readingperiod_line_irrigationshed_readonly_view_tree [data-field="number_of_waterconnections"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_readingperiod_line_irrigationshed_readonly_view_tree [data-id="number_of_parcels"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_readingperiod_line_irrigationshed_readonly_view_tree [data-field="number_of_parcels"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_readingperiod_line_irrigationshed_readonly_view_tree [data-field="is_visited"] {
    text-align: center;
}
