.o_base_wua_pressurized_irrigation_request_view_tree [data-id="is_open"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_request_view_tree [data-field="is_open"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_request_view_tree [data-id="is_portal_user"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_request_view_tree [data-field="is_portal_user"] {
    text-align: center;
}