/**/
/* wua.controlhydricmovement (within quota view form) */
/**/
.o_base_wua_quota_management_with_provisional_quota_sorted_controlhydricmovement_of_quota_view_tree [data-id="event_time"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_quota_management_with_provisional_quota_sorted_controlhydricmovement_of_quota_view_tree [data-field="event_time"] {
    text-align: center;
}
.o_base_wua_quota_management_with_provisional_quota_sorted_controlhydricmovement_of_quota_view_tree [data-id="description"] {
    width: 80%;
}
.o_base_wua_quota_management_with_provisional_quota_sorted_controlhydricmovement_of_quota_view_tree [data-id="accounting_volume"] {
    width: 10%;
    text-align: right;
}