/**/
/* o_base_wua_quota_management_watertransfer_view_tree */
/**/
.o_base_wua_quota_management_watertransfer_view_tree [data-id="superproduct_id"] {
    text-align: left;
}
.o_base_wua_quota_management_watertransfer_view_tree [data-field="superproduct_id"] {
    text-align: left;
}
.o_base_wua_quota_management_watertransfer_view_tree [data-id="receiver_superproduct_id"] {
    text-align: left;
}
.o_base_wua_quota_management_watertransfer_view_tree [data-field="receiver_superproduct_id"] {
    text-align: left;
}
.o_base_wua_quota_management_watertransfer_view_tree [data-id="partner_id"] {
    text-align: left;
}
.o_base_wua_quota_management_watertransfer_view_tree [data-field="partner_id"] {
    text-align: left;
}
.o_base_wua_quota_management_watertransfer_view_tree [data-id="quotaperiod_id"] {
    text-align: center;
}
.o_base_wua_quota_management_watertransfer_view_tree [data-field="quotaperiod_id"] {
    text-align: center;
}
.o_base_wua_quota_management_watertransfer_view_tree [data-id="quotaperiod_id"] {
    text-align: center;
}
.o_base_wua_quota_management_watertransfer_view_tree [data-field="quotaperiod_id"] {
    text-align: center;
}
.o_base_wua_quota_management_watertransfer_view_tree [data-id="event_time"] {
    text-align: center;
}
.o_base_wua_quota_management_watertransfer_view_tree [data-field="event_time"] {
    text-align: center;
}
.o_base_wua_quota_management_watertransfer_view_tree [data-id="volume"] {
    text-align: right;
}
.o_base_wua_quota_management_watertransfer_view_tree [data-field="volume"] {
    text-align: right;
}