.o_base_wua_invoicing_pressurized_irrigation_with_fertilizer_invoiceset_line_fertconsumption_view_tree [data-field="fertconsumption_id"] {
  text-align: left;
}
.o_base_wua_invoicing_pressurized_irrigation_with_fertilizer_invoiceset_line_fertconsumption_view_tree [data-id="fertconsumption_id"] {
  text-align: left;
}
.o_base_wua_invoicing_pressurized_irrigation_with_fertilizer_invoiceset_line_fertconsumption_view_tree [data-field="waterconnection_id"] {
  text-align: center;
}
.o_base_wua_invoicing_pressurized_irrigation_with_fertilizer_invoiceset_line_fertconsumption_view_tree [data-id="waterconnection_id"] {
  text-align: center;
}
.o_base_wua_invoicing_pressurized_irrigation_with_fertilizer_invoiceset_line_fertconsumption_view_tree [data-field="irrigationshed_id"] {
  text-align: center;
}
.o_base_wua_invoicing_pressurized_irrigation_with_fertilizer_invoiceset_line_fertconsumption_view_tree [data-id="irrigationshed_id"] {
  text-align: center;
}
.o_base_wua_invoicing_pressurized_irrigation_with_fertilizer_invoiceset_line_fertconsumption_view_tree [data-field="hydraulicsector_id"] {
  text-align: center;
}
.o_base_wua_invoicing_pressurized_irrigation_with_fertilizer_invoiceset_line_fertconsumption_view_tree [data-id="hydraulicsector_id"] {
  text-align: center;
}
.o_base_wua_invoicing_pressurized_irrigation_with_fertilizer_invoiceset_line_fertconsumption_view_tree [data-field="reading_initial_time"] {
  text-align: center;
}
.o_base_wua_invoicing_pressurized_irrigation_with_fertilizer_invoiceset_line_fertconsumption_view_tree [data-id="reading_initial_time"] {
  text-align: center;
}
.o_base_wua_invoicing_pressurized_irrigation_with_fertilizer_invoiceset_line_fertconsumption_view_tree [data-field="reading_end_time"] {
  text-align: center;
}
.o_base_wua_invoicing_pressurized_irrigation_with_fertilizer_invoiceset_line_fertconsumption_view_tree [data-id="reading_end_time"] {
  text-align: center;
}
.o_base_wua_invoicing_pressurized_irrigation_with_fertilizer_invoiceset_line_fertconsumption_view_tree [data-field="amount"] {
  text-align: right;
}
.o_base_wua_invoicing_pressurized_irrigation_with_fertilizer_invoiceset_line_fertconsumption_view_tree [data-id="amount"] {
  text-align: right;
}
.o_base_wua_invoicing_pressurized_irrigation_with_fertilizer_invoiceset_line_fertconsumption_view_tree [data-field="uom_id"] {
  text-align: center;
}
.o_base_wua_invoicing_pressurized_irrigation_with_fertilizer_invoiceset_line_fertconsumption_view_tree [data-id="uom_id"] {
  text-align: center;
}
.o_base_wua_invoicing_pressurized_irrigation_with_fertilizer_invoiceset_line_fertconsumption_view_tree [data-field="with_presconsumption"] {
  text-align: center;
}
.o_base_wua_invoicing_pressurized_irrigation_with_fertilizer_invoiceset_line_fertconsumption_view_tree [data-id="with_presconsumption"] {
  text-align: center;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_consumptions_view_tree [data-field="product_id"] {
  text-align: left;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_consumptions_view_tree [data-id="product_id"] {
  text-align: left;
  width: 8%;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_consumptions_view_tree [data-field="uom_id"] {
  text-align: center;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_consumptions_view_tree [data-id="uom_id"] {
  text-align: center;
  width: 8%;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_consumptions_view_tree [data-id="presconsumption_id"] {
  width: 18%;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_consumptions_view_tree [data-id="invoiceset_id"] {
  width: 15%;
}
