/* ## Flowdata tree view ## */
.o_base_wua_flowdata_view_tree [data-field="flow"] {
    text-align: right;
}
.o_base_wua_flowdata_view_tree [data-id="flow"] {
    text-align: right;
}
.o_base_wua_flowdata_view_tree [data-field="time"] {
    text-align: center;
}
.o_base_wua_flowdata_view_tree [data-id="time"] {
    text-align: center;
}

