/* ## Agricultural season tree view ## */
/* initial date */
.o_base_wua_irrigationreport_agriculturalseason_view_tree [data-field="initial_date"] {
    text-align: center;
    width: 15%;
}
.o_base_wua_irrigationreport_agriculturalseason_view_tree [data-id="initial_date"] {
    text-align: center;
    width: 15%;
}

/* end date */
.o_base_wua_irrigationreport_agriculturalseason_view_tree [data-field="end_date"] {
    text-align: center;
}
.o_base_wua_irrigationreport_agriculturalseason_view_tree [data-id="end_date"] {
    text-align: center;
    width: 15%;
}

/* description */
.o_base_wua_irrigationreport_agriculturalseason_view_tree [data-field="description"] {
    text-align: left;
    width: 40%;
}
.o_base_wua_irrigationreport_agriculturalseason_view_tree [data-id="description"] {
    text-align: left;
    width: 40%;
}

/* number_of_irrigationreports */
.o_base_wua_irrigationreport_agriculturalseason_view_tree [data-field="number_of_irrigationreports"] {
    text-align: center;
    width: 10%;
}
.o_base_wua_irrigationreport_agriculturalseason_view_tree [data-id="number_of_irrigationreports"] {
    text-align: center;
    width: 10%;
}

/* total_volume */
.o_base_wua_irrigationreport_agriculturalseason_view_tree [data-field="total_volume"] {
    text-align: right;
    width: 10%;
}
.o_base_wua_irrigationreport_agriculturalseason_view_tree [data-id="total_volume"] {
    text-align: right;
    width: 10%;
}

/* active_agriculturalseason */
.o_base_wua_irrigationreport_agriculturalseason_view_tree [data-field="active_agriculturalseason"] {
    text-align: center;
    width: 10%;
}
.o_base_wua_irrigationreport_agriculturalseason_view_tree [data-id="active_agriculturalseason"] {
    text-align: center;
    width: 10%;
}


/* ## Irrigation reports tree view ## */
/* agriculturalseason_id */
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-field="agriculturalseason_id"] {
    width: 18%;
    text-align: left;
}
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-id="agriculturalseason_id"] {
    width: 18%;
    text-align: left;
}

/* intake_id */
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-field="intake_id"] {
    width: 8%;
    text-align: center;
}
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-id="intake_id"] {
    width: 8%;
    text-align: center;
}

/* irrigationreport_number */
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-field="irrigationreport_number"] {
    width: 8%;
    text-align: center;
}
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-id="irrigationreport_number"] {
    width: 8%;
    text-align: center;
}

/* report_initial_time */
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-field="report_initial_time"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-id="report_initial_time"] {
    width: 10%;
    text-align: center;
}

/* report_end_time */
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-field="report_end_time"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-id="report_end_time"] {
    width: 10%;
    text-align: center;
}

/* partner_id */
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-field="partner_id"] {
    width: 10%;
    text-align: left;
}
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-id="partner_id"] {
    width: 10%;
    text-align: left;
}

/* volume */
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-field="volume"] {
    width: 12%;
    text-align: right;
}
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-id="volume"] {
    width: 12%;
    text-align: right;
}

/* adjustement_volume */
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-field="adjustement_volume"] {
    width: 12%;
    text-align: right;
}
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-id="adjustement_volume"] {
    width: 12%;
    text-align: right;
}

/* volume_real */
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-field="volume_real"] {
    width: 12%;
    text-align: right;
}
.o_base_wua_irrigationreport_irrigationreport_view_tree [data-id="volume_real"] {
    width: 12%;
    text-align: right;
}
