

.o_base_wua_parcel_partnerlink_view_tree [data-id="parcel_id"] {
    text-align: center;
}

.o_base_wua_parcel_partnerlink_view_tree [data-field="parcel_id"] {
    text-align: center;
}
.o_base_wua_parcel_partnerlink_view_tree [data-id="farmproperty_id"] {
    text-align: center;
}

.o_base_wua_parcel_partnerlink_view_tree [data-field="farmproperty_id"] {
    text-align: center;
}
.o_base_wua_parcel_partnerlink_view_tree [data-id="cadastral_reference"] {
    text-align: center;
}

.o_base_wua_parcel_partnerlink_view_tree [data-field="cadastral_reference"] {
    text-align: center;
}

.o_base_wua_parcel_partnerlink_view_tree [data-id="profile"] {
    text-align: center;
}

.o_base_wua_parcel_partnerlink_view_tree [data-field="profile"] {
    text-align: center;
}

.o_base_wua_parcel_partnerlink_view_tree [data-id="area_official"] {
    text-align: right;
}

.o_base_wua_parcel_partnerlink_view_tree [data-id="area_official_hec"] {
    text-align: right;
}

.o_base_wua_parcel_partnerlink_view_tree [data-id="ownership_percentage"] {
    text-align: right;
}

.o_base_wua_parcel_partnerlink_view_tree [data-id="area_official_net"] {
    text-align: right;
}

.o_base_wua_parcel_partnerlink_view_tree [data-id="water_costs_percentage"] {
    text-align: right;
}

.o_base_wua_parcel_partnerlink_view_tree [data-id="area_official_water_costs_net"] {
    text-align: right;
}

.o_base_wua_parcel_partnerlink_view_tree [data-id="other_costs_percentage"] {
    text-align: right;
}

.o_base_wua_parcel_partnerlink_view_tree [data-id="area_official_other_costs_net"] {
    text-align: right;
}
