/**/
/* wua.readingperiod */
/**/
.o_base_wua_pressurized_irrigation_readingperiod_view_tree [data-id="number_of_flowmeters"] {
    width: 12%;
    text-align: center;
}
.o_base_wua_pressurized_irrigation_readingperiod_view_tree [data-field="number_of_flowmeters"] {
    text-align: center;
}

/**/
/* wua.readingperiod */
/**/
.base_wua_pressurized_irrigation_flowmeter_reading_period_flowmeterline_view_tree [data-id="flowmeter_id"] {
    /** width: 12%; */
    text-align: left;
}
.base_wua_pressurized_irrigation_flowmeter_reading_period_flowmeterline_view_tree [data-field="flowmeter_id"] {
    text-align: left;
}
.base_wua_pressurized_irrigation_flowmeter_reading_period_flowmeterline_view_tree [data-id="intake_id"] {
    text-align: left;
}
.base_wua_pressurized_irrigation_flowmeter_reading_period_flowmeterline_view_tree [data-field="intake_id"] {
    text-align: left;
}
.base_wua_pressurized_irrigation_flowmeter_reading_period_flowmeterline_view_tree [data-id="waterpipe_id"] {
    text-align: left;
}
.base_wua_pressurized_irrigation_flowmeter_reading_period_flowmeterline_view_tree [data-field="waterpipe_id"] {
    text-align: left;
}
.base_wua_pressurized_irrigation_flowmeter_reading_period_flowmeterline_view_tree [data-id="is_visited"] {
    text-align: center;
}
.base_wua_pressurized_irrigation_flowmeter_reading_period_flowmeterline_view_tree [data-field="is_visited"] {
    text-align: center;
}