/* file_parcellink_view_tree */
.o_res_file_parcellink_view_tree [data-id="parcel_id"] {
    width: 15%;
    text-align: center;
}
.o_res_file_parcellink_view_tree [data-field="parcel_id"] {
    text-align: center;
}

.o_res_file_parcellink_view_tree [data-id="parcel_area_official"] {
    width: 15%;
    text-align: right;
}
.o_res_file_parcellink_view_tree [data-field="parcel_area_official"] {
    text-align: right;
}

.o_res_file_parcellink_view_tree [data-id="parcel_rural_location_county"] {
    width: 25%;
}

.o_res_file_parcellink_view_tree [data-id="parcel_cadastral_reference"] {
    width: 15%;
    text-align: center;
}
.o_res_file_parcellink_view_tree [data-field="parcel_cadastral_reference"] {
    text-align: center;
}

.o_res_file_parcellink_view_tree [data-id="parcel_partner_id"] {
    width: 30%;
}


/* file_parcellink_of_parcel_view_tree */
.o_res_file_parcellink_of_parcel_view_tree [data-id="file_id"] {
    width: 20%;
}

.o_res_file_parcellink_of_parcel_view_tree [data-id="subject"] {
    width: 80%;
}
