.o_base_wua_parcel_partnerlink_view_tree [data-id="pressurized_irrigation_right"] {
    width: 6%;
    text-align: center;
}

.o_base_wua_parcel_partnerlink_view_tree [data-field="pressurized_irrigation_right"] {
    text-align: center;
}

.o_base_wua_parcel_partnerlink_view_tree [data-id="gravityfed_irrigation_right"] {
    width: 6%;
    text-align: center;
}
.o_base_wua_parcel_partnerlink_view_tree [data-field="gravityfed_irrigation_right"] {
    text-align: center;
}

.o_base_wua_parcel_partnerlink_view_tree [data-id="rurallocation"] {
    width: 11%;
}
.o_base_wua_parcel_partnerlink_view_tree [data-field="rurallocation"] {
}

.o_base_wua_parcel_view_tree [data-id="with_agent"]{
        text-align: center;
}
.o_base_wua_parcel_view_tree [data-field="with_agent"]{
        text-align: center;
}
.o_base_wua_partner_view_tree [data-id="is_agent"]{
        text-align: center;
}
.o_base_wua_partner_view_tree [data-field="is_agent"]{
        text-align: center;
}
.o_base_wua_gravity_irrigation_wateringrequest_view_tree [data-id="with_agent"]{
        text-align: center;
}
.o_base_wua_gravity_irrigation_wateringrequest_view_tree [data-field="with_agent"]{
        text-align: center;
}