/**/
/* wua.reservoirreading */
/**/
.o_base_wua_reservoirreading_view_tree [data-id="from_import"] {
    text-align: center;
}

.o_base_wua_reservoirreading_view_tree [data-field="from_import"] {
    text-align: center;
}
/**/
/* wua.reservoir */
/**/
.o_base_wua_reservoir_view_tree [data-id="telecontrol_associated"] {
    text-align: center;
}
.o_base_wua_reservoir_view_tree [data-field="telecontrol_associated"] {
    text-align: center;
}
