/**/
/* wua.quota */
/**/
.o_base_wua_quota_management_quota_view_tree [data-id="superproduct_id"] {
    width: 15%;
}
.o_base_wua_quota_management_quota_view_tree [data-id="partner_id"] {
    width: 25%;
}
.o_base_wua_quota_management_quota_view_tree [data-id="quotaperiod_id"] {
    width: 15%;
    text-align: center;
}
.o_base_wua_quota_management_quota_view_tree [data-field="quotaperiod_id"] {
    text-align: center;
}
.o_base_wua_quota_management_quota_view_tree [data-id="accumulated_input"] {
    width: 9%;
    text-align: right;
}
.o_base_wua_quota_management_quota_view_tree [data-id="accumulated_consumption"] {
    width: 9%;
    text-align: right;
}
.o_base_wua_quota_management_quota_view_tree [data-id="balance"] {
    width: 9%;
    text-align: right;
}
.o_base_wua_quota_management_quota_view_tree [data-id="provisional_extra_consumption"] {
    width: 9%;
    text-align: right;
}
.o_base_wua_quota_management_quota_view_tree [data-id="provisional_balance"] {
    width: 9%;
    text-align: right;
}
/**/
/* wua.particularpresconsumption */
/**/
.o_base_wua_quota_management_with_provisional_quota_particularpresconsumption_with_total_view_tree [data-id="waterconnection_id"] {
    width: 13%;
    text-align: center;
}
.o_base_wua_quota_management_with_provisional_quota_particularpresconsumption_with_total_view_tree [data-field="waterconnection_id"] {
    text-align: center;
}
.o_base_wua_quota_management_with_provisional_quota_particularpresconsumption_with_total_view_tree [data-id="parcel_id"] {
    width: 13%;
    text-align: center;
}
.o_base_wua_quota_management_with_provisional_quota_particularpresconsumption_with_total_view_tree [data-field="parcel_id"] {
    text-align: center;
}
.o_base_wua_quota_management_with_provisional_quota_particularpresconsumption_with_total_view_tree [data-id="reading_end_time"] {
    width: 13%;
    text-align: center;
}
.o_base_wua_quota_management_with_provisional_quota_particularpresconsumption_with_total_view_tree [data-field="reading_end_time"] {
    text-align: center;
}
}
.o_base_wua_quota_management_with_provisional_quota_particularpresconsumption_with_total_view_tree [data-id="product_id"] {
    width: 28%;
    text-align: left;
}
.o_base_wua_quota_management_with_provisional_quota_particularpresconsumption_with_total_view_tree [data-field="product_id"] {
    text-align: left;
}
.o_base_wua_quota_management_with_provisional_quota_particularpresconsumption_with_total_view_tree [data-id="controlpresconsumption_id"] {
    width: 20%;
    text-align: left;
}
.o_base_wua_quota_management_with_provisional_quota_particularpresconsumption_with_total_view_tree [data-field="controlpresconsumption_id"] {
    text-align: left;
}
.o_base_wua_quota_management_with_provisional_quota_particularpresconsumption_with_total_view_tree [data-id="volume_real"] {
    width: 13%;
    text-align: right;
}
.o_base_wua_quota_management_with_provisional_quota_particularpresconsumption_with_total_view_tree [data-field="volume_real"] {
    text-align: right;
}