.o_base_wua_infrastructure_hydraulicsector_view_tree [data-id="hydraulicsector_code"] {
    width: 8%;
    text-align: center;
}

.o_base_wua_infrastructure_hydraulicsector_view_tree [data-field="hydraulicsector_code"] {
    text-align: center;
}

.o_base_wua_infrastructure_hydraulicsector_view_tree [data-id="name"] {
    width: 20%;
}

.o_base_wua_infrastructure_hydraulicsector_view_tree [data-id="description"] {
    width: 27%;
}

.o_base_wua_infrastructure_hydraulicsector_view_tree [data-id="number_of_irrigationsheds"] {
    width: 10%;
    text-align: center;
}

.o_base_wua_infrastructure_hydraulicsector_view_tree [data-field="number_of_irrigationsheds"] {
    text-align: center;
}

.o_base_wua_infrastructure_hydraulicsector_view_tree [data-id="number_of_waterconnections"] {
    width: 10%;
    text-align: center;
}

.o_base_wua_infrastructure_hydraulicsector_view_tree [data-field="number_of_waterconnections"] {
    text-align: center;
}

.o_base_wua_infrastructure_hydraulicsector_view_tree [data-id="total_affected_area_official"] {
    width: 15%;
    text-align: right;
}

.o_base_wua_infrastructure_hydraulicsector_view_tree [data-id="number_of_parcels"] {
    width: 10%;
    text-align: center;
}

.o_base_wua_infrastructure_hydraulicsector_view_tree [data-field="number_of_parcels"] {
    text-align: center;
}

.o_base_wua_infrastructure_hydraulicsector_view_tree_notebook [data-id="name"] {
    width: 25%;
}

.o_base_wua_infrastructure_hydraulicsector_view_tree_notebook [data-id="description"] {
    width: 75%;
}

.o_base_wua_infrastructure_irrigationshed_view_tree [data-id="name"] {
    width: 12%;
}

.o_base_wua_infrastructure_irrigationshed_view_tree [data-id="hydraulicsector_id"] {
    width: 14%;
}

.o_base_wua_infrastructure_irrigationshed_view_tree [data-id="elevation"] {
    width: 10%;
    text-align: right;
}

.o_base_wua_infrastructure_irrigationshed_view_tree [data-id="with_pumping"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_infrastructure_irrigationshed_view_tree [data-field="with_pumping"] {
    text-align: center;
}

.o_base_wua_infrastructure_irrigationshed_view_tree [data-id="description"] {
    width: 20%;
}

.o_base_wua_infrastructure_irrigationshed_view_tree [data-id="number_of_waterconnections"] {
    width: 10%;
    text-align: center;
}

.o_base_wua_infrastructure_irrigationshed_view_tree [data-field="number_of_waterconnections"] {
    text-align: center;
}

.o_base_wua_infrastructure_irrigationshed_view_tree [data-id="total_affected_area_official"] {
    width: 10%;
    text-align: right;
}

.o_base_wua_infrastructure_irrigationshed_view_tree [data-id="number_of_parcels"] {
    width: 10%;
    text-align: center;
}

.o_base_wua_infrastructure_irrigationshed_view_tree [data-field="number_of_parcels"] {
    text-align: center;
}

.o_base_wua_infrastructure_waterconnection_view_tree_notebook [data-id="name"] {
    width: 15%;
}

.o_base_wua_infrastructure_waterconnection_view_tree_notebook [data-id="description"] {
    width: 35%;
}

.o_base_wua_infrastructure_waterconnection_view_tree_notebook [data-id="position"] {
    text-align: center;
    width: 15%;
}

.o_base_wua_infrastructure_waterconnection_view_tree_notebook [data-field="position"] {
    text-align: center;
}

.o_base_wua_infrastructure_waterconnection_view_tree_notebook [data-id="total_affected_area_official"] {
    text-align: right;
    width: 20%;
}

.o_base_wua_infrastructure_waterconnection_view_tree_notebook [data-id="number_of_parcels"] {
    text-align: center;
    width: 15%;
}

.o_base_wua_infrastructure_waterconnection_view_tree_notebook [data-field="number_of_parcels"] {
    text-align: center;
}

.o_base_wua_infrastructure_waterconnection_view_tree [data-id="name"] {
    width: 12%;
}

.o_base_wua_infrastructure_waterconnection_view_tree [data-id="irrigationshed_id"] {
    width: 12%;
}

.o_base_wua_infrastructure_waterconnection_view_tree [data-id="hydraulicsector_id"] {
    width: 20%;
}

.o_base_wua_infrastructure_waterconnection_view_tree [data-id="description"] {
    width: 20%;
}

.o_base_wua_infrastructure_waterconnection_view_tree [data-id="position"] {
    text-align: center;
    width: 12%;
}

.o_base_wua_infrastructure_waterconnection_view_tree [data-field="position"] {
    text-align: center;
}

.o_base_wua_infrastructure_waterconnection_view_tree [data-id="number_of_parcels"] {
    width: 13%;
    text-align: center;
}

.o_base_wua_infrastructure_waterconnection_view_tree [data-field="number_of_parcels"] {
    text-align: center;
}

.o_base_wua_infrastructure_waterconnection_view_tree [data-id="total_affected_area_official"] {
    width: 11%;
    text-align: right;
}

.o_base_wua_infrastructure_irrigationditch_view_tree [data-id="irrigationditch_code"] {
    width: 8%;
    text-align: center;
}

.o_base_wua_infrastructure_irrigationditch_view_tree [data-field="irrigationditch_code"] {
    text-align: center;
}

.o_base_wua_infrastructure_irrigationditch_view_tree [data-id="name"] {
    width: 28%;
}

.o_base_wua_infrastructure_irrigationditch_view_tree [data-id="description"] {
    width: 32%;
}

.o_base_wua_infrastructure_irrigationditch_view_tree [data-id="number_of_irrigationgates"] {
    width: 10%;
    text-align: center;
}

.o_base_wua_infrastructure_irrigationditch_view_tree [data-field="number_of_irrigationgates"] {
    text-align: center;
}

.o_base_wua_infrastructure_irrigationditch_view_tree [data-id="total_affected_area_official"] {
    width: 12%;
    text-align: right;
}

.o_base_wua_infrastructure_irrigationditch_view_tree [data-id="number_of_parcels"] {
    width: 10%;
    text-align: center;
}

.o_base_wua_infrastructure_irrigationditch_view_tree [data-field="number_of_parcels"] {
    text-align: center;
}

.o_base_wua_infrastructure_irrigationgate_view_tree [data-id="name"] {
    width: 20%;
}

.o_base_wua_infrastructure_irrigationgate_view_tree [data-id="irrigationditch_id"] {
    width: 21%;
}

.o_base_wua_infrastructure_irrigationgate_view_tree [data-id="description"] {
    width: 21%;
}

.o_base_wua_infrastructure_irrigationgate_view_tree [data-id="hydraulic_order"] {
    width: 9%;
    text-align: center;
}

.o_base_wua_infrastructure_irrigationgate_view_tree [data-field="hydraulic_order"] {
    text-align: center;
}

.o_base_wua_infrastructure_irrigationgate_view_tree [data-id="delay_time"] {
    width: 8%;
    text-align: center;
}

.o_base_wua_infrastructure_irrigationgate_view_tree [data-field="delay_time"] {
    text-align: center;
}

.o_base_wua_infrastructure_irrigationgate_view_tree [data-id="number_of_parcels"] {
    width: 9%;
    text-align: center;
}

.o_base_wua_infrastructure_irrigationgate_view_tree [data-field="number_of_parcels"] {
    text-align: center;
}


.o_base_wua_infrastructure_irrigationgate_view_tree [data-id="total_affected_area_official"] {
    width: 12%;
    text-align: right;
}

.o_base_wua_infrastructure_irrigationgate_view_tree_notebook [data-id="name"] {
    width: 20%;
}

.o_base_wua_infrastructure_irrigationgate_view_tree_notebook [data-id="description"] {
    width: 30%;
}

.o_base_wua_infrastructure_irrigationgate_view_tree_notebook [data-id="hydraulic_order"] {
    width: 15%;
    text-align: center;
}

.o_base_wua_infrastructure_irrigationgate_view_tree_notebook [data-field="hydraulic_order"] {
    text-align: center;
}

.o_base_wua_infrastructure_irrigationgate_view_tree_notebook [data-id="total_affected_area_official"] {
    width: 20%;
    text-align: right;
}

.o_base_wua_infrastructure_irrigationgate_view_tree_notebook [data-id="number_of_parcels"] {
    width: 15%;
    text-align: center;
}

.o_base_wua_infrastructure_irrigationgate_view_tree_notebook [data-field="number_of_parcels"] {
    text-align: center;
}

.o_base_wua_infrastructure_flowdivider_view_tree_notebook [data-id="name"] {
    width: 20%;
}

.o_base_wua_infrastructure_flowdivider_view_tree_notebook [data-id="description"] {
    width: 35%;
}

.o_base_wua_infrastructure_flowdivider_view_tree_notebook [data-id="initial_hydraulic_order"] {
    width: 15%;
    text-align: center;
}

.o_base_wua_infrastructure_flowdivider_view_tree_notebook [data-field="initial_hydraulic_order"] {
    text-align: center;
}

.o_base_wua_infrastructure_flowdivider_view_tree_notebook [data-id="final_hydraulic_order"] {
    width: 15%;
    text-align: center;
}

.o_base_wua_infrastructure_flowdivider_view_tree_notebook [data-field="final_hydraulic_order"] {
    text-align: center;
}

.o_base_wua_infrastructure_flowdivider_view_tree_notebook [data-id="number_of_irrigationgates"] {
    width: 15%;
    text-align: center;
}

.o_base_wua_infrastructure_flowdivider_view_tree_notebook [data-field="number_of_irrigationgates"] {
    text-align: center;
}

.o_base_wua_infrastructure_irrigationpoint_parcels_view_tree_notebook [data-id="parcel_id"] {
    width: 15%;
    text-align: center;
}

.o_base_wua_infrastructure_irrigationpoint_parcels_view_tree_notebook [data-field="parcel_id"] {
    text-align: center;
}

.o_base_wua_infrastructure_irrigationpoint_parcels_view_tree_notebook [data-id="partner_id"] {
    width: 16%;
    text-align: left;
}

.o_base_wua_infrastructure_irrigationpoint_parcels_view_tree_notebook [data-field="partner_id"] {
    text-align: left;
}


.o_base_wua_infrastructure_irrigationpoint_parcels_view_tree_notebook [data-id="parcel_area_official"] {
    text-align: right;
    width: 12%;
}

.o_base_wua_infrastructure_irrigationpoint_parcels_view_tree_notebook [data-id="parcel_rural_location_county"] {
    width: 25%;
}

.o_base_wua_infrastructure_irrigationpoint_parcels_view_tree_notebook [data-id="parcel_cadastral_polygon"] {
    width: 10%;
    text-align: center;
}

.o_base_wua_infrastructure_irrigationpoint_parcels_view_tree_notebook [data-field="parcel_cadastral_polygon"] {
    text-align: center;
}

.o_base_wua_infrastructure_irrigationpoint_parcels_view_tree_notebook [data-id="parcel_cadastral_parcel"] {
    width: 10%;
    text-align: center;
}

.o_base_wua_infrastructure_irrigationpoint_parcels_view_tree_notebook [data-field="parcel_cadastral_parcel"] {
    text-align: center;
}

.o_base_wua_infrastructure_irrigationpoint_parcels_view_tree_notebook [data-id="parcel_cadastral_reference"] {
    width: 12%;
    text-align: center;
}

.o_base_wua_infrastructure_irrigationpoint_parcels_view_tree_notebook [data-field="parcel_cadastral_reference"] {
    text-align: center;
}

.o_base_wua_infrastructure_waterconnection_parcels_view_tree_notebook [data-id="parcel_id"] {
    width: 13%;
    text-align: center;
}

.o_base_wua_infrastructure_waterconnection_parcels_view_tree_notebook [data-field="parcel_id"] {
    text-align: center;
}

.o_base_wua_infrastructure_waterconnection_parcels_view_tree_notebook [data-id="waterconnection_id"] {
    width: 13%;
    text-align: center;
}

.o_base_wua_infrastructure_waterconnection_parcels_view_tree_notebook [data-field="waterconnection_id"] {
    text-align: center;
}

.o_base_wua_infrastructure_waterconnection_parcels_view_tree_notebook [data-id="parcel_area_official"] {
    text-align: right;
    width: 13%;
}

.o_base_wua_infrastructure_waterconnection_parcels_view_tree_notebook [data-id="parcel_rural_location_county"] {
    width: 26%;
}

.o_base_wua_infrastructure_waterconnection_parcels_view_tree_notebook [data-id="parcel_cadastral_polygon"] {
    width: 10%;
    text-align: center;
}

.o_base_wua_infrastructure_waterconnection_parcels_view_tree_notebook [data-field="parcel_cadastral_polygon"] {
    text-align: center;
}

.o_base_wua_infrastructure_waterconnection_parcels_view_tree_notebook [data-id="parcel_cadastral_parcel"] {
    width: 10%;
    text-align: center;
}

.o_base_wua_infrastructure_waterconnection_parcels_view_tree_notebook [data-field="parcel_cadastral_parcel"] {
    text-align: center;
}

.o_base_wua_infrastructure_waterconnection_parcels_view_tree_notebook [data-id="parcel_cadastral_reference"] {
    width: 15%;
    text-align: center;
}

.o_base_wua_infrastructure_waterconnection_parcels_view_tree_notebook [data-field="parcel_cadastral_reference"] {
    text-align: center;
}

.o_base_wua_infrastructure_parcel_irrigationpoint_view_tree [data-id="waterconnection_id"] {
    text-align: center;
}

.o_base_wua_infrastructure_parcel_irrigationpoint_view_tree [data-field="waterconnection_id"] {
    text-align: center;
}

.o_base_wua_infrastructure_parcel_irrigationpoint_view_tree [data-id="irrigationshed_id"] {
    text-align: center;
}

.o_base_wua_infrastructure_parcel_irrigationpoint_view_tree [data-field="irrigationshed_id"] {
    text-align: center;
}

.o_base_wua_infrastructure_parcel_irrigationpoint_view_tree [data-id="irrigationgate_id"] {
    text-align: center;
}

.o_base_wua_infrastructure_parcel_irrigationpoint_view_tree [data-field="irrigationgate_id"] {
    text-align: center;
}

.o_base_wua_infrastructure_parcel_irrigationpoint_view_tree [data-id="parcel_id"] {
    text-align: center;
}

.o_base_wua_infrastructure_parcel_irrigationpoint_view_tree [data-field="parcel_id"] {
    text-align: center;
}

.o_base_wua_infrastructure_parcel_irrigationpoint_view_tree [data-id="parcel_cadastral_reference"] {
    text-align: center;
}

.o_base_wua_infrastructure_parcel_irrigationpoint_view_tree [data-field="parcel_cadastral_reference"] {
    text-align: center;
}

.o_base_wua_infrastructure_parcel_irrigationpoint_view_tree [data-id="parcel_area_official"] {
    text-align: right;
}

.o_base_wua_infrastructure_parcel_irrigationpointwc_view_tree [data-id="pos_str"] {
    width: 10%;
    text-align: center;
}

.o_base_wua_infrastructure_parcel_irrigationpointwc_view_tree [data-field="pos_str"] {
    text-align: center;
}

.o_base_wua_infrastructure_parcel_irrigationpointwc_view_tree [data-id="waterconnection_id"] {
    width: 30%;
}

.o_base_wua_infrastructure_parcel_irrigationpointwc_view_tree [data-id="irrigationshed_id"] {
    width: 30%;
}

.o_base_wua_infrastructure_parcel_irrigationpointwc_view_tree [data-id="hydraulicsector_id"] {
    width: 30%;
}

.o_base_wua_infrastructure_flowdivider_view_tree [data-id="name"] {
    width: 10%;
}

.o_base_wua_infrastructure_flowdivider_view_tree [data-id="irrigationditch_id"] {
    width: 25%;
}

.o_base_wua_infrastructure_flowdivider_view_tree [data-id="description"] {
    width: 25%;
}

.o_base_wua_infrastructure_flowdivider_view_tree [data-id="number_of_irrigationgates"] {
    width: 10%;
    text-align: center;
}

.o_base_wua_infrastructure_flowdivider_view_tree [data-field="number_of_irrigationgates"] {
    text-align: center;
}

.o_base_wua_infrastructure_flowdivider_view_tree [data-id="initial_hydraulic_order"] {
    width: 10%;
    text-align: center;
}

.o_base_wua_infrastructure_flowdivider_view_tree [data-field="initial_hydraulic_order"] {
    text-align: center;
}

.o_base_wua_infrastructure_flowdivider_view_tree [data-id="final_hydraulic_order"] {
    width: 10%;
    text-align: center;
}

.o_base_wua_infrastructure_flowdivider_view_tree [data-field="final_hydraulic_order"] {
    text-align: center;
}

.o_base_wua_infrastructure_flowdivider_view_tree [data-id="delay_time"] {
    width: 10%;
    text-align: center;
}

.o_base_wua_infrastructure_flowdivider_view_tree [data-field="delay_time"] {
    text-align: center;
}
.o_base_wua_parcel_subparcel_view_tree_notebook [data-id="irrigationgate_id"] {
    text-align: center;
}
.o_base_wua_parcel_subparcel_view_tree_notebook [data-field="irrigationgate_id"] {
    text-align: center;
}
.o_base_wua_parcel_subparcel_view_tree_notebook [data-id="irrigation_duration_coefficient"] {
    text-align: right;
}
