/**/
/* wua.quota */
/**/
.o_base_wua_quota_management_quota_view_tree [data-id="superproduct_id"] {
    width: 10%;
}
.o_base_wua_quota_management_quota_view_tree [data-id="partner_id"] {
    width: 12%;
}
.o_base_wua_quota_management_quota_view_tree [data-id="quotaperiod_id"] {
    width: 12%;
    text-align: center;
}
.o_base_wua_quota_management_quota_view_tree [data-field="quotaperiod_id"] {
    text-align: center;
}
.o_base_wua_quota_management_quota_view_tree [data-id="accumulated_input"] {
    width: 8%;
    text-align: right;
}
.o_base_wua_quota_management_quota_view_tree [data-id="accumulated_consumption"] {
    width: 8%;
    text-align: right;
}
.o_base_wua_quota_management_quota_view_tree [data-id="balance"] {
    width: 8%;
    text-align: right;
}

.o_base_wua_quota_management_quota_view_tree [data-id="accumulated_input_hours"] {
    width: 8%;
    text-align: right;
}
.o_base_wua_quota_management_quota_view_tree [data-field="accumulated_input_hours"] {
    text-align: right;
}

.o_base_wua_quota_management_quota_view_tree [data-id="accumulated_consumption_hours"] {
    width: 8%;
    text-align: right;
}
.o_base_wua_quota_management_quota_view_tree [data-field="accumulated_consumption_hours"] {
    text-align: right;
}

.o_base_wua_quota_management_quota_view_tree [data-id="balance_hours"] {
    width: 8%;
    text-align: right;
}
.o_base_wua_quota_management_quota_view_tree [data-field="balance_hours"] {
    text-align: right;
}

/**/
/* wua.hydricmovement */
/**/
.o_base_wua_quota_management_hydricmovement_view_tree [data-id="superproduct_id"] {
    width: 10%;
}
.o_base_wua_quota_management_hydricmovement_view_tree [data-id="partner_id"] {
    width: 16%;
}
.o_base_wua_quota_management_hydricmovement_view_tree [data-id="event_time"] {
    width: 8%;
    text-align: center;
}
.o_base_wua_quota_management_hydricmovement_view_tree [data-field="event_time"] {
    text-align: center;
}
.o_base_wua_quota_management_hydricmovement_view_tree [data-id="description"] {
    width: 26%;
}
.o_base_wua_quota_management_hydricmovement_view_tree [data-id="accounting_volume"] {
    width: 8%;
    text-align: right;
}
.o_base_wua_quota_management_hydricmovement_view_tree [data-id="balance"] {
    width: 8%;
    text-align: right;
}

.o_base_wua_quota_management_hydricmovement_view_tree [data-id="accounting_volume_hours"] {
    width: 8%;
    text-align: right;
}
.o_base_wua_quota_management_hydricmovement_view_tree [data-field="accounting_volume_hours"] {
    text-align: right;
}

.o_base_wua_quota_management_hydricmovement_view_tree [data-id="balance_hours"] {
    width: 8%;
    text-align: right;
}
.o_base_wua_quota_management_hydricmovement_view_tree [data-field="balance_hours"] {
    text-align: right;
}
.o_base_wua_quota_management_hydricmovement_view_tree td[data-field="informative_amount_eur"]:after {
    content: " \20AC";
}

/**/
/* wua.hydricmovement (within quota view form) */
/**/
.o_base_wua_quota_management_hydricmovement_of_quota_view_tree [data-id="event_time"] {
    width: 14%;
    text-align: center;
}
.o_base_wua_quota_management_hydricmovement_of_quota_view_tree [data-field="event_time"] {
    text-align: center;
}
.o_base_wua_quota_management_hydricmovement_of_quota_view_tree [data-id="description"] {
    width: 30%;
}
.o_base_wua_quota_management_hydricmovement_of_quota_view_tree [data-id="accounting_volume"] {
    width: 14%;
    text-align: right;
}
.o_base_wua_quota_management_hydricmovement_of_quota_view_tree [data-id="balance"] {
    width: 14%;
    text-align: right;
}

.o_base_wua_quota_management_hydricmovement_of_quota_view_tree [data-id="accounting_volume_hours"] {
    width: 14%;
    text-align: right;
}
.o_base_wua_quota_management_hydricmovement_of_quota_view_tree [data-field="accounting_volume_hours"] {
    text-align: right;
}

.o_base_wua_quota_management_hydricmovement_of_quota_view_tree [data-id="balance_hours"] {
    width: 14%;
    text-align: right;
}
.o_base_wua_quota_management_hydricmovement_of_quota_view_tree [data-field="balance_hours"] {
    text-align: right;
}
.o_base_wua_quota_management_hydricmovement_of_quota_view_tree td[data-field="informative_amount_eur"]:after {
    content: " \20AC";
}

/**/
/* wua.cession */
/**/
.o_base_wua_quota_management_cession_view_tree [data-id="superproduct_id"] {
    width: 14%;
}
.o_base_wua_quota_management_cession_view_tree [data-id="partner_id"] {
    width: 16%;
}
.o_base_wua_quota_management_cession_view_tree [data-id="quotaperiod_id"] {
    width: 15%;
    text-align: center;
}
.o_base_wua_quota_management_cession_view_tree [data-field="quotaperiod_id"] {
    text-align: center;
}
.o_base_wua_quota_management_cession_view_tree [data-id="event_time"] {
    width: 7%;
    text-align: center;
}
.o_base_wua_quota_management_cession_view_tree [data-field="event_time"] {
    text-align: center;
}
.o_base_wua_quota_management_cession_view_tree [data-id="receiver_partner_id"] {
    width: 16%;
}
.o_base_wua_quota_management_cession_view_tree [data-id="reason"] {
    width: 14%;
}
.o_base_wua_quota_management_cession_view_tree [data-id="volume"] {
    width: 9%;
    text-align: right;
}
.o_base_wua_quota_management_cession_view_tree [data-id="volume_hours"] {
    width: 9%;
    text-align: right;
}
.o_base_wua_quota_management_cession_view_tree [data-field="volume_hours"] {
    text-align: right;
}

/**/
/* wua.individualinput */
/**/
.o_base_wua_quota_management_individualinput_view_tree [data-id="superproduct_id"] {
    width: 14%;
}
.o_base_wua_quota_management_individualinput_view_tree [data-id="partner_id"] {
    width: 20%;
}
.o_base_wua_quota_management_individualinput_view_tree [data-id="quotaperiod_id"] {
    width: 16%;
    text-align: center;
}
.o_base_wua_quota_management_individualinput_view_tree [data-field="quotaperiod_id"] {
    text-align: center;
}
.o_base_wua_quota_management_individualinput_view_tree [data-id="event_time"] {
    width: 12%;
    text-align: center;
}
.o_base_wua_quota_management_individualinput_view_tree [data-field="event_time"] {
    text-align: center;
}
.o_base_wua_quota_management_individualinput_view_tree [data-id="reason"] {
    width: 18%;
}
.o_base_wua_quota_management_individualinput_view_tree [data-id="effective_volume"] {
    width: 10%;
    text-align: right;
}
.o_base_wua_quota_management_individualinput_view_tree [data-id="effective_volume_hours"] {
    width: 10%;
    text-align: right;
}
.o_base_wua_quota_management_individualinput_view_tree [data-field="effective_volume_hours"] {
    text-align: right;
}
/**/
/* wua.individualinput.massive.assignment.line */
/**/
.o_base_wua_quota_management_individualinput_massive_assignment_line_view_tree [data-id="effective_volume_hours"] {
    width: 15%;
    text-align: right;
}
.o_base_wua_quota_management_individualinput_massive_assignment_line_view_tree [data-field="effective_volume_hours"] {
    text-align: right;
}
/**/
/* wua.quota.aggregatevalue */
/**/
.o_base_wua_quota_management_quota_aggregatevalue_view_tree [data-id="partner_id"] {
    width: 14%;
}
.o_base_wua_quota_management_quota_aggregatevalue_view_tree [data-id="quotaperiod_id"] {
    width: 15%;
    text-align: center;
}
.o_base_wua_quota_management_quota_aggregatevalue_view_tree [data-field="quotaperiod_id"] {
    text-align: center;
}
.o_base_wua_quota_management_quota_aggregatevalue_view_tree [data-id="accumulated_input"] {
    width: 7%;
    text-align: right;
}
.o_base_wua_quota_management_quota_aggregatevalue_view_tree [data-id="accumulated_consumption"] {
    width: 7%;
    text-align: right;
}
.o_base_wua_quota_management_quota_aggregatevalue_view_tree [data-id="balance"] {
    width: 7%;
    text-align: right;
}
.o_base_wua_quota_management_quota_aggregatevalue_view_tree [data-id="available_quota_percentage"] {
    width: 7%;
    text-align: right;
}
.o_base_wua_quota_management_quota_aggregatevalue_view_tree [data-field="available_quota_percentage"] {
    text-align: right;
}
.o_base_wua_quota_management_quota_aggregatevalue_view_tree [data-id="accumulated_input_hours"] {
    width: 7%;
    text-align: right;
}
.o_base_wua_quota_management_quota_aggregatevalue_view_tree [data-field="accumulated_input_hours"] {
    text-align: right;
}
.o_base_wua_quota_management_quota_aggregatevalue_view_tree [data-id="accumulated_consumption_hours"] {
    width: 7%;
    text-align: right;
}
.o_base_wua_quota_management_quota_aggregatevalue_view_tree [data-field="accumulated_consumption_hours"] {
    text-align: right;
}
.o_base_wua_quota_management_quota_aggregatevalue_view_tree [data-id="balance_hours"] {
    width: 7%;
    text-align: right;
}
.o_base_wua_quota_management_quota_aggregatevalue_view_tree [data-field="balance_hours"] {
    text-align: right;
}
.o_base_wua_quota_management_quota_aggregatevalue_view_tree [data-id="estimated_balance"] {
    width: 7%;
    text-align: right;
}
.o_base_wua_quota_management_quota_aggregatevalue_view_tree [data-id="estimated_balance_hours"] {
    width: 7%;
    text-align: right;
}
.o_base_wua_quota_management_quota_aggregatevalue_view_tree [data-field="estimated_balance_hours"] {
    text-align: right;
}
.o_base_wua_quota_management_quota_aggregatevalue_view_tree [data-id="expected_date_for_zero_balance"] {
    width: 8%;
    text-align: center;
}
.o_base_wua_quota_management_quota_aggregatevalue_view_tree [data-field="expected_date_for_zero_balance"] {
    text-align: center;
}



