/**/
/* wua.certificate */
/**/
.o_base_wua_certificate_certificate_view_tree [data-id="reference_number"] {
    width: 8%;
}
.o_base_wua_certificate_certificate_view_tree [data-id="signers"] {
    width: 25%;
}
.o_base_wua_certificate_certificate_view_tree [data-id="number_of_confirmed_signatures_as_char"] {
    width: 8%;
    text-align: center;
}
.o_base_wua_certificate_certificate_view_tree [data-field="number_of_confirmed_signatures_as_char"] {
    text-align: center;
}
.o_base_wua_certificate_certificate_view_tree [data-id="state"] {
    width: 8%;
}

/**/
/* wua.certificate (one partner) */
/**/
.o_base_wua_certificate_certificate_one_partner_view_tree [data-id="number_of_confirmed_signatures_as_char"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_certificate_certificate_one_partner_view_tree [data-field="number_of_confirmed_signatures_as_char"] {
    text-align: center;
}

/**/
/* wua.certificate.user */
/**/
.o_base_wua_certificate_multiple_signature_certificateuser_ids_view_tree [data-id="user_id"] {
    width: 65%;
    text-align: center;
}
.o_base_wua_certificate_multiple_signature_certificateuser_ids_view_tree [data-id="signature_time"] {
    width: 35%;
    text-align: center;
}
.o_base_wua_certificate_multiple_signature_certificateuser_ids_view_tree [data-field="signature_time"] {
    text-align: center;
}