/**/
/* wua.waterpipeflowreading */
/**/
.o_base_wua_waterpipe_measurement_waterpipeflowreading_view_tree [data-field='flowmeter_id']{
  text-align: center;
}
.o_base_wua_waterpipe_measurement_waterpipeflowreading_view_tree [data-id='flowmeter_id']{
  text-align: center;
}
.o_base_wua_waterpipe_measurement_waterpipeflowreading_view_tree [data-field='reading_time']{
  text-align: center;
}
.o_base_wua_waterpipe_measurement_waterpipeflowreading_view_tree [data-id='reading_time']{
  text-align: center;
}
.o_base_wua_waterpipe_measurement_waterpipeflowreading_view_tree [data-field='volume']{
  text-align: right;
}
.o_base_wua_waterpipe_measurement_waterpipeflowreading_view_tree [data-id='volume']{
  text-align: right;
}
.o_base_wua_waterpipe_measurement_waterpipeflowreading_view_tree [data-field='initialization_reading']{
  text-align: center;
}
.o_base_wua_waterpipe_measurement_waterpipeflowreading_view_tree [data-id='initialization_reading']{
  text-align: center;
}
.o_base_wua_waterpipe_measurement_waterpipeflowreading_view_tree [data-field='instant_flow']{
  text-align: center;
}
.o_base_wua_waterpipe_measurement_waterpipeflowreading_view_tree [data-id='instant_flow']{
  text-align: center;
}
.o_base_wua_waterpipe_measurement_waterpipeflowreading_view_tree [data-field='is_last_reading']{
  text-align: center;
}
.o_base_wua_waterpipe_measurement_waterpipeflowreading_view_tree [data-id='is_last_reading']{
  text-align: center;
}
.o_base_wua_waterpipe_measurement_waterpipeflowreading_view_tree [data-field='waterpipeconsumption_id']{
  text-align: left;
}
.o_base_wua_waterpipe_measurement_waterpipeflowreading_view_tree [data-id='waterpipeconsumption_id']{
  text-align: left;
}
/**/
/* wua.waterpipeconsumption */
/**/
.o_base_wua_waterpipe_measurement_waterpipeconsumption_view_tree [data-field='waterpipe_id']{
  text-align: center;
}
.o_base_wua_waterpipe_measurement_waterpipeconsumption_view_tree [data-id='waterpipe_id']{
  text-align: center;
}
.o_base_wua_waterpipe_measurement_waterpipeconsumption_view_tree [data-field='flowmeter_id']{
  text-align: center;
}
.o_base_wua_waterpipe_measurement_waterpipeconsumption_view_tree [data-id='flowmeter_id']{
  text-align: center;
}
.o_base_wua_waterpipe_measurement_waterpipeconsumption_view_tree [data-field='reading_initial_time']{
  text-align: center;
}
.o_base_wua_waterpipe_measurement_waterpipeconsumption_view_tree [data-id='reading_initial_time']{
  text-align: center;
}
.o_base_wua_waterpipe_measurement_waterpipeconsumption_view_tree [data-field='reading_end_time']{
  text-align: center;
}
.o_base_wua_waterpipe_measurement_waterpipeconsumption_view_tree [data-id='reading_end_time']{
  text-align: center;
}
.o_base_wua_waterpipe_measurement_waterpipeconsumption_view_tree [data-field='volume']{
  text-align: right;
}
.o_base_wua_waterpipe_measurement_waterpipeconsumption_view_tree [data-id='volume']{
  text-align: right;
}
.o_base_wua_waterpipe_measurement_waterpipeconsumption_view_tree [data-field='adjustement_volume']{
  text-align: right;
}
.o_base_wua_waterpipe_measurement_waterpipeconsumption_view_tree [data-id='adjustement_volume']{
  text-align: right;
}
.o_base_wua_waterpipe_measurement_waterpipeconsumption_view_tree [data-field='volume_real']{
  text-align: right;
}
.o_base_wua_waterpipe_measurement_waterpipeconsumption_view_tree [data-id='volume_real']{
  text-align: right;
}
.o_base_wua_waterpipe_measurement_waterpipeconsumption_view_tree [data-field='waterpipeflowreading_id']{
  text-align: left;
}
.o_base_wua_waterpipe_measurement_waterpipeconsumption_view_tree [data-id='waterpipeflowreading_id']{
  text-align: left;
}

/**/
/* wua.agriculturalseason */
/**/
.o_base_wua_irrigation_measurement_agriculturalseason_view_tree [class] [data-field='initial_date']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_agriculturalseason_view_tree [class] [data-id='initial_date']{
  text-align: center;
  width: 15%;
}
.o_base_wua_irrigation_measurement_agriculturalseason_view_tree [class] [data-field='end_date']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_agriculturalseason_view_tree [class] [data-id='end_date']{
  text-align: center;
  width: 15%;
}
.o_base_wua_irrigation_measurement_agriculturalseason_view_tree [class] [data-field='description']{
  text-align: left;
}
.o_base_wua_irrigation_measurement_agriculturalseason_view_tree [class] [data-id='description']{
  text-align: left;
  width: 20%;
}
.o_base_wua_irrigation_measurement_agriculturalseason_view_tree [class] [data-field='number_of_intakeconsumptions']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_agriculturalseason_view_tree [class] [data-id='number_of_intakeconsumptions']{
  text-align: center;
  width: 10%;
}
.o_base_wua_irrigation_measurement_agriculturalseason_view_tree [class] [data-field='total_volume']{
  text-align: right;
}
.o_base_wua_irrigation_measurement_agriculturalseason_view_tree [class] [data-id='total_volume']{
  text-align: right;
  width: 15%;
}
.o_base_wua_irrigation_measurement_agriculturalseason_view_tree [data-field='number_of_waterpipeconsumptions']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_agriculturalseason_view_tree [data-id='number_of_waterpipeconsumptions']{
  text-align: center;
  width: 10%;
}
.o_base_wua_irrigation_measurement_agriculturalseason_view_tree [data-field='total_waterpipevolume']{
  text-align: right;
}
.o_base_wua_irrigation_measurement_agriculturalseason_view_tree [data-id='total_waterpipevolume']{
  text-align: right;
  width: 15%;
}

/**/
/* wua.flowmeter */
/**/
.o_base_wua_infrastructure_primary_flowmeters_view_tree [data-field="last_reading_time_show"] {
  text-align: center;
}
.o_base_wua_infrastructure_primary_flowmeters_view_tree [data-id="last_reading_time_show"] {
  text-align: center;
  width: 15%;
}
.o_base_wua_infrastructure_primary_flowmeters_view_tree [data-field="last_reading_value_show"] {
  text-align: right;
}
.o_base_wua_infrastructure_primary_flowmeters_view_tree [data-id="last_reading_value_show"] {
  text-align: right;
  width: 15%;
}
.o_base_wua_infrastructure_primary_flowmeters_view_tree [data-field="last_reading_instantflow_show"] {
  text-align: right;
}
.o_base_wua_infrastructure_primary_flowmeters_view_tree [data-id="last_reading_instantflow_show"] {
  text-align: center;
  width: 15%;
}
.o_base_wua_infrastructure_primary_flowmeters_view_tree [class] [data-field="nominal_water_flow"] {
  text-align: right;
  width: 10%;
}
.o_base_wua_infrastructure_primary_flowmeters_view_tree [class] [data-id="nominal_water_flow"] {
  text-align: center;
}
.o_base_wua_infrastructure_primary_flowmeters_view_tree [class] [data-field="connected_to_waterpipe"] {
  text-align: center;
  width: 7%;
}
.o_base_wua_infrastructure_primary_flowmeters_view_tree [class] [data-id="connected_to_waterpipe"] {
  text-align: center;
}
.o_base_wua_infrastructure_primary_flowmeters_view_tree [class] [data-field="connected_to_intake"] {
  text-align: center;
  width: 7%;
}
.o_base_wua_infrastructure_primary_flowmeters_view_tree [class] [data-id="connected_to_intake"] {
  text-align: center;
}
.o_base_wua_infrastructure_primary_flowmeters_view_tree [class] [data-field="type"] {
  text-align: center;
  width: 15%;
}
.o_base_wua_infrastructure_primary_flowmeters_view_tree [class] [data-id="type"] {
  text-align: center;
}
.o_base_wua_infrastructure_primary_flowmeters_view_tree [class] [data-field="name"] {
  text-align: center;
  width: 16%;
}
.o_base_wua_infrastructure_primary_flowmeters_view_tree [class] [data-id="name"] {
  text-align: center;
}

/**/
/* wua.wp.fm */
/**/

.o_base_wua_waterpipe_measurement_waterpipe_view_tree_notebook [data-id='assign_start']{
  text-align: center;
}
.o_base_wua_waterpipe_measurement_waterpipe_view_tree_notebook [data-field='assign_start']{
  text-align: center;
}
.o_base_wua_waterpipe_measurement_waterpipe_view_tree_notebook [data-id='assign_end']{
  text-align: center;
}
.o_base_wua_waterpipe_measurement_waterpipe_view_tree_notebook [data-field='assign_end']{
  text-align: center;
}
.o_base_wua_waterpipe_measurement_waterpipe_view_tree_notebook [data-id='waterpipe_id']{
  text-align: center;
}
.o_base_wua_waterpipe_measurement_waterpipe_view_tree_notebook [data-field='waterpipe_id']{
  text-align: center;
}
.o_base_wua_waterpipe_measurement_waterpipe_view_tree_notebook [data-id='days']{
  text-align: right;
}
.o_base_wua_waterpipe_measurement_waterpipe_view_tree_notebook [data-field='days']{
  text-align: right;
}
.o_base_wua_waterpipe_measurement_waterpipe_view_tree_notebook [data-id='waterpipe_path']{
  text-align: left;
}
.o_base_wua_waterpipe_measurement_waterpipe_view_tree_notebook [data-field='waterpipe_path']{
  text-align: left;
}
.o_base_wua_waterpipe_measurement_waterpipe_view_tree_notebook [data-id='waterpipe_hydraulicsector_id']{
  text-align: left;
}
.o_base_wua_waterpipe_measurement_waterpipe_view_tree_notebook [data-field='waterpipe_hydraulicsector_id']{
  text-align: left;
}