.o_form_view {
    .o_form_sheet_bg {
        padding: @sheet-padding;

        .o_form_sheet {
            min-width: auto;
            max-width: 100%;
        }

    }
    
    .oe_img_259_160 {
        float: left;
        > img {
            max-height: 160px;
            max-width: 259px;
            margin-bottom: 10px;
        }
        + .oe_title {
            padding-left: 95px;
            margin-left: 5px;
        }
    }
        
}
