/* Change settings icon */
[data-key="base_ter"] .icon {
    background-image: url('/base_wua/static/description/icon.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
}
