/* Change settings icon */
[data-key="base_ter"] .icon {
    background-image: url('/base_wua/static/description/icon.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
}

.o_base_wua_concession [data-name="alphanum_code"] {
    width: 180px;
    min-width: 180px;
}

.o_base_wua_concession [data-name="associated_file"] {
    width: 160px;
    min-width: 160px;
}

.o_base_wua_concession [data-name="flow"] {
    text-align: right;
    width: 160px;
    min-width: 160px;
}

.o_base_wua_concession [data-name="annual_volume"] {
    text-align: right;
    width: 160px;
    min-width: 160px;
}

.o_base_wua_concession [data-name="area"] {
    text-align: right;
    width: 160px;
    min-width: 160px;
}

.o_base_wua_concession [data-name="provision"] {
    text-align: right;
    width: 160px;
    min-width: 160px;
}

.o_base_wua_ter_parcel_concessionlink [data-name="concession_id"] {
    width: 180px;
    min-width: 180px;
}

.o_base_wua_ter_parcel_concessionlink [data-name="concession_description"] {
    width: 340px;
    min-width: 340px;
}

.o_base_wua_ter_parcel_concessionlink [data-name="concession_provision"] {
    text-align: right;
    width: 140px;
    min-width: 140px;
}

.o_base_ter_ter_parcel_concessionlink_technical [data-name="parcel_id"] {
    width: 160px;
    min-width: 160px;
}

.o_base_ter_ter_parcel_concessionlink_technical [data-name="concession_id"] {
    width: 260px;
    min-width: 260px;
}

.o_base_ter_ter_parcel_concessionlink_technical [data-name="concession_description"] {
    width: 300px;
    min-width: 300px;
}

.o_base_ter_ter_parcel_concessionlink_technical [data-name="concession_provision"] {
    width: 160px;
    min-width: 160px;
}