

/**
* wua.photvoltaicplant
*/

.o_base_wua_infrastructure_pump_photovoltaicplant_view_tree [data-field="photovoltaicplant_code"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_infrastructure_pump_photovoltaicplant_view_tree [data-id="photovoltaicplant_code"] {
    text-align: center;
}
.o_base_wua_infrastructure_pump_photovoltaicplant_view_tree [data-field="name"] {
    width: 35%;
}
.o_base_wua_infrastructure_pump_photovoltaicplant_view_tree [data-field="installed_capacity"] {
    width: 25%;
}
.o_base_wua_infrastructure_pump_photovoltaicplant_view_tree [data-field="age"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_infrastructure_pump_photovoltaicplant_view_tree [data-id="age"] {
    text-align: center;
}
.o_base_wua_infrastructure_pump_photovoltaicplant_view_tree [data-field="number_of_pumpgroups"] {
    width: 20%;
    text-align: center;
}
.o_base_wua_infrastructure_pump_photovoltaicplant_view_tree [data-id="number_of_pumpgroups"] {
    text-align: center;
}
/**
* wua.pumpgroup
*/
.o_base_wua_infrastructure_pump_pumpgroup_view_tree [data-field="pumpgroup_code"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_infrastructure_pump_pumpgroup_view_tree [data-id="pumpgroup_code"] {
    text-align: center;
}
.o_base_wua_infrastructure_pump_pumpgroup_view_tree [data-field="name"] {
    width: 15%;
}
.o_base_wua_infrastructure_pump_pumpgroup_view_tree [data-field="typology"] {
    width: 15%;
}
.o_base_wua_infrastructure_pump_pumpgroup_view_tree [data-field="nominal_flow"] {
    width: 10%;
    text-align: right;
}
.o_base_wua_infrastructure_pump_pumpgroup_view_tree [data-id="nominal_flow"] {
    text-align: right;
}
.o_base_wua_infrastructure_pump_pumpgroup_view_tree [data-field="nominal_height"] {
    width: 10%;
    text-align: right;
}
.o_base_wua_infrastructure_pump_pumpgroup_view_tree [data-id="nominal_height"] {
    text-align: right;
}
.o_base_wua_infrastructure_pump_pumpgroup_view_tree [data-field="powersupply_type"] {
    width: 20%;
}
.o_base_wua_infrastructure_pump_pumpgroup_view_tree [data-field="age"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_infrastructure_pump_pumpgroup_view_tree [data-id="age"] {
    text-align: center;
}
.o_base_wua_infrastructure_pump_pumpgroup_view_tree [data-field="number_of_pumpunits"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_infrastructure_pump_pumpgroup_view_tree [data-id="number_of_pumpunits"] {
    text-align: center;
}
/**
* wua.pumpunit
*/
.o_base_wua_infrastructure_pump_pumpunit_view_tree [data-field="pumpgroup_id"] {
    width: 12%;
}

.o_base_wua_infrastructure_pump_pumpunit_view_tree [data-field="pumpunit_number"] {
    width: 8%;
    text-align: center;
}
.o_base_wua_infrastructure_pump_pumpunit_view_tree [data-id="pumpunit_number"] {
    text-align: center;
}

.o_base_wua_infrastructure_pump_pumpunit_view_tree [data-field="pumpunit_alias"] {
    width: 12%;
}
.o_base_wua_infrastructure_pump_pumpunit_view_tree [data-field="typology"] {
    width: 13%;
}
.o_base_wua_infrastructure_pump_pumpunit_view_tree [data-field="pump_trademark"] {
    width: 10%;
}
.o_base_wua_infrastructure_pump_pumpunit_view_tree [data-field="pump_model"] {
    width: 10%;
}
.o_base_wua_infrastructure_pump_pumpunit_view_tree [data-field="nominal_flow"] {
    width: 9%;
    text-align: right;
}
.o_base_wua_infrastructure_pump_pumpunit_view_tree [data-id="nominal_flow"] {
    text-align: right;
}

.o_base_wua_infrastructure_pump_pumpunit_view_tree [data-field="nominal_height"] {
    width: 9%;
    text-align: right;
}
.o_base_wua_infrastructure_pump_pumpunit_view_tree [data-id="nominal_height"] {
    text-align: right;
}
.o_base_wua_infrastructure_pump_pumpunit_view_tree [data-field="nominal_power"] {
    width: 9%;
    text-align: right;
}
.o_base_wua_infrastructure_pump_pumpunit_view_tree [data-id="nominal_power"] {
    text-align: right;
}
.o_base_wua_infrastructure_pump_pumpunit_view_tree [data-field="rpm"] {
    width: 8%;
    text-align: right;
}
.o_base_wua_infrastructure_pump_pumpunit_view_tree [data-id="rpm"] {
    text-align: right;
}

