/**/
/* wua.irrigationditch */
/**/
.o_base_wua_infrastructure_irrigationditch_view_tree [data-id="is_main"] {
    text-align: center;
}
.o_base_wua_infrastructure_irrigationditch_view_tree [data-field="is_main"] {
    text-align: center;
}
.o_base_wua_infrastructure_irrigationditch_view_tree [data-id="level"] {
    text-align: center;
}
.o_base_wua_infrastructure_irrigationditch_view_tree [data-field="level"] {
    text-align: center;
}