/**/
/* wua.quota */
/**/
.o_base_wua_quota_management_quota_view_tree[class] [data-id="superproduct_id"] {
    width: 12%;
}
.o_base_wua_quota_management_quota_view_tree[class] [data-id="partner_id"] {
    width: 23%;
}
.o_base_wua_quota_management_quota_view_tree[class] [data-id="quotaperiod_id"] {
    width: 15%;
    text-align: center;
}
.o_base_wua_quota_management_quota_view_tree[class] [data-id="accumulated_input"] {
    width: 10%;
    text-align: right;
}
.o_base_wua_quota_management_quota_view_tree[class] [data-id="accumulated_consumption"] {
    width: 10%;
    text-align: right;
}
.o_base_wua_quota_management_quota_view_tree[class] [data-id="balance"] {
    width: 10%;
    text-align: right;
}
.o_base_wua_quota_management_quota_view_tree[class] [data-id="number_of_invoicing_processes"] {
    width: 10%;
    text-align: right;
}
.o_base_wua_quota_management_quota_view_tree[class] [data-id="sum_price_subtotal"] {
    width: 10%;
    text-align: right;
}


/**
<field name="partner_id"/>

*/
.o_base_wua_invoicing_quota_wua_invoiceset_line_quota_view_tree [data-id="quota_id"]
{
  width: 28%;
}
.o_base_wua_invoicing_quota_wua_invoiceset_line_quota_view_tree [data-id="quotaperiod_id"]
{
  width: 15%;
  text-align: center;
}
.o_base_wua_invoicing_quota_wua_invoiceset_line_quota_view_tree [data-id="superproduct_id"]
{
  width: 11%;
}
.o_base_wua_invoicing_quota_wua_invoiceset_line_quota_view_tree [data-field="quotaperiod_id"]
{
    text-align: center;
}
.o_base_wua_invoicing_quota_wua_invoiceset_line_quota_view_tree [data-id="partner_id"]
{
  width: 16%;
}
.o_base_wua_invoicing_quota_wua_invoiceset_line_quota_view_tree [data-id="accumulated_input"]
{
    width: 10%;
    text-align: right;
}
.o_base_wua_invoicing_quota_wua_invoiceset_line_quota_view_tree [data-field="accumulated_input"]
{
    text-align: right;
}
.o_base_wua_invoicing_quota_wua_invoiceset_line_quota_view_tree [data-id="accumulated_consumption"]
{
    width: 10%;
    text-align: right;
}
.o_base_wua_invoicing_quota_wua_invoiceset_line_quota_view_tree [data-field="accumulated_consumption"]
{
    text-align: right;
}
.o_base_wua_invoicing_quota_wua_invoiceset_line_quota_view_tree [data-id="balance"]
{
    width: 10%;
    text-align: right;
}
.o_base_wua_invoicing_quota_wua_invoiceset_line_quota_view_tree [data-field="balance"]
{
    text-align: right;
}
