/**/
/* wua.assembly */
/**/
.o_base_wua_assembly_assembly_view_tree [data-id="assembly_date"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_assembly_assembly_view_tree [data-field="assembly_date"] {
    text-align: center;
}
.o_base_wua_assembly_assembly_view_tree [data-id="issue"] {
    width: 40%;
}
.o_base_wua_assembly_assembly_view_tree [data-id="public_notes_text"] {
    width: 40%;
}
.o_base_wua_assembly_assembly_view_tree [data-id="state"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_assembly_assembly_view_tree [data-field="state"] {
    text-align: center;
}

/**/
/* wua.agendaitem */
/**/
.o_base_wua_assembly_agendaitem_view_tree [data-id="number"] {
    width: 5%;
    text-align: center;
}
.o_base_wua_assembly_agendaitem_view_tree [data-field="number"] {
    text-align: center;
}
.o_base_wua_assembly_agendaitem_view_tree [data-id="description"] {
    width: 60%;
}
.o_base_wua_assembly_agendaitem_view_tree [data-id="count_yes"] {
    width: 7%;
    text-align: center;
}
.o_base_wua_assembly_agendaitem_view_tree [data-field="count_yes"] {
    text-align: center;
}
.o_base_wua_assembly_agendaitem_view_tree [data-id="count_no"] {
    width: 7%;
    text-align: center;
}
.o_base_wua_assembly_agendaitem_view_tree [data-field="count_no"] {
    text-align: center;
}
.o_base_wua_assembly_agendaitem_view_tree [data-id="count_abstention"] {
    width: 7%;
    text-align: center;
}
.o_base_wua_assembly_agendaitem_view_tree [data-field="count_abstention"] {
    text-align: center;
}
.o_base_wua_assembly_agendaitem_view_tree [data-id="count_null"] {
    width: 7%;
    text-align: center;
}
.o_base_wua_assembly_agendaitem_view_tree [data-field="count_null"] {
    text-align: center;
}
.o_base_wua_assembly_agendaitem_view_tree [data-id="count_total"] {
    width: 7%;
    text-align: center;
}
.o_base_wua_assembly_agendaitem_view_tree [data-field="count_total"] {
    text-align: center;
}
.o_base_wua_assembly_agendaitem_view_tree [data-field="icon_voting_result"] {
    text-align: center;
}

/**/
/* wua.agendaitem */
/**/
.o_base_wua_assembly_agendaitem_option_view_tree [data-id="option"] {
    width: 100%;
    text-align: center;
}
.o_base_wua_assembly_agendaitem_option_view_tree [data-id="count_option"] {
    min-width: 60px;
    text-align: center;
}
.o_base_wua_assembly_agendaitem_option_view_tree [data-field="count_option"] {
    text-align: center;
}

/**/
/* wua.attendance (calls) */
/**/
.o_base_wua_assembly_attendance_calls_view_tree [data-id="partner_id"] {
    width: 100%;
}
.o_base_wua_assembly_attendance_calls_view_tree [data-id="votes_owned"] {
    min-width: 60px;
    text-align: center;
}
.o_base_wua_assembly_attendance_calls_view_tree [data-field="votes_owned"] {
    text-align: center;
}

/**/
/* wua.delegationvote */
/**/
.o_base_wua_assembly_delegationvote_view_tree [data-id="grantor_id"] {
    width: 40%;
}
.o_base_wua_assembly_delegationvote_view_tree [data-id="receiver_id"] {
    width: 40%;
}
.o_base_wua_assembly_delegationvote_view_tree [data-id="transferred_votes"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_assembly_delegationvote_view_tree [data-field="transferred_votes"] {
    text-align: center;
}
.o_base_wua_assembly_delegationvote_view_tree [data-id="state"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_assembly_delegationvote_view_tree [data-field="state"] {
    text-align: center;
}