/* static/src/css/portal_certificate.css */

.o_my_status_table .certificate-pending-row {
    background-color: #f2dede;
    color: #333;
}

.o_my_status_table .certificate-pending-row td,
.o_my_status_table .certificate-pending-row td a {
    color: #333 !important;
}