/*  agriculturalseason_view_tree */
.o_base_wua_pressurized_irrigation_monitoring_agriculturalseason_view_tree [data-id="initial_date"]
{
  width: 12%;
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_agriculturalseason_view_tree [data-field="initial_date"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_agriculturalseason_view_tree [data-id="end_date"]
{
  width: 12%;
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_agriculturalseason_view_tree [data-field="end_date"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_agriculturalseason_view_tree [data-id="description"]
{
  width: 12%;
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_agriculturalseason_view_tree [data-field="description"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_agriculturalseason_view_tree [data-id="number_of_controlperiods"]
{
  width: 12%;
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_agriculturalseason_view_tree [data-field="number_of_controlperiods"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_agriculturalseason_view_tree [data-id="estimated_consumption"]
{
  width: 12%;
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_agriculturalseason_view_tree [data-field="estimated_consumption"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_agriculturalseason_view_tree [data-id="real_consumption"]
{
  width: 12%;
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_agriculturalseason_view_tree [data-field="real_consumption"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_agriculturalseason_view_tree [data-id="deviation"]
{
  width: 12%;
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_agriculturalseason_view_tree [data-field="deviation"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_agriculturalseason_view_tree [data-id="deviation_percentage"]
{
  width: 7%;
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_agriculturalseason_view_tree [data-field="deviation_percentage"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_agriculturalseason_view_tree [data-id="active_agriculturalseason"]
{
  width: 9%;
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_agriculturalseason_view_tree [data-field="active_agriculturalseason"]
{
  text-align: center;
}

/* o_base_wua_pressurized_irrigation_monitoring_comparative_cultivation_presconsumption_view_tree */
.o_base_wua_pressurized_irrigation_monitoring_comparative_cultivation_presconsumption_view_tree [data-field="controlperiod_id"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_cultivation_presconsumption_view_tree [data-id="controlperiod_id"]
{
  width: 20%;
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_cultivation_presconsumption_view_tree [data-id="cultivation_id"]
{
  width: 14%;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_cultivation_presconsumption_view_tree [data-id="estimated_consumption"]
{
  width: 20%;
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_cultivation_presconsumption_view_tree [data-field="estimated_consumption"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_cultivation_presconsumption_view_tree [data-id="real_consumption"]
{
  width: 20%;
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_cultivation_presconsumption_view_tree [data-field="real_consumption"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_cultivation_presconsumption_view_tree [data-id="deviation"]
{
  width: 20%;
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_cultivation_presconsumption_view_tree [data-field="deviation"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_cultivation_presconsumption_view_tree [data-id="deviation_percentage"]
{
  width: 6%;
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_cultivation_presconsumption_view_tree [data-field="deviation_percentage"]
{
  text-align: right;
}

/* o_base_wua_pressurized_irrigation_monitoring_comparative_parcel_presconsumption_view_tree */
.o_base_wua_pressurized_irrigation_monitoring_comparative_parcel_presconsumption_view_tree [data-field="controlperiod_id"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_parcel_presconsumption_view_tree [data-id="controlperiod_id"]
{
  width: 12%;
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_parcel_presconsumption_view_tree [data-field="parcel_id"]
{
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_parcel_presconsumption_view_tree [data-id="parcel_id"]
{
  width: 12%;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_parcel_presconsumption_view_tree [data-field="number_of_subparcels"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_parcel_presconsumption_view_tree [data-id="number_of_subparcels"]
{
  width: 8%;
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_parcel_presconsumption_view_tree [data-field="hydraulicsector_id"]
{
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_parcel_presconsumption_view_tree [data-id="hydraulicsector_id"]
{
  width: 8%;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_parcel_presconsumption_view_tree [data-field="partner_id"]
{
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_parcel_presconsumption_view_tree [data-id="partner_id"]
{
  width: 16%;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_parcel_presconsumption_view_tree [data-field="area_official"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_parcel_presconsumption_view_tree [data-id="area_official"]
{
  width: 10%;
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_parcel_presconsumption_view_tree [data-id="estimated_consumption"]
{
  width: 10%;
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_parcel_presconsumption_view_tree [data-field="estimated_consumption"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_parcel_presconsumption_view_tree [data-id="real_consumption"]
{
  width: 10%;
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_parcel_presconsumption_view_tree [data-field="real_consumption"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_parcel_presconsumption_view_tree [data-id="deviation"]
{
  width: 10%;
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_parcel_presconsumption_view_tree [data-field="deviation"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_parcel_presconsumption_view_tree [data-id="deviation_percentage"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_parcel_presconsumption_view_tree [data-field="deviation_percentage"]
{
  text-align: right;
}

/* o_base_wua_pressurized_irrigation_monitoring_comparative_partner_presconsumption_view_tree */
.o_base_wua_pressurized_irrigation_monitoring_comparative_partner_presconsumption_view_tree [data-field="controlperiod_id"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_partner_presconsumption_view_tree [data-id="controlperiod_id"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_partner_presconsumption_view_tree [data-field="partner_id"]
{

}
.o_base_wua_pressurized_irrigation_monitoring_comparative_partner_presconsumption_view_tree [data-id="partner_id"]
{
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_partner_presconsumption_view_tree [data-field="area_official"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_partner_presconsumption_view_tree [data-id="area_official"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_partner_presconsumption_view_tree [data-id="estimated_consumption"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_partner_presconsumption_view_tree [data-field="estimated_consumption"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_partner_presconsumption_view_tree [data-id="real_consumption"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_partner_presconsumption_view_tree [data-field="real_consumption"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_partner_presconsumption_view_tree [data-id="deviation"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_partner_presconsumption_view_tree [data-field="deviation"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_partner_presconsumption_view_tree [data-id="deviation_percentage"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_partner_presconsumption_view_tree [data-field="deviation_percentage"]
{
  text-align: right;
}

/* o_base_wua_pressurized_irrigation_monitoring_comparative_subparcel_presconsumption_view_tree */
.o_base_wua_pressurized_irrigation_monitoring_comparative_subparcel_presconsumption_view_tree [data-field="controlperiod_id"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_subparcel_presconsumption_view_tree [data-id="controlperiod_id"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_subparcel_presconsumption_view_tree [data-field="parcel_id"]
{
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_subparcel_presconsumption_view_tree [data-id="parcel_id"]
{
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_subparcel_presconsumption_view_tree [data-field="subparcel_id"]
{
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_subparcel_presconsumption_view_tree [data-id="subparcel_id"]
{
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_subparcel_presconsumption_view_tree [data-field="hydraulicsector_id"]
{
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_subparcel_presconsumption_view_tree [data-id="hydraulicsector_id"]
{
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_subparcel_presconsumption_view_tree [data-field="partner_id"]
{
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_subparcel_presconsumption_view_tree [data-id="partner_id"]
{
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_subparcel_presconsumption_view_tree [data-field="area_official"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_subparcel_presconsumption_view_tree [data-id="area_official"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_subparcel_presconsumption_view_tree [data-field="cultivation_id"]
{
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_subparcel_presconsumption_view_tree [data-id="cultivation_id"]
{
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_subparcel_presconsumption_view_tree [data-id="estimated_consumption"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_subparcel_presconsumption_view_tree [data-field="estimated_consumption"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_subparcel_presconsumption_view_tree [data-id="real_consumption"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_subparcel_presconsumption_view_tree [data-field="real_consumption"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_subparcel_presconsumption_view_tree [data-id="deviation"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_subparcel_presconsumption_view_tree [data-field="deviation"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_subparcel_presconsumption_view_tree [data-id="deviation_percentage"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_comparative_subparcel_presconsumption_view_tree [data-field="deviation_percentage"]
{
  text-align: right;
}

/* o_base_wua_pressurized_irrigation_monitoring_controlperiod_view_tree */
.o_base_wua_pressurized_irrigation_monitoring_controlperiod_view_tree [data-id="initial_date"]
{
  width: 11%;
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_controlperiod_view_tree [data-field="initial_date"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_controlperiod_view_tree [data-id="end_date"]
{
  width: 11%;
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_controlperiod_view_tree [data-field="end_date"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_controlperiod_view_tree [data-id="agriculturalseason_id"]
{
  width: 16%;
  text-align: left;
}
.o_base_wua_pressurized_irrigation_monitoring_controlperiod_view_tree [data-field="agriculturalseason_id"]
{
  text-align: left;
}
.o_base_wua_pressurized_irrigation_monitoring_controlperiod_view_tree [data-id="et0_value"]
{
  width: 8%;
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_controlperiod_view_tree [data-field="et0_value"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_controlperiod_view_tree [data-id="pe_value"]
{
  width: 8%;
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_controlperiod_view_tree [data-field="pe_value"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_controlperiod_view_tree [data-id="estimated_consumption"]
{
  width: 10%;
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_controlperiod_view_tree [data-field="estimated_consumption"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_controlperiod_view_tree [data-id="real_consumption"]
{
  width: 10%;
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_controlperiod_view_tree [data-field="real_consumption"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_controlperiod_view_tree [data-id="deviation"]
{
  width: 10%;
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_controlperiod_view_tree [data-field="deviation"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_controlperiod_view_tree [data-id="deviation_percentage"]
{
  width: 6%;
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_controlperiod_view_tree [data-field="deviation_percentage"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_controlperiod_view_tree [data-id="state"]
{
  width: 10%;
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_controlperiod_view_tree [data-field="state"]
{
  text-align: center;
}

/* o_base_wua_pressurized_irrigation_monitoring_controlconsumptions_view_tree */
.o_base_wua_pressurized_irrigation_monitoring_controlconsumptions_view_tree [data-id="waterconnection_id"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_controlconsumptions_view_tree [data-field="waterconnection_id"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_controlconsumptions_view_tree [data-id="watermeter_id"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_controlconsumptions_view_tree [data-field="watermeter_id"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_controlconsumptions_view_tree [data-id="reading_initial_time"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_controlconsumptions_view_tree [data-field="reading_initial_time"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_controlconsumptions_view_tree [data-id="reading_end_time"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_controlconsumptions_view_tree [data-field="reading_end_time"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_controlconsumptions_view_tree [data-id="controlreading_id"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_controlconsumptions_view_tree [data-field="controlreading_id"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_controlconsumptions_view_tree [data-id="validated"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_controlconsumptions_view_tree [data-field="validated"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_controlconsumptions_view_tree [data-id="volume"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_controlconsumptions_view_tree [data-field="volume"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_controlconsumptions_view_tree [data-id="volume_real"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_controlconsumptions_view_tree [data-field="volume_real"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_controlconsumptions_view_tree [data-id="adjustement_volume"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_controlconsumptions_view_tree [data-field="adjustement_volume"]
{
  text-align: right;
}

/* o_base_wua_pressurized_irrigation_monitoring_controlreadings_view_tree */
.o_base_wua_pressurized_irrigation_monitoring_controlreadings_view_tree [data-id="waterconnection_id"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_controlreadings_view_tree [data-field="waterconnection_id"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_controlreadings_view_tree [data-id="watermeter_id"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_controlreadings_view_tree [data-field="watermeter_id"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_controlreadings_view_tree [data-id="reading_time"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_controlreadings_view_tree [data-field="reading_time"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_controlreadings_view_tree [data-id="volume"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_controlreadings_view_tree [data-field="volume"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_controlreadings_view_tree [data-id="initialization_reading"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_controlreadings_view_tree [data-field="initialization_reading"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_controlreadings_view_tree [data-id="controlpresconsumption_volume"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_controlreadings_view_tree [data-field="controlpresconsumption_volume"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_controlreadings_view_tree [data-id="controlpresconsumption_volume_real"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_controlreadings_view_tree [data-field="controlpresconsumption_volume_real"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_controlreadings_view_tree [data-id="controlpresconsumption_adjustement_volume"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_controlreadings_view_tree [data-field="controlpresconsumption_adjustement_volume"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_controlreadings_view_tree [data-id="is_last_reading"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_controlreadings_view_tree [data-field="is_last_reading"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_controlreadings_view_tree [data-id="controlpresconsumption_id"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_controlreadings_view_tree [data-field="controlpresconsumption_id"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_controlreadings_view_tree [data-id="validated"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_controlreadings_view_tree [data-field="validated"]
{
  text-align: center;
}

/* o_base_wua_pressurized_irrigation_monitoring_negative_controlreadings_view_tree */

.o_base_wua_pressurized_irrigation_monitoring_negative_controlreadings_view_tree [data-id="waterconnection_id"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_negative_controlreadings_view_tree [data-field="waterconnection_id"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_negative_controlreadings_view_tree [data-id="watermeter_id"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_negative_controlreadings_view_tree [data-field="watermeter_id"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_negative_controlreadings_view_tree [data-id="reading_time"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_negative_controlreadings_view_tree [data-field="reading_time"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_negative_controlreadings_view_tree [data-id="volume"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_negative_controlreadings_view_tree [data-field="volume"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_negative_controlreadings_view_tree [data-id="controlpresconsumption_volume"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_negative_controlreadings_view_tree [data-field="controlpresconsumption_volume"]
{
  text-align: right;
}

/* o_base_wua_pressurized_irrigation_monitoring_parcel_subparcel_view_tree */
.o_base_wua_pressurized_irrigation_monitoring_parcel_subparcel_view_tree [data-field="parcel_id"]
{
}
.o_base_wua_pressurized_irrigation_monitoring_parcel_subparcel_view_tree [data-id="parcel_id"]
{
}
.o_base_wua_pressurized_irrigation_monitoring_parcel_subparcel_view_tree [data-field="hydraulicsector_id"]
{
}
.o_base_wua_pressurized_irrigation_monitoring_parcel_subparcel_view_tree [data-id="hydraulicsector_id"]
{
}
.o_base_wua_pressurized_irrigation_monitoring_parcel_subparcel_view_tree [data-field="partner_id"]
{
}
.o_base_wua_pressurized_irrigation_monitoring_parcel_subparcel_view_tree [data-id="partner_id"]
{
}
.o_base_wua_pressurized_irrigation_monitoring_parcel_subparcel_view_tree [data-field="area_official"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_parcel_subparcel_view_tree [data-id="area_official"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_parcel_subparcel_view_tree [data-field="cultivation_id"]
{
}
.o_base_wua_pressurized_irrigation_monitoring_parcel_subparcel_view_tree [data-id="cultivation_id"]
{
}
.o_base_wua_pressurized_irrigation_monitoring_parcel_subparcel_view_tree [data-field="age_category"]
{
}
.o_base_wua_pressurized_irrigation_monitoring_parcel_subparcel_view_tree [data-id="age_category"]
{
}
.o_base_wua_pressurized_irrigation_monitoring_parcel_subparcel_view_tree [data-field="shaded_percentage"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_parcel_subparcel_view_tree [data-id="shaded_percentage"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_parcel_subparcel_view_tree [data-field="soil_type"]
{
}
.o_base_wua_pressurized_irrigation_monitoring_parcel_subparcel_view_tree [data-id="soil_type"]
{
}
.o_base_wua_pressurized_irrigation_monitoring_parcel_subparcel_view_tree [data-field="organic_material_percentage"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_parcel_subparcel_view_tree [data-id="organic_material_percentage"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_parcel_subparcel_view_tree [data-id="estimated_consumption"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_parcel_subparcel_view_tree [data-field="estimated_consumption"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_parcel_subparcel_view_tree [data-id="real_consumption"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_parcel_subparcel_view_tree [data-field="real_consumption"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_parcel_subparcel_view_tree [data-id="deviation"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_parcel_subparcel_view_tree [data-field="deviation"]
{
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_parcel_subparcel_view_tree [data-id="subparcel_modified"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_parcel_subparcel_view_tree [data-field="subparcel_modified"]
{
  text-align: center;
}

.semaphore-green
{
  color: green;
}
.semaphore-yellow
{
  color: orange;
}
.semaphore-red
{
  color: red;
}

/* wua_cultivation_kc_edit_view_tree */
.o_base_wua_pressurized_irrigation_monitoring_cultivation_kc_view_tree [data-id="period_number"]
{
  width: 11%;
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_cultivation_kc_view_tree [data-field="period_number"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_cultivation_kc_view_tree [data-id="controlperiod_id"]
{
  width: 15%;
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_cultivation_kc_view_tree [data-field="controlperiod_id"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_cultivation_kc_view_tree [data-id="cultivation_id"]
{
  width: 35%;
  text-align: left;
}
.o_base_wua_pressurized_irrigation_monitoring_cultivation_kc_view_tree [data-field="cultivation_id"]
{
  text-align: left;
}
.o_base_wua_pressurized_irrigation_monitoring_cultivation_kc_view_tree [data-id="kc_little"]
{
  width: 13%;
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_cultivation_kc_view_tree [data-field="kc_little"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_cultivation_kc_view_tree [data-id="kc_middle"]
{
  width: 13%;
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_cultivation_kc_view_tree [data-field="kc_middle"]
{
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_cultivation_kc_view_tree [data-id="kc_big"]
{
  width: 13%;
  text-align: center;
}
.o_base_wua_pressurized_irrigation_monitoring_cultivation_kc_view_tree [data-field="kc_big"]
{
  text-align: center;
}


/* wua_soiltype_view_tree */
.o_base_wua_pressurized_irrigation_monitoring_soiltype_view_tree [data-id="name"]
{
  width: 75%;
  text-align: left;
}
.o_base_wua_pressurized_irrigation_monitoring_soiltype_view_tree [data-field="name"]
{
  text-align: left;
}

.o_base_wua_pressurized_irrigation_monitoring_soiltype_view_tree [data-id="number_of_subparcels"]
{
  width: 25%;
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_soiltype_view_tree [data-field="number_of_subparcels"]
{
  text-align: right;
}

/* wua_irrigationdose_view_tree */
.o_base_wua_pressurized_irrigation_monitoring_irrigationdose_view_tree [data-id="soiltype_id"]
{
  width: 25%;
  text-align: left;
}
.o_base_wua_pressurized_irrigation_monitoring_irrigationdose_view_tree [data-field="soiltype_id"]
{
  text-align: left;
}

.o_base_wua_pressurized_irrigation_monitoring_irrigationdose_view_tree [data-id="age_category"]
{
  width: 25%;
  text-align: left;
}
.o_base_wua_pressurized_irrigation_monitoring_irrigationdose_view_tree [data-field="age_category"]
{
  text-align: left;
}
.o_base_wua_pressurized_irrigation_monitoring_irrigationdose_view_tree [data-id="minimum_irrigation_dose"]
{
  width: 50%;
  text-align: right;
}
.o_base_wua_pressurized_irrigation_monitoring_irrigationdose_view_tree [data-field="minimum_irrigation_dose"]
{
  text-align: right;
}