/**/
/* wua.parcel */
/**/
.o_base_wua_parcel_view_tree [data-id="mapped_to_specific_device_as_symbol"] {
    text-align: center;
}
.o_base_wua_parcel_view_tree [data-field="mapped_to_specific_device_as_symbol"] {
    text-align: center;
}

/**/
/* mdm.measurement.device.sensor.type */
/**/
.o_mdm_measurement_device_sensor_type_tree [data-id="requires_exclusivity"] {
    text-align: center;
}
.o_mdm_measurement_device_sensor_type_tree [data-field="requires_exclusivity"] {
    text-align: center;
}