/**/
/* wua.parcel */
/**/
.o_base_wua_parcel_view_tree [data-id="mapped_to_specific_device_as_symbol"] {
    text-align: center;
}
.o_base_wua_parcel_view_tree [data-field="mapped_to_specific_device_as_symbol"] {
    text-align: center;
}

/**/
/* mdm.measurement.device.sensor.type */
/**/
.o_mdm_measurement_device_sensor_type_tree [data-id="requires_exclusivity"] {
    text-align: center;
}
.o_mdm_measurement_device_sensor_type_tree [data-field="requires_exclusivity"] {
    text-align: center;
}

/**/
/* mdm.measurement.device */
/**/
.o_mdm_measurement_device_tree [data-id="linked_all_parcels"] {
    text-align: center;
}
.o_mdm_measurement_device_tree [data-field="linked_all_parcels"] {
    text-align: center;
}

/**/
/* res.partner.sensor.reading */
/**/
.o_res_partner_sensor_reading_view_tree .o_list_table {
    table-layout: fixed !important;
    width: 100% !important;
}
.o_res_partner_sensor_reading_view_tree [data-id="parcel_id"],
.o_res_partner_sensor_reading_view_tree [data-field="parcel_id"] {
    width: auto !important;
    text-align: left !important;
}
.o_res_partner_sensor_reading_view_tree [data-id="device_id"],
.o_res_partner_sensor_reading_view_tree [data-field="device_id"] {
    width: 20% !important;
    text-align: left !important;
}
.o_res_partner_sensor_reading_view_tree [data-id="sensor_id"],
.o_res_partner_sensor_reading_view_tree [data-field="sensor_id"] {
    width: 20% !important;
    text-align: left !important;
}
.o_res_partner_sensor_reading_view_tree [data-id="measurement_time"],
.o_res_partner_sensor_reading_view_tree [data-field="measurement_time"] {
    width: 12% !important;
    text-align: center !important;
}
.o_res_partner_sensor_reading_view_tree [data-id="value"],
.o_res_partner_sensor_reading_view_tree [data-field="value"] {
    width: 8% !important;
    text-align: right !important;
}
.o_res_partner_sensor_reading_view_tree [data-id="uom_id"],
.o_res_partner_sensor_reading_view_tree [data-field="uom_id"] {
    width: 8% !important;
    text-align: right !important;
}

/**/
/* wua.parcel.sensor.reading */
/**/
.o_wua_parcel_sensor_reading_view_tree .o_list_table {
    table-layout: fixed !important;
    width: 100% !important;
}
.o_wua_parcel_sensor_reading_view_tree [data-id="device_id"],
.o_wua_parcel_sensor_reading_view_tree [data-field="device_id"] {
    width: auto !important;
    text-align: left !important;
}
.o_wua_parcel_sensor_reading_view_tree [data-id="sensor_id"],
.o_wua_parcel_sensor_reading_view_tree [data-field="sensor_id"] {
    width: 25% !important;
    text-align: left !important;
}
.o_wua_parcel_sensor_reading_view_tree [data-id="measurement_time"],
.o_wua_parcel_sensor_reading_view_tree [data-field="measurement_time"] {
    width: 15% !important;
    text-align: center !important;
}
.o_wua_parcel_sensor_reading_view_tree [data-id="value"],
.o_wua_parcel_sensor_reading_view_tree [data-field="value"] {
    width: 10% !important;
    text-align: right !important;
}
.o_wua_parcel_sensor_reading_view_tree [data-id="uom_id"],
.o_wua_parcel_sensor_reading_view_tree [data-field="uom_id"] {
    width: 8% !important;
    text-align: right !important;
}