.o_base_wua_pressurized_irrigation_with_fertilizer_consumptions_view_tree [data-id="waterconnection_id"] {
  text-align: center;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_consumptions_view_tree [data-field="waterconnection_id"] {
  text-align: center;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_consumptions_view_tree [data-id="reading_initial_time"] {
  text-align: center;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_consumptions_view_tree [data-field="reading_initial_time"] {
  text-align: center;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_consumptions_view_tree [data-id="reading_end_time"] {
  text-align: center;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_consumptions_view_tree [data-field="reading_end_time"] {
  text-align: center;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_consumptions_view_tree [data-id="amount"] {
  text-align: right;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_consumptions_view_tree [data-field="amount"] {
  text-align: right;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_consumptions_view_tree [data-id="presconsumption_id"] {
  text-align: left;
}
.o_base_wua_pressurized_irrigation_with_fertilizer_consumptions_view_tree [data-field="presconsumption_id"] {
  text-align: left;
}

/**  base_wua_pressurized_irrigation */
.o_base_wua_pressurized_irrigation_consumptions_view_tree [data-id="number_of_fertconsumptions"] {
    width: 4%;
    text-align: center;
}

.o_base_wua_pressurized_irrigation_consumptions_view_tree [data-field="number_of_fertconsumptions"] {
    text-align: center;
}
/**[class] make it virtually more priority */
.o_base_wua_pressurized_irrigation_consumptions_view_tree[class] [data-id="reading_id"] {
    width: 13%;
}
