/* wua.invoiceset.line.tankconsumption */
.o_base_wua_invoicing_invoiceset_view_tree [data-id="tank_id"] {
    text-align: center;
}
.o_base_wua_invoicing_invoiceset_view_tree [data-field="tank_id"] {
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_view_tree [data-id="hydraulicsector_id"] {
    text-align: center;
}
.o_base_wua_invoicing_invoiceset_view_tree [data-field="hydraulicsector_id"] {
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_view_tree [data-id="initial_time"] {
    text-align: center;
}
.o_base_wua_invoicing_invoiceset_view_tree [data-field="initial_time"] {
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_view_tree [data-id="end_time"] {
    text-align: center;
}
.o_base_wua_invoicing_invoiceset_view_tree [data-field="end_time"] {
    text-align: center;
}

.o_base_wua_invoicing_invoiceset_view_tree [data-id="volume_request"] {
    text-align: right;
}

.o_base_wua_invoicing_invoiceset_view_tree [data-id="volume_real"] {
    text-align: right;
}
