/* wua_pumpgroupmeasurement_view_tree */
.o_base_wua_pressurized_irrigation_energy_monitoring_wua_pumpgroupmeasurement_view_tree [data-id="pumpgroup_id"] {
    width: 12%;
}

.o_base_wua_pressurized_irrigation_energy_monitoring_wua_pumpgroupmeasurement_view_tree [data-id="agriculturalseason_id"] {
    width: 18%;
    text-align: center;
}
.o_base_wua_pressurized_irrigation_energy_monitoring_wua_pumpgroupmeasurement_view_tree [data-field="agriculturalseason_id"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_energy_monitoring_wua_pumpgroupmeasurement_view_tree [data-id="measurement_time"] {
    width: 12%;
    text-align: center;
}
.o_base_wua_pressurized_irrigation_energy_monitoring_wua_pumpgroupmeasurement_view_tree [data-field="measurement_time"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_energy_monitoring_wua_pumpgroupmeasurement_view_tree [data-id="instantaneous_flow"] {
    text-align: right;
}

.o_base_wua_pressurized_irrigation_energy_monitoring_wua_pumpgroupmeasurement_view_tree [data-id="impulsion_pressure"] {
    text-align: right;
}

.o_base_wua_pressurized_irrigation_energy_monitoring_wua_pumpgroupmeasurement_view_tree [data-id="suction_pressure"] {
    text-align: right;
}

.o_base_wua_pressurized_irrigation_energy_monitoring_wua_pumpgroupmeasurement_view_tree [data-id="manometric_height"] {
    text-align: right;
}

.o_base_wua_pressurized_irrigation_energy_monitoring_wua_pumpgroupmeasurement_view_tree [data-id="supplied_power"] {
    text-align: right;
}

.o_base_wua_pressurized_irrigation_energy_monitoring_wua_pumpgroupmeasurement_view_tree [data-id="consumed_power"] {
    text-align: right;
}

.o_base_wua_pressurized_irrigation_energy_monitoring_wua_pumpgroupmeasurement_view_tree [data-id="energy_efficiency"] {
    text-align: right;
}

.o_base_wua_pressurized_irrigation_energy_monitoring_wua_pumpgroupmeasurement_view_tree [data-id="energy_efficiency_rating"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_energy_monitoring_wua_pumpgroupmeasurement_view_tree [data-field="energy_efficiency_rating"] {
    text-align: center;
}

/* wua_pumpgroup_view_tree */
.o_base_wua_infrastructure_pump_pumpgroup_view_tree [data-id="last_measurement_time"] {
    text-align: center;
}
.o_base_wua_infrastructure_pump_pumpgroup_view_tree [data-field="last_measurement_time"] {
    text-align: center;
}
