/**/
/* wua.certificate.type */
/**/
.o_base_wua_certificate_certificate_type_view_tree [data-id="certificatetype_code"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_certificate_certificate_type_view_tree [data-field="certificatetype_code"] {
    text-align: center;
}
.o_base_wua_certificate_certificate_type_view_tree [data-id="name"] {
    width: 25%;
}
.o_base_wua_certificate_certificate_type_view_tree [data-id="notes_text"] {
    width: 55%;
}
.o_base_wua_certificate_certificate_type_view_tree [data-id="number_of_certificates"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_certificate_certificate_type_view_tree [data-field="number_of_certificates"] {
    text-align: center;
}

/**/
/* wua.certificate */
/**/
.o_base_wua_certificate_certificate_view_tree [data-id="reference_number"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_certificate_certificate_view_tree [data-field="reference_number"] {
    text-align: center;
}
.o_base_wua_certificate_certificate_view_tree [data-id="date_of_issue"] {
    width: 8%;
    text-align: center;
}
.o_base_wua_certificate_certificate_view_tree [data-field="date_of_issue"] {
    text-align: center;
}
.o_base_wua_certificate_certificate_view_tree [data-id="certificatetype_id"] {
    width: 8%;
    text-align: center;
}
.o_base_wua_certificate_certificate_view_tree [data-id="number_of_parcels"] {
    width: 6%;
    text-align: center;
}
.o_base_wua_certificate_certificate_view_tree [data-field="number_of_parcels"] {
    text-align: center;
}
.o_base_wua_certificate_certificate_view_tree [data-id="total_area_official"] {
    width: 6%;
    text-align: right;
}
.o_base_wua_certificate_certificate_view_tree [data-field="total_area_official"] {
    text-align: right;
}
.o_base_wua_certificate_certificate_view_tree [data-id="requested_from_portal"] {
    width: 6%;
    text-align: center;
}
.o_base_wua_certificate_certificate_view_tree [data-field="requested_from_portal"] {
    text-align: center;
}
.o_base_wua_certificate_certificate_view_tree [data-id="user_who_signs_id"] {
    width: 14%;
}
.o_base_wua_certificate_certificate_view_tree [data-id="user_who_validates_id"] {
    width: 14%;
}
.o_base_wua_certificate_certificate_view_tree [data-id="state"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_certificate_certificate_view_tree [data-field="state"] {
    text-align: center;
}


/**/
/* wua.certificate (one partner) */
/**/
.o_base_wua_certificate_certificate_one_partner_view_tree [data-id="reference_number"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_certificate_certificate_one_partner_view_tree [data-field="reference_number"] {
    text-align: center;
}
.o_base_wua_certificate_certificate_one_partner_view_tree [data-id="date_of_issue"] {
    width: 8%;
    text-align: center;
}
.o_base_wua_certificate_certificate_one_partner_view_tree [data-field="date_of_issue"] {
    text-align: center;
}
.o_base_wua_certificate_certificate_one_partner_view_tree [data-id="certificatetype_id"] {
    width: 8%;
    text-align: center;
}
.o_base_wua_certificate_certificate_one_partner_view_tree [data-id="number_of_parcels"] {
    width: 8%;
    text-align: center;
}
.o_base_wua_certificate_certificate_one_partner_view_tree [data-field="number_of_parcels"] {
    text-align: center;
}
.o_base_wua_certificate_certificate_one_partner_view_tree [data-id="total_area_official"] {
    width: 8%;
    text-align: right;
}
.o_base_wua_certificate_certificate_one_partner_view_tree [data-field="total_area_official"] {
    text-align: right;
}
.o_base_wua_certificate_certificate_one_partner_view_tree [data-id="requested_from_portal"] {
    width: 6%;
    text-align: center;
}
.o_base_wua_certificate_certificate_one_partner_view_tree [data-field="requested_from_portal"] {
    text-align: center;
}
.o_base_wua_certificate_certificate_one_partner_view_tree [data-id="user_who_validates_id"] {
    width: 18%;
}
.o_base_wua_certificate_certificate_one_partner_view_tree [data-id="state"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_certificate_certificate_one_partner_view_tree [data-field="state"] {
    text-align: center;
}

/**/
/* wua.certificate.parcel */
/**/
.o_base_wua_certificate_certificate_parcel_view_tree [data-id="parcel_id"] {
    width: 12%;
}
.o_base_wua_certificate_certificate_parcel_view_tree [data-id="cadastral_reference"] {
    width: 16%;
    text-align: center;
}
.o_base_wua_certificate_certificate_parcel_view_tree [data-field="cadastral_reference"] {
    text-align: center;
}
.o_base_wua_certificate_certificate_parcel_view_tree [data-id="is_main"] {
    width: 8%;
    text-align: center;
}
.o_base_wua_certificate_certificate_parcel_view_tree [data-field="is_main"] {
    text-align: center;
}
.o_base_wua_certificate_certificate_parcel_view_tree [data-id="included_in_certificate"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_certificate_certificate_parcel_view_tree [data-field="included_in_certificate"] {
    text-align: center;
}
.o_base_wua_certificate_certificate_parcel_view_tree [data-id="area_official"] {
    width: 12%;
    text-align: right;
}
.o_base_wua_certificate_certificate_parcel_view_tree [data-id="area_gis"] {
    width: 12%;
    text-align: right;
}
.o_base_wua_certificate_certificate_parcel_view_tree [data-id="area_intersected_perimeter"] {
    width: 12%;
    text-align: right;
}
.o_base_wua_certificate_certificate_parcel_view_tree [data-id="ownership_percentage"] {
    width: 9%;
    text-align: right;
}
.o_base_wua_certificate_certificate_parcel_view_tree [data-id="water_costs_percentage"] {
    width: 9%;
    text-align: right;
}
.o_base_wua_certificate_certificate_parcel_view_tree [data-id="other_costs_percentage"] {
    width: 9%;
    text-align: right;
}

/* Custom classes */
.blink_text {
      animation:1s blinker linear infinite;
      -webkit-animation:1s blinker linear infinite;
      -moz-animation:1s blinker linear infinite;
      animation-iteration-count: 4;
      color: orangered;
    }

    @-moz-keyframes blinker {
       0% { opacity: 1.0; }
       50% { opacity: 0.0; }
       100% { opacity: 1.0; }
     }

    @-webkit-keyframes blinker {
       0% { opacity: 1.0; }
       50% { opacity: 0.0; }
       100% { opacity: 1.0; }
     }

    @keyframes blinker {
       0% { opacity: 1.0; }
       50% { opacity: 0.0; }
       100% { opacity: 1.0; }
     }