.tag_custom {
    display: inline-block;
    font-size: 10px;
    padding: 2px 8px;
    border-radius: 12px;
    margin: 2px;
    color: white;
}


.tag_custom.o_tag_color_0 {
    background-color: #4D4D4D;
}
.tag_custom.o_tag_color_1 {
    background-color: #61BD4F;
}
.tag_custom.o_tag_color_2 {
    background-color: #F2D600;
}
.tag_custom.o_tag_color_3 {
    background-color: #FFAB4A;
}
.tag_custom.o_tag_color_4 {
    background-color: #EB5A46;
}
.tag_custom.o_tag_color_5 {
    background-color: #875A7B;
}
.tag_custom.o_tag_color_6 {
    background-color: #0079BF;
}
.tag_custom.o_tag_color_7 {
    background-color: #00C2E0;
}
.tag_custom.o_tag_color_8 {
    background-color: #4CD98E;
}
.tag_custom.o_tag_color_9 {
    background-color: #B6BBBF;
}


