/**/
/* wua.hydricmovement.parcel */
/**/
.o_base_wua_quota_management_parcels_hydricmovement_parcel_view_tree [data-id="parcel_id"] {
    width: 12%;
}
.o_base_wua_quota_management_parcels_hydricmovement_parcel_view_tree [data-id="event_time"] {
    width: 8%;
    text-align: center;
}
.o_base_wua_quota_management_parcels_hydricmovement_parcel_view_tree [data-field="event_time"] {
    text-align: center;
}
.o_base_wua_quota_management_parcels_hydricmovement_parcel_view_tree [data-id="superproduct_id"] {
    width: 16%;
}
.o_base_wua_quota_management_parcels_hydricmovement_parcel_view_tree [data-id="partner_id"] {
    width: 24%;
}
.o_base_wua_quota_management_parcels_hydricmovement_parcel_view_tree [data-id="description"] {
    width: 24%;
}
.o_base_wua_quota_management_parcels_hydricmovement_parcel_view_tree [data-id="accounting_volume"] {
    width: 8%;
    text-align: right;
}
.o_base_wua_quota_management_parcels_hydricmovement_parcel_view_tree [data-id="balance"] {
    width: 8%;
    text-align: right;
}
