.o_base_wua_waterpipe_measurement_waterpipeconsumption_view_tree [data-id="number_of_presconsumptions"] {
    text-align: right;
}
.o_base_wua_waterpipe_measurement_waterpipeconsumption_view_tree [data-field="number_of_presconsumptions"] {
    text-align: right;
}

.o_base_wua_waterpipe_measurement_waterpipeconsumption_view_tree [data-id="network_efficiency"] {
    text-align: right;
}
.o_base_wua_waterpipe_measurement_waterpipeconsumption_view_tree [data-field="network_efficiency"] {
    text-align: right;
}
