.o_base_wua_gravity_irrigation_agriculturalseason_view_tree [data-id="initial_date"] {
    width: 12%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_agriculturalseason_view_tree [data-field="initial_date"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_agriculturalseason_view_tree [data-id="end_date"] {
    width: 12%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_agriculturalseason_view_tree [data-field="end_date"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_agriculturalseason_view_tree [data-id="description"] {
    width: 52%;
}

.o_base_wua_gravity_irrigation_agriculturalseason_view_tree [data-id="number_of_periods"] {
    width: 12%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_agriculturalseason_view_tree [data-field="number_of_periods"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_agriculturalseason_view_tree [data-id="number_of_waterings"] {
    width: 12%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_agriculturalseason_view_tree [data-field="number_of_waterings"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_wateringperiod_view_tree_notebook [data-id="initial_date"] {
    width: 17%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_wateringperiod_view_tree_notebook [data-field="initial_date"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_wateringperiod_view_tree_notebook [data-id="end_date"] {
    width: 17%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_wateringperiod_view_tree_notebook [data-field="end_date"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_wateringperiod_view_tree_notebook [data-id="number_of_requests"] {
    width: 17%;
    text-align: right;
}

.o_base_wua_gravity_irrigation_wateringperiod_view_tree_notebook [data-id="number_of_waterings"] {
    width: 17%;
    text-align: right;
}

.o_base_wua_gravity_irrigation_wateringperiod_view_tree_notebook [data-id="publishable"] {
    width: 16%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_wateringperiod_view_tree_notebook [data-field="publishable"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_wateringperiod_view_tree_notebook [data-id="state"] {
    width: 16%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_wateringperiod_view_tree_notebook [data-field="state"] {
    text-align: center;
}


.o_base_wua_gravity_irrigation_wateringperiod_view_tree [data-id="initial_date"] {
    width: 10%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_wateringperiod_view_tree [data-field="initial_date"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_wateringperiod_view_tree [data-id="end_date"] {
    width: 10%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_wateringperiod_view_tree [data-field="end_date"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_wateringperiod_view_tree [data-id="description"] {
    width: 16%;
}

.o_base_wua_gravity_irrigation_wateringperiod_view_tree [data-id="agriculturalseason_id"] {
    width: 24%;
}

.o_base_wua_gravity_irrigation_wateringperiod_view_tree [data-id="number_of_requests"] {
    width: 10%;
    text-align: right;
}

.o_base_wua_gravity_irrigation_wateringperiod_view_tree [data-id="number_of_waterings"] {
    width: 10%;
    text-align: right;
}

.o_base_wua_gravity_irrigation_wateringperiod_view_tree [data-id="publishable"] {
    width: 10%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_wateringperiod_view_tree [data-field="publishable"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_wateringperiod_view_tree [data-id="predicted_watering"] {
    width: 10%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_wateringperiod_view_tree [data-field="predicted_watering"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_wateringperiod_view_tree [data-id="state"] {
    width: 10%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_wateringperiod_view_tree [data-field="state"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_wateringrequest_view_tree_notebook [data-id="partner_id"] {
    width: 65%;
}

.o_base_wua_gravity_irrigation_wateringrequest_view_tree_notebook [data-id="request_date"] {
    width: 15%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_wateringrequest_view_tree_notebook [data-field="request_date"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_wateringrequest_view_tree_notebook [data-id="state"] {
    width: 20%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_wateringrequest_view_tree_notebook [data-field="state"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_wateringrequest_view_tree [data-id="wateringperiod_id"] {
    width: 13%;
}

.o_base_wua_gravity_irrigation_wateringrequest_view_tree [data-id="partner_id"] {
    width: 32%;
}

.o_base_wua_gravity_irrigation_wateringrequest_view_tree [data-id="request_date"] {
    width: 11%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_wateringrequest_view_tree [data-field="request_date"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_wateringrequest_view_tree [data-id="is_portal_user"] {
    width: 8%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_wateringrequest_view_tree [data-field="is_portal_user"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_wateringrequest_view_tree [data-id="number_of_subparcels"] {
    width: 11%;
    text-align: right;
}

.o_base_wua_gravity_irrigation_wateringrequest_view_tree [data-id="is_open"] {
    width: 8%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_wateringrequest_view_tree [data-field="is_open"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_wateringrequest_view_tree [data-id="state"] {
    width: 17%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_wateringrequest_view_tree [data-field="state"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree_notebook [data-id="subparcel_id"] {
    width: 12%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree_notebook [data-field="subparcel_id"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree_notebook [data-id="area_official"] {
    width: 8%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree_notebook [data-field="area_official"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree_notebook [data-id="parcel_id"] {
    width: 12%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree_notebook [data-field="parcel_id"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree_notebook [data-id="irrigationgate_id"] {
    width: 12%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree_notebook [data-field="irrigationgate_id"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree_notebook [data-id="irrigationditch_id"] {
    width: 15%;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree_notebook [data-id="watering_duration"] {
    width: 10%;
    text-align: right;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree_notebook [data-id="state"] {
    width: 12%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree_notebook [data-field="state"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree_notebook [data-id="watering_id"] {
    width: 19%;
}

.o_base_wua_gravity_irrigation_wateringrequest_partner_view_tree [data-id="name"] {
    width: 18%;
}

.o_base_wua_gravity_irrigation_wateringrequest_partner_view_tree [data-id="wateringperiod_id"] {
    width: 35%;
}

.o_base_wua_gravity_irrigation_wateringrequest_partner_view_tree [data-id="request_date"] {
    width: 11%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_wateringrequest_partner_view_tree [data-field="request_date"] {
    text-align: center;
}


.o_base_wua_gravity_irrigation_wateringrequest_partner_view_tree [data-id="number_of_subparcels"] {
    width: 11%;
    text-align: right;
}

.o_base_wua_gravity_irrigation_wateringrequest_partner_view_tree [data-id="is_open"] {
    width: 8%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_wateringrequest_partner_view_tree [data-field="is_open"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_wateringrequest_partner_view_tree [data-id="state"] {
    width: 17%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_wateringrequest_partner_view_tree [data-field="state"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree [data-id="watering_id"] {
    width: 12%;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree [data-id="subparcel_id"] {
    width: 8%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree [data-field="subparcel_id"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree [data-id="wateringperiod_id"] {
    width: 12%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree [data-field="wateringperiod_id"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree [data-id="watering_initial_time"] {
    width: 8%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree [data-field="watering_initial_time"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree [data-id="watering_end_time"] {
    width: 8%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree [data-field="watering_end_time"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree [data-id="watering_duration"] {
    text-align: right;
    width: 5%;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree [data-id="area_official"] {
    text-align: right;
    width: 6%;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree [data-id="watering_volume"] {
    text-align: right;
    width: 8%;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree [data-id="extra_volume"] {
    text-align: right;
    width: 6%;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree [data-id="watering_volume_real"] {
    text-align: right;
    width: 8%;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree [data-id="partner_id"] {
    width: 13%;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree [data-id="state"] {
    width: 6%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree [data-field="state"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_watering_view_tree [data-id="irrigationditch_id"] {
    width: 10%;
}

.o_base_wua_gravity_irrigation_watering_view_tree [data-id="wateringperiod_id"] {
    width: 8%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_watering_view_tree [data-field="wateringperiod_id"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_watering_view_tree [data-id="number"] {
    width: 5%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_watering_view_tree [data-field="number"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_watering_view_tree [data-id="wateringtime_perunitarea"] {
    width: 7%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_watering_view_tree [data-field="wateringtime_perunitarea"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_watering_view_tree [data-id="volume_perunitime"] {
    width: 6%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_watering_view_tree [data-field="volume_perunitime"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_watering_view_tree [data-id="initial_time"] {
    width: 8%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_watering_view_tree [data-field="initial_time"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_watering_view_tree [data-id="watering_initial_time"] {
    width: 8%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_watering_view_tree [data-field="watering_initial_time"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_watering_view_tree [data-id="reservoiremptying_end_time"] {
    width: 8%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_watering_view_tree [data-field="reservoiremptying_end_time"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_watering_view_tree [data-id="watering_end_time"] {
    width: 8%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_watering_view_tree [data-field="watering_end_time"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_watering_view_tree [data-id="watering_duration_ddhhmm"] {
    width: 5%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_watering_view_tree [data-field="watering_duration_ddhhmm"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_watering_view_tree [data-id="watering_volume"] {
    width: 8%;
    text-align: right;
}

.o_base_wua_gravity_irrigation_watering_view_tree [data-field="watering_volume"] {
    text-align: right;
}

.o_base_wua_gravity_irrigation_watering_view_tree [data-id="reservoir_volume"] {
    width: 8%;
    text-align: right;
}

.o_base_wua_gravity_irrigation_watering_view_tree [data-field="reservoir_volume"] {
    text-align: right;
}

.o_base_wua_gravity_irrigation_watering_view_tree [data-id="publishable"] {
    width: 5%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_watering_view_tree [data-field="publishable"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_watering_view_tree [data-id="state"] {
    width: 6%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_watering_view_tree [data-field="state"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-id="subparcel_id"] {
    width: 15%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-field="subparcel_id"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-id="extra"] {
    width: 6%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-field="extra"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-id="watering_duration_str"] {
    width: 9%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-field="watering_duration_str"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-id="area_official"] {
    width: 7%;
    text-align: right;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-id="parcel_id"] {
    width: 12%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-field="parcel_id"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-id="cadastral_reference"] {
    width: 13%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-field="cadastral_reference"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-id="partner_id"] {
    width: 28%;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-id="vat"] {
    width: 10%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-field="vat"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-id="subparcel_id"] {
    width: 15%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-field="subparcel_id"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-id="extra"] {
    width: 6%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-field="extra"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-id="watering_duration_str"] {
    width: 8%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-field="watering_duration_str"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-id="area_official"] {
    width: 6%;
    text-align: right;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-id="parcel_id"] {
    width: 12%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-field="parcel_id"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-id="cadastral_reference"] {
    width: 11%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-field="cadastral_reference"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-id="partner_id"] {
    width: 28%;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-id="vat"] {
    width: 8%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-field="vat"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-id="is_portal_user"] {
    width: 6%;
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-field="is_portal_user"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_watering_view_tree [data-id="subparcel_id"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_watering_view_tree [data-field="subparcel_id"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_watering_view_tree [data-id="watering_initial_time"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_watering_view_tree [data-field="watering_initial_time"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_watering_view_tree [data-id="watering_end_time"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_watering_view_tree [data-field="watering_end_time"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_watering_view_tree [data-id="watering_duration"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_watering_view_tree [data-field="watering_duration"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_watering_view_tree [data-id="flowdivider_opening_time"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_watering_view_tree [data-field="flowdivider_opening_time"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_watering_view_tree [data-id="flowdivider_closing_time"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_watering_view_tree [data-field="flowdivider_closing_time"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_watering_view_tree [data-id="area_official"] {
    text-align: right;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_watering_view_tree [data-id="watering_volume"] {
    text-align: right;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_watering_view_tree [data-id="extra_volume"] {
    text-align: right;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_watering_view_tree [data-id="watering_volume_real"] {
    text-align: right;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_watering_view_tree [data-id="cadastral_reference"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_watering_view_tree [data-field="cadastral_reference"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_watering_view_tree [data-id="partner_id"] {
}

.o_base_wua_gravity_irrigation_gravconsumption_one_watering_view_tree [data-id="vat"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_watering_view_tree [data-field="vat"] {
    text-align: center;
}


.o_base_wua_gravity_irrigation_gravconsumption_one_watering_view_tree [data-id="state"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_watering_view_tree [data-field="state"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-id="subparcel_id"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-field="subparcel_id"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-id="watering_initial_time"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-field="watering_initial_time"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-id="watering_end_time"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-field="watering_end_time"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-id="watering_duration"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-field="watering_duration"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-id="flowdivider_opening_time"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-field="flowdivider_opening_time"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-id="flowdivider_closing_time"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-field="flowdivider_closing_time"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-id="area_official"] {
    text-align: right;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-id="watering_id"] {
}


.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-id="watering_volume"] {
    text-align: right;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-id="extra_volume"] {
    text-align: right;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-id="watering_volume_real"] {
    text-align: right;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-id="wateringrequest_id"] {
}

.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-id="state"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-field="state"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_employee_view_tree [data-id="subparcel_id"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_employee_view_tree [data-field="subparcel_id"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_employee_view_tree [data-id="watering_initial_time"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_employee_view_tree [data-field="watering_initial_time"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_employee_view_tree [data-id="watering_end_time"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_employee_view_tree [data-field="watering_end_time"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_employee_view_tree [data-id="watering_duration"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_employee_view_tree [data-field="watering_duration"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_employee_view_tree [data-id="flowdivider_opening_time"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_employee_view_tree [data-field="flowdivider_opening_time"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_employee_view_tree [data-id="flowdivider_closing_time"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_employee_view_tree [data-field="flowdivider_closing_time"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_employee_view_tree [data-id="area_official"] {
    text-align: right;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_employee_view_tree [data-id="watering_volume"] {
    text-align: right;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_employee_view_tree [data-id="extra_volume"] {
    text-align: right;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_employee_view_tree [data-id="watering_volume_real"] {
    text-align: right;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_employee_view_tree [data-id="cadastral_reference"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_employee_view_tree [data-field="cadastral_reference"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_employee_view_tree [data-id="partner_id"] {
}

.o_base_wua_gravity_irrigation_gravconsumption_one_employee_view_tree [data-id="vat"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_employee_view_tree [data-field="vat"] {
    text-align: center;
}

/* Custom classes */
.blink_text {
      animation:1s blinker linear infinite;
      -webkit-animation:1s blinker linear infinite;
      -moz-animation:1s blinker linear infinite;
      animation-iteration-count: 4;
      color: red;
    }

    @-moz-keyframes blinker {
       0% { opacity: 1.0; }
       50% { opacity: 0.0; }
       100% { opacity: 1.0; }
     }

    @-webkit-keyframes blinker {
       0% { opacity: 1.0; }
       50% { opacity: 0.0; }
       100% { opacity: 1.0; }
     }

    @keyframes blinker {
       0% { opacity: 1.0; }
       50% { opacity: 0.0; }
       100% { opacity: 1.0; }
     }
