@font-face {
  font-family: 'monitoring_iconset';
  src: url('../font/monitoring_iconset.eot?76893623');
  src: url('../font/monitoring_iconset.eot?76893623#iefix') format('embedded-opentype'),
       url('../font/monitoring_iconset.woff2?76893623') format('woff2'),
       url('../font/monitoring_iconset.woff?76893623') format('woff'),
       url('../font/monitoring_iconset.ttf?76893623') format('truetype'),
       url('../font/monitoring_iconset.svg?76893623#monitoring_iconset') format('svg');
  font-weight: normal;
  font-style: normal;
}

  [class^="fa-monitoring-"]:before, [class*=" fa-monitoring-"]:before {
   display:inline-block;
   font:normal normal normal 14px/1 monitoring_iconset;
   font-size:inherit;
   text-rendering:auto;
   -webkit-font-smoothing:antialiased;
   -moz-osx-font-smoothing:grayscale;
}
 
.fa-monitoring-monitor:before { content: '\e800'; } /* '' */
.fa-monitoring-line-ecg:before { content: '\e801'; } /* '' */
.fa-monitoring-control:before { content: '\e802'; } /* '' */
.fa-monitoring-compare:before { content: '\e803'; } /* '' */
