.o_base_wua_pressurized_irrigation_watermeters_view_tree_notebook [data-id="assign_start"] {
    width: 11%;
    text-align: center;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree_notebook [data-field="assign_start"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree_notebook [data-id="assign_end"] {
    width: 11%;
    text-align: center;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree_notebook [data-field="assign_end"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree_notebook [data-id="days"] {
    width: 9%;
    text-align: right;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree_notebook [data-field="days"] {
    text-align: right;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree_notebook [data-id="watermeter_id"] {
    width: 14%;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree_notebook [data-id="type"] {
    width: 13%;
    text-align: center;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree_notebook [data-field="type"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree_notebook [data-id="nominal_diameter"] {
    width: 15%;
    text-align: right;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree_notebook [data-field="nominal_diameter"] {
    text-align: right;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree_notebook [data-id="nominal_water_flow"] {
    width: 15%;
    text-align: right;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree_notebook [data-field="nominal_water_flow"] {
    text-align: right;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree_notebook [data-id="pressure"] {
    width: 12%;
    text-align: right;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree_notebook [data-field="pressure"] {
    text-align: right;
}

.o_base_wua_pressurized_irrigation_waterconnections_view_tree_notebook [data-id="assign_start"] {
    width: 11%;
    text-align: center;
}

.o_base_wua_pressurized_irrigation_waterconnections_view_tree_notebook [data-field="assign_start"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_waterconnections_view_tree_notebook [data-id="assign_end"] {
    width: 11%;
    text-align: center;
}

.o_base_wua_pressurized_irrigation_waterconnections_view_tree_notebook [data-field="assign_end"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_waterconnections_view_tree_notebook [data-id="days"] {
    width: 9%;
    text-align: right;
}

.o_base_wua_pressurized_irrigation_waterconnections_view_tree_notebook [data-field="days"] {
    text-align: right;
}

.o_base_wua_pressurized_irrigation_waterconnections_view_tree_notebook [data-id="waterconnection_id"] {
    width: 14%;
}

.o_base_wua_pressurized_irrigation_waterconnections_view_tree_notebook [data-id="hydraulicsector_id"] {
    width: 44%;
}

.o_base_wua_pressurized_irrigation_waterconnections_view_tree_notebook [data-id="position"] {
    width: 11%;
    text-align: center;
}

.o_base_wua_pressurized_irrigation_waterconnections_view_tree_notebook [data-field="position"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree [data-id="name"] {
    width: 12%;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree [data-id="installation_date"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_watermeters_view_tree [data-field="installation_date"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree [data-id="type"] {
    width: 9%;
    text-align: center;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree [data-field="type"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree [data-id="waterconnection_id"] {
    width: 9%;
    text-align: center;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree [data-field="waterconnection_id"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree [data-id="irrigationshed_id"] {
    width: 9%;
    text-align: center;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree [data-field="irrigationshed_id"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree [data-id="hydraulicsector_id"] {
    width: 9%;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree [data-id="nominal_diameter"] {
    width: 6%;
    text-align: right;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree [data-field="nominal_diameter"] {
    text-align: right;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree [data-id="nominal_water_flow"] {
    width: 6%;
    text-align: right;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree [data-field="nominal_water_flow"] {
    text-align: right;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree [data-id="pressure"] {
    width: 6%;
    text-align: right;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree [data-field="pressure"] {
    text-align: right;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree [data-id="last_reading_time"] {
    width: 10%;
    text-align: center;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree [data-field="last_reading_time"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree [data-id="last_reading_value"] {
    width: 9%;
    text-align: right;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree [data-field="last_reading_value"] {
    text-align: right;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree [data-id="state"] {
    width: 6%;
    text-align: center;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree [data-field="state"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_watermeters_view_tree [data-id="average_consumption"] {
    text-align: right;
}

.o_base_wua_pressurized_irrigation_watermeters_view_tree [data-field="average_consumption"] {
    text-align: right;
}

.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-id="name"] {
    width: 10%;
}

.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-id="irrigationshed_id"] {
    width: 10%;
}

.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-id="hydraulicsector_id"] {
    width: 13%;
}

.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-id="description"] {
    width: 8%;
}

.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-id="position"] {
    text-align: center;
    width: 7%;
}

.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-field="position"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-id="number_of_parcels"] {
    width: 9%;
    text-align: center;
}

.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-field="number_of_parcels"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-id="total_affected_area_official"] {
    width: 9%;
    text-align: right;
}

.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-id="watermeter_id"] {
    width: 10%;
}

.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-id="last_reading_time"] {
    text-align: center;
    width: 14%;
}

.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-field="last_reading_time"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-id="last_reading_value"] {
    text-align: right;
    width: 10%;
}

.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-field="last_reading_value"] {
    text-align: right;
}
.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-id="average_consumption"] {
    text-align: right;
}

.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-field="average_consumption"] {
    text-align: right;
}

.o_base_wua_pressurized_irrigation_readings_view_tree [data-id="watermeter_id"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_readings_view_tree [data-field="waterconnection_id"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_readings_view_tree [data-id="waterconnection_id"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_readings_view_tree [data-field="watermeter_id"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_readings_view_tree [data-id="reading_time"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_readings_view_tree [data-field="reading_time"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_readings_view_tree [data-id="volume"] {
    text-align: right;
}

.o_base_wua_pressurized_irrigation_readings_view_tree [data-id="initialization_reading"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_readings_view_tree [data-field="initialization_reading"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_readings_view_tree [data-id="presconsumption_volume"] {
    text-align: right;
}

.o_base_wua_pressurized_irrigation_readings_view_tree [data-id="presconsumption_adjustement_volume"] {
    text-align: right;
}

.o_base_wua_pressurized_irrigation_readings_view_tree [data-id="presconsumption_volume_real"] {
    text-align: right;
}

.o_base_wua_pressurized_irrigation_readings_view_tree [data-id="is_last_reading"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_readings_view_tree [data-field="is_last_reading"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_readings_view_tree [data-id="validated"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_readings_view_tree [data-field="validated"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_readings_one_watermeter_view_tree [data-field="watermeter_id"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_readings_one_watermeter_view_tree [data-id="reading_time"] {
    width: 17%;
    text-align: center;
}

.o_base_wua_pressurized_irrigation_readings_one_watermeter_view_tree [data-field="reading_time"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_readings_one_watermeter_view_tree [data-id="volume"] {
    width: 10%;
    text-align: right;
}

.o_base_wua_pressurized_irrigation_readings_one_watermeter_view_tree [data-id="initialization_reading"] {
    width: 8%;
    text-align: center;
}

.o_base_wua_pressurized_irrigation_readings_one_watermeter_view_tree [data-field="initialization_reading"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_readings_one_watermeter_view_tree [data-id="presconsumption_volume"] {
    width: 9%;
    text-align: right;
}

.o_base_wua_pressurized_irrigation_readings_one_watermeter_view_tree [data-id="presconsumption_adjustement_volume"] {
    width: 9%;
    text-align: right;
}

.o_base_wua_pressurized_irrigation_readings_one_watermeter_view_tree [data-id="presconsumption_volume_real"] {
    width: 9%;
    text-align: right;
}

.o_base_wua_pressurized_irrigation_readings_one_watermeter_view_tree [data-id="is_last_reading"] {
    width: 8%;
    text-align: center;
}

.o_base_wua_pressurized_irrigation_readings_one_watermeter_view_tree [data-field="is_last_reading"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_readings_one_watermeter_view_tree [data-id="presconsumption_id"] {
    width: 30%;
}
.o_base_wua_pressurized_irrigation_readings_one_watermeter_view_tree [data-id="validated"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_readings_one_watermeter_view_tree [data-field="validated"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_consumptions_view_tree [data-id="waterconnection_id"] {
    width: 12%;
    text-align: center;
}

.o_base_wua_pressurized_irrigation_consumptions_view_tree [data-field="waterconnection_id"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_consumptions_view_tree [data-id="watermeter_id"] {
    width: 10%;
    text-align: center;
}

.o_base_wua_pressurized_irrigation_consumptions_view_tree [data-field="watermeter_id"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_consumptions_view_tree [data-id="reading_initial_time"] {
    width: 13%;
    text-align: center;
}

.o_base_wua_pressurized_irrigation_consumptions_view_tree [data-field="reading_initial_time"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_consumptions_view_tree [data-id="reading_end_time"] {
    width: 12%;
    text-align: center;
}

.o_base_wua_pressurized_irrigation_consumptions_view_tree [data-field="reading_end_time"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_consumptions_view_tree [data-id="volume"] {
    width: 8%;
    text-align: right;
}

.o_base_wua_pressurized_irrigation_consumptions_view_tree [data-id="adjustement_volume"] {
    width: 8%;
    text-align: right;
}

.o_base_wua_pressurized_irrigation_consumptions_view_tree [data-id="volume_real"] {
    width: 8%;
    text-align: right;
}
.o_base_wua_pressurized_irrigation_consumptions_view_tree [data-id="volume_perunitarea"] {
    width: 8%;
    text-align: right;
}
.o_base_wua_pressurized_irrigation_consumptions_view_tree [data-id="volume_perunitareaandday"] {
    width: 8%;
    text-align: right;
}
.o_base_wua_pressurized_irrigation_consumptions_view_tree [data-id="reading_id"] {
    width: 21%;
}
.o_base_wua_pressurized_irrigation_consumptions_view_tree [data-id="validated"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_consumptions_view_tree [data-field="validated"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_consumptions_one_waterconnection_view_tree [data-id="reading_initial_time"] {
    width: 17%;
    text-align: center;
}

.o_base_wua_pressurized_irrigation_consumptions_one_waterconnection_view_tree [data-field="reading_initial_time"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_consumptions_one_waterconnection_view_tree [data-id="reading_end_time"] {
    width: 17%;
    text-align: center;
}

.o_base_wua_pressurized_irrigation_consumptions_one_waterconnection_view_tree [data-field="reading_end_time"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_consumptions_one_waterconnection_view_tree [data-id="volume"] {
    width: 13%;
    text-align: right;
}

.o_base_wua_pressurized_irrigation_consumptions_one_waterconnection_view_tree [data-id="adjustement_volume"] {
    width: 13%;
    text-align: right;
}

.o_base_wua_pressurized_irrigation_consumptions_one_waterconnection_view_tree [data-id="volume_real"] {
    width: 13%;
    text-align: right;
}

.o_base_wua_pressurized_irrigation_consumptions_one_waterconnection_view_tree [data-id="reading_id"] {
    width: 27%;
}

.o_base_wua_pressurized_irrigation_consumptions_one_waterconnection_view_tree [data-id="validated"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_consumptions_one_waterconnection_view_tree [data-field="validated"] {
    text-align: center;
}

.o_base_wua_infrastructure_parcel_irrigationpointwc_pi_view_tree [data-id="pos_str"] {
    width: 10%;
    text-align: center;
}

.o_base_wua_infrastructure_parcel_irrigationpointwc_pi_view_tree [data-field="pos_str"] {
    text-align: center;
}

.o_base_wua_infrastructure_parcel_irrigationpointwc_pi_view_tree [data-id="waterconnection_id"] {
    width: 22%;
}

.o_base_wua_infrastructure_parcel_irrigationpointwc_pi_view_tree [data-id="watermeter_id"] {
    width: 22%;
}

.o_base_wua_infrastructure_parcel_irrigationpointwc_pi_view_tree [data-id="irrigationshed_id"] {
    width: 22%;
}

.o_base_wua_infrastructure_parcel_irrigationpointwc_pi_view_tree [data-id="hydraulicsector_id"] {
    width: 24%;
}

.o_base_wua_pressurized_irrigation_agriculturalseason_view_tree [data-id="initial_date"] {
    width: 12%;
    text-align: center;
}

.o_base_wua_pressurized_irrigation_agriculturalseason_view_tree [data-field="initial_date"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_agriculturalseason_view_tree [data-id="end_date"] {
    width: 12%;
    text-align: center;
}

.o_base_wua_pressurized_irrigation_agriculturalseason_view_tree [data-field="end_date"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_agriculturalseason_view_tree [data-id="description"] {
    width: 61%;
}

.o_base_wua_pressurized_irrigation_agriculturalseason_view_tree [data-id="number_of_presconsumptions"] {
    width: 15%;
    text-align: center;
}

.o_base_wua_pressurized_irrigation_agriculturalseason_view_tree [data-field="number_of_presconsumptions"] {
    text-align: center;
}

/**/
/* res.partner.waterconnection */
/**/

.o_base_wua_pressurized_irrigation_wua_pressuresensormeasurement_view_tree [data-id="partner_id"] {
    text-align: left;
}
.o_base_wua_pressurized_irrigation_wua_pressuresensormeasurement_view_tree [data-field="partner_id"] {
    text-align: left;
}
.o_base_wua_pressurized_irrigation_wua_pressuresensormeasurement_view_tree [data-id="waterconnection_id"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_wua_pressuresensormeasurement_view_tree [data-field="waterconnection_id"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_res_partner_waterconnection_view_tree [data-id="watermeter_id"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_res_partner_waterconnection_view_tree [data-field="watermeter_id"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_res_partner_waterconnection_view_tree [data-id="last_reading_time"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_res_partner_waterconnection_view_tree [data-id="volume_real"] {
    text-align: right;
}
.o_base_wua_pressurized_irrigation_res_partner_waterconnection_view_tree [data-field="volume_real"] {
    text-align: right;
}
.o_base_wua_pressurized_irrigation_wua_pressuresensormeasurement_view_tree [data-id="last_reading_time"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_wua_pressuresensormeasurement_view_tree [data-field="last_reading_time"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_wua_pressuresensormeasurement_view_tree [data-id="last_reading_value"] {
    text-align: right;
}
.o_base_wua_pressurized_irrigation_wua_pressuresensormeasurement_view_tree [data-field="last_reading_value"] {
    text-align: right;
}


/**/
/* wua.pressuresensor */
/**/
.o_base_wua_pressurized_irrigation_pressuresensors_view_tree [data-id="name"] {
    text-align: center;
    width: 12%;
}
.o_base_wua_pressurized_irrigation_pressuresensors_view_tree [data-field="name"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_pressuresensors_view_tree [data-id="description"] {
    width: 40%;
}
.o_base_wua_pressurized_irrigation_pressuresensors_view_tree [data-id="irrigationshed_id"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_pressuresensors_view_tree [data-field="irrigationshed_id"] {
    text-align: center;
}

/**/
/* wua.pressuresensormeasurement */
/**/
.o_base_wua_pressurized_irrigation_wua_pressuresensormeasurement_view_tree [data-id="pressuresensor_id"] {
    text-align: center;
    width: 12%;
}
.o_base_wua_pressurized_irrigation_wua_pressuresensormeasurement_view_tree [data-field="pressuresensor_id"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_wua_pressuresensormeasurement_view_tree [data-id="measurement_time"] {
    text-align: center;
    width: 40%;
}
.o_base_wua_pressurized_irrigation_wua_pressuresensormeasurement_view_tree [data-field="measurement_time"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_wua_pressuresensormeasurement_view_tree [data-id="measurement_time"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_wua_pressuresensormeasurement_view_tree [data-field="measurement_time"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_wua_pressuresensormeasurement_view_tree [data-id="pressure"] {
    text-align: right;
}
.o_base_wua_pressurized_irrigation_wua_pressuresensormeasurement_view_tree [data-field="pressure"] {
    text-align: right;
}

/**/
/* wua.negative.reading */
/**/

.o_base_wua_pressurized_irrigation_negative_readings_view_tree [data-id="watermeter_id"] {
    width: 20%;
    text-align: center;
}

.o_base_wua_pressurized_irrigation_negative_readings_view_tree [data-field="watermeter_id"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_negative_readings_view_tree [data-id="waterconnection_id"] {
    width: 20%;
    text-align: center;
}

.o_base_wua_pressurized_irrigation_negative_readings_view_tree [data-field="waterconnection_id"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_negative_readings_view_tree [data-id="reading_time"] {
    width: 30%;
    text-align: center;
}

.o_base_wua_pressurized_irrigation_negative_readings_view_tree [data-field="reading_time"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_negative_readings_view_tree [data-id="volume"] {
    width: 15%;
    text-align: right;
}

.o_base_wua_pressurized_irrigation_negative_readings_view_tree [data-field="volume"] {
    text-align: right;
}

.o_base_wua_pressurized_irrigation_negative_readings_view_tree [data-id="presconsumption_volume"] {
    width: 15%;
    text-align: right;
}

.o_base_wua_pressurized_irrigation_negative_readings_view_tree [data-field="presconsumption_volume"] {
    text-align: right;
}

/* wua.waterconnection.irrigation.schedule */
.o_base_wua_pressurized_irrigation_irrigation_schedules_view_tree [data-id="waterconnection_id"] {
    width: 20%;
    text-align: center;
}

.o_base_wua_pressurized_irrigation_irrigation_schedules_view_tree [data-field="waterconnection_id"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_irrigation_schedules_view_tree [data-id="irrigation_start_day"] {
    width: 20%;
    text-align: center;
}

.o_base_wua_pressurized_irrigation_irrigation_schedules_view_tree [data-field="irrigation_start_day"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_irrigation_schedules_view_tree [data-id="shift_number"] {
    width: 15%;
    text-align: right;
}

.o_base_wua_pressurized_irrigation_irrigation_schedules_view_tree [data-field="shift_number"] {
    text-align: right;
}
.o_base_wua_pressurized_irrigation_irrigation_schedules_view_tree [data-id="irrigation_start_hour"] {
    width: 15%;
    text-align: center;
}
.o_base_wua_pressurized_irrigation_irrigation_schedules_view_tree [data-field="irrigation_start_hour"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_irrigation_schedules_view_tree [data-id="irrigation_end_hour"] {
    width: 15%;
    text-align: center;
}
.o_base_wua_pressurized_irrigation_irrigation_schedules_view_tree [data-field="irrigation_end_hour"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_irrigation_schedules_view_tree [data-id="irrigation_duration"] {
    width: 15%;
    text-align: center;
}
.o_base_wua_pressurized_irrigation_irrigation_schedules_view_tree [data-field="irrigation_duration"] {
    text-align: center;
}

/* o_base_wua_pressurized_irrigation_irrigation_events_view_tree */
.o_base_wua_pressurized_irrigation_irrigation_events_view_tree [data-id="waterconnection_id"] {
    width: 15%;
    text-align: center;
}
.o_base_wua_pressurized_irrigation_irrigation_events_view_tree [data-field="waterconnection_id"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_irrigation_events_view_tree [data-id="irrigation_start_date"] {
    width: 15%;
    text-align: center;
}
.o_base_wua_pressurized_irrigation_irrigation_events_view_tree [data-field="irrigation_start_date"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_irrigation_events_view_tree [data-id="irrigation_end_date"] {
    width: 15%;
    text-align: center;
}
.o_base_wua_pressurized_irrigation_irrigation_events_view_tree [data-field="irrigation_end_date"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_irrigation_events_view_tree [data-id="irrigation_volume"] {
    width: 10%;
    text-align: right;
}
.o_base_wua_pressurized_irrigation_irrigation_events_view_tree [data-field="irrigation_volume"] {
    text-align: right;
}
.o_base_wua_pressurized_irrigation_irrigation_events_view_tree [data-id="irrigation_duration"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_pressurized_irrigation_irrigation_events_view_tree [data-field="irrigation_duration"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_irrigation_events_view_tree [data-id="irrigation_flow"] {
    width: 10%;
    text-align: right;
}
.o_base_wua_pressurized_irrigation_irrigation_events_view_tree [data-field="irrigation_flow"] {
    text-align: right;
}
.o_base_wua_pressurized_irrigation_irrigation_events_view_tree [data-id="irrigation_area"] {
    width: 10%;
    text-align: right;
}
.o_base_wua_pressurized_irrigation_irrigation_events_view_tree [data-field="irrigation_area"] {
    text-align: right;
}
.o_base_wua_pressurized_irrigation_irrigation_events_view_tree [data-id="irrigation_flow_per_surface"] {
    width: 15%;
    text-align: right;
}
.o_base_wua_pressurized_irrigation_irrigation_events_view_tree [data-field="irrigation_flow_per_surface"] {
    text-align: right;
}