/**/
/* wua.agriculturalseason */
/**/

.o_base_wua_crop_planning_agriculturalseason_view_tree [data-field="volume_perunitarea"] {
    text-align: right;
}
.o_base_wua_crop_planning_agriculturalseason_view_tree [data-id="volume_perunitarea"] {
    text-align: right;
}

/**/
/* wua.enrolledsubparcel */
/**/
.o_base_wua_crop_planning_enrolledsubparcel_view_tree [data-field="contracted_volume"] {
    text-align: right;
}
.o_base_wua_crop_planning_enrolledsubparcel_view_tree [data-id="contracted_volume"] {
    text-align: right;
    width: 8%;
}
.o_base_wua_crop_planning_enrolledsubparcel_edit_view_tree [data-field="contracted_volume"] {
    text-align: right;
}
.o_base_wua_crop_planning_enrolledsubparcel_edit_view_tree [data-id="contracted_volume"] {
    text-align: right;
    width: 8%;
}

/**/
/* wua.cropplan */
/**/

.o_base_wua_crop_planning_cropplan_view_tree [data-field="contracted_volume"] {
    text-align: right;
}

.o_base_wua_crop_planning_cropplan_view_tree [data-id="contracted_volume"] {
    text-align: right;
    width: 8%;
}
