/* o_nrs_tracking_view_tree */
.o_nrs_tracking_view_tree [data-id="parcel_id"] {
    text-align: center;
    width: 8%;
}
.o_nrs_tracking_view_tree [data-field="parcel_id"] {
    text-align: center;
}

