/**/
/* wua.certificate.sigpac */
/**/
.o_base_wua_certificate_sigpac_certificate_sigpac_view_tree [data-id="parcel_id"] {
    width: 12%;
}
.o_base_wua_certificate_sigpac_certificate_sigpac_view_tree [data-id="sigpac_code"] {
    width: 21%;
}
.o_base_wua_certificate_sigpac_certificate_sigpac_view_tree [data-id="uso_sigpac"] {
    width: 18%;
}
.o_base_wua_certificate_sigpac_certificate_sigpac_view_tree [data-field="uso_sigpac"] {
    text-align: left;
}
.o_base_wua_certificate_sigpac_certificate_sigpac_view_tree [data-id="coef_rega"] {
    width: 11%;
    text-align: right;
}
.o_base_wua_certificate_sigpac_certificate_sigpac_view_tree [data-field="coef_rega"] {
    text-align: right;
}
.o_base_wua_certificate_sigpac_certificate_sigpac_view_tree [data-id="parcel_area_ha"] {
    width: 11%;
    text-align: right;
}
.o_base_wua_certificate_sigpac_certificate_sigpac_view_tree [data-field="parcel_area_ha"] {
    text-align: right;
}
.o_base_wua_certificate_sigpac_certificate_sigpac_view_tree [data-id="area_ha"] {
    width: 11%;
    text-align: right;
}
.o_base_wua_certificate_sigpac_certificate_sigpac_view_tree [data-field="area_ha"] {
    text-align: right;
}
.o_base_wua_certificate_sigpac_certificate_sigpac_view_tree [data-id="intersection_percentage"] {
    width: 8%;
    text-align: right;
}
.o_base_wua_certificate_sigpac_certificate_sigpac_view_tree [data-field="intersection_percentage"] {
    text-align: right;
}
.o_base_wua_certificate_sigpac_certificate_sigpac_view_tree [data-id="included_in_certificate"] {
    width: 8%;
    text-align: center;
}
.o_base_wua_certificate_sigpac_certificate_sigpac_view_tree [data-field="included_in_certificate"] {
    text-align: center;
}