/**/
/* wua.superproduct */
/**/
.o_base_wua_quota_management_superproduct_view_tree [data-id="superproduct_code"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_quota_management_superproduct_view_tree [data-field="superproduct_code"] {
    text-align: center;
}
.o_base_wua_quota_management_superproduct_view_tree [data-id="name"] {
    width: 80%;
}
.o_base_wua_quota_management_superproduct_view_tree [data-id="number_of_products"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_quota_management_superproduct_view_tree [data-field="number_of_products"] {
    text-align: center;
}
/**/
/* wua.agriculturalseason */
/**/
.o_base_wua_quota_management_agriculturalseason_view_tree [data-id="initial_date"] {
    width: 12%;
    text-align: center;
}
.o_base_wua_quota_management_agriculturalseason_view_tree [data-field="initial_date"] {
    text-align: center;
}
.o_base_wua_quota_management_agriculturalseason_view_tree [data-id="end_date"] {
    width: 12%;
    text-align: center;
}
.o_base_wua_quota_management_agriculturalseason_view_tree [data-field="end_date"] {
    text-align: center;
}
.o_base_wua_quota_management_agriculturalseason_view_tree [data-id="description"] {
    width: 40%;
}
.o_base_wua_quota_management_agriculturalseason_view_tree [data-id="initialized"] {
    width: 12%;
    text-align: center;
}
.o_base_wua_quota_management_agriculturalseason_view_tree [data-field="initialized"] {
    text-align: center;
}
.o_base_wua_quota_management_agriculturalseason_view_tree [data-id="number_of_quotaperiods"] {
    width: 12%;
    text-align: center;
}
.o_base_wua_quota_management_agriculturalseason_view_tree [data-field="number_of_quotaperiods"] {
    text-align: center;
}
.o_base_wua_quota_management_agriculturalseason_view_tree [data-id="active_agriculturalseason"] {
    width: 12%;
    text-align: center;
}
.o_base_wua_quota_management_agriculturalseason_view_tree [data-field="active_agriculturalseason"] {
    text-align: center;
}
/**/
/* wua.agriculturalseason (pressurized irrigation) */
/**/
.o_base_wua_pressurized_irrigation_agriculturalseason_view_tree [data-id="description"] {
    width: 52%;
}
.o_base_wua_pressurized_irrigation_agriculturalseason_view_tree [data-id="number_of_presconsumptions"] {
    width: 12%;
}
.o_base_wua_pressurized_irrigation_agriculturalseason_view_tree [data-id="active_agriculturalseason"] {
    width: 12%;
    text-align: center;
}
.o_base_wua_pressurized_irrigation_agriculturalseason_view_tree [data-field="active_agriculturalseason"] {
    text-align: center;
}
/**/
/* wua.agriculturalseason (gravity irrigation) */
/**/
.o_base_wua_gravity_irrigation_agriculturalseason_view_tree [data-id="description"] {
    width: 40%;
}
.o_base_wua_gravity_irrigation_agriculturalseason_view_tree [data-id="active_agriculturalseason"] {
    width: 12%;
    text-align: center;
}
.o_base_wua_gravity_irrigation_agriculturalseason_view_tree [data-field="active_agriculturalseason"] {
    text-align: center;
}
/**/
/* wua.waterconnection */
/**/
.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-id="fixed_water"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-field="fixed_water"] {
    text-align: center;
}
/**/
/* wua.quotaperiod */
/**/
.o_base_wua_quota_management_quotaperiod_view_tree [data-id="agriculturalseason_id"] {
    width: 16%;
}
.o_base_wua_quota_management_quotaperiod_view_tree [data-id="initial_date"] {
    width: 12%;
    text-align: center;
}
.o_base_wua_quota_management_quotaperiod_view_tree [data-field="initial_date"] {
    text-align: center;
}
.o_base_wua_quota_management_quotaperiod_view_tree [data-id="end_date"] {
    width: 12%;
    text-align: center;
}
.o_base_wua_quota_management_quotaperiod_view_tree [data-field="end_date"] {
    text-align: center;
}
.o_base_wua_quota_management_quotaperiod_view_tree [data-id="description"] {
    width: 16%;
}
.o_base_wua_quota_management_quotaperiod_view_tree [data-id="number_of_superproducts"] {
    width: 12%;
    text-align: center;
}
.o_base_wua_quota_management_quotaperiod_view_tree [data-field="number_of_superproducts"] {
    text-align: center;
}
.o_base_wua_quota_management_quotaperiod_view_tree [data-id="sorted_quotas"] {
    width: 8%;
    text-align: center;
}
.o_base_wua_quota_management_quotaperiod_view_tree [data-field="sorted_quotas"] {
    text-align: center;
}
.o_base_wua_quota_management_quotaperiod_view_tree [data-id="volume_total"] {
    width: 12%;
    text-align: right;
}
.o_base_wua_quota_management_quotaperiod_view_tree [data-id="state"] {
    width: 12%;
    text-align: center;
}
.o_base_wua_quota_management_quotaperiod_view_tree [data-field="state"] {
    text-align: center;
}
/**/
/* wua.quotaperiod.line */
/**/
.o_base_wua_quota_management_quotaperiod_line_view_tree [data-id="pos_str"] {
    width: 6%;
    text-align: center;
}
.o_base_wua_quota_management_quotaperiod_line_view_tree [data-field="pos_str"] {
    text-align: center;
}
.o_base_wua_quota_management_quotaperiod_line_view_tree [data-id="superproduct_id"] {
    width: 36%;
}
.o_base_wua_quota_management_quotaperiod_line_view_tree [data-id="provision"] {
    width: 16%;
    text-align: center;
}
.o_base_wua_quota_management_quotaperiod_line_view_tree [data-field="provision"] {
    text-align: center;
}
.o_base_wua_quota_management_quotaperiod_line_view_tree [data-id="number_of_parcels"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_quota_management_quotaperiod_line_view_tree [data-field="number_of_parcels"] {
    text-align: center;
}
.o_base_wua_quota_management_quotaperiod_line_view_tree [data-id="area_total"] {
    width: 16%;
    text-align: right;
}.o_base_wua_quota_management_quotaperiod_line_view_tree [data-id="volume_total"] {
    width: 16%;
    text-align: right;
}
/**/
/* wua.quotaperiod.line (configuration tree view) */
/**/
.o_base_wua_quota_management_config_quotaperiod_line_view_tree [data-id="pos_str"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_quota_management_config_quotaperiod_line_view_tree [data-field="pos_str"] {
    text-align: center;
}
.o_base_wua_quota_management_config_quotaperiod_line_view_tree [data-id="superproduct_id"] {
    width: 63%;
}
.o_base_wua_quota_management_config_quotaperiod_line_view_tree [data-id="provision"] {
    width: 12%;
    text-align: center;
}
.o_base_wua_quota_management_config_quotaperiod_line_view_tree [data-field="provision"] {
    text-align: center;
}
.o_base_wua_quota_management_config_quotaperiod_line_view_tree [data-id="number_of_parcels"] {
    width: 15%;
    text-align: center;
}
.o_base_wua_quota_management_config_quotaperiod_line_view_tree [data-field="number_of_parcels"] {
    text-align: center;
}
/**/
/* wua.quotaperiod.line.parcel */
/**/
.o_base_wua_quota_management_quotaperiod_line_parcel_view_tree [data-id="parcel_id"] {
    width: 14%;
    text-align: center;
}
.o_base_wua_quota_management_quotaperiod_line_parcel_view_tree [data-field="parcel_id"] {
    text-align: center;
}
.o_base_wua_quota_management_quotaperiod_line_parcel_view_tree [data-id="partner_id"] {
    width: 22%;
}
.o_base_wua_quota_management_quotaperiod_line_parcel_view_tree [data-id="cadastral_reference"] {
    width: 12%;
    text-align: center;
}
.o_base_wua_quota_management_quotaperiod_line_parcel_view_tree [data-field="cadastral_reference"] {
    text-align: center;
}
.o_base_wua_quota_management_quotaperiod_line_parcel_view_tree [data-id="area_official"] {
    width: 9%;
    text-align: right;
}
.o_base_wua_quota_management_quotaperiod_line_parcel_view_tree [data-id="leased_parcel"] {
    width: 9%;
    text-align: center;
}
.o_base_wua_quota_management_quotaperiod_line_parcel_view_tree [data-field="leased_parcel"] {
    text-align: center;
}
.o_base_wua_quota_management_quotaperiod_line_parcel_view_tree [data-id="hydraulicsector_id"] {
    width: 17%;
}
.o_base_wua_quota_management_quotaperiod_line_parcel_view_tree [data-id="irrigationditch_id"] {
    width: 17%;
}
/**/
/* wua.quota */
/**/
.o_base_wua_quota_management_quota_view_tree [data-id="superproduct_id"] {
    width: 20%;
}
.o_base_wua_quota_management_quota_view_tree [data-id="partner_id"] {
    width: 28%;
}
.o_base_wua_quota_management_quota_view_tree [data-id="quotaperiod_id"] {
    width: 16%;
    text-align: center;
}
.o_base_wua_quota_management_quota_view_tree [data-field="quotaperiod_id"] {
    text-align: center;
}
.o_base_wua_quota_management_quota_view_tree [data-id="accumulated_input"] {
    width: 12%;
    text-align: right;
}
.o_base_wua_quota_management_quota_view_tree [data-id="accumulated_consumption"] {
    width: 12%;
    text-align: right;
}
.o_base_wua_quota_management_quota_view_tree [data-id="balance"] {
    width: 12%;
    text-align: right;
}
.o_base_wua_quota_management_quota_view_tree [data-id="expected_date_for_zero_balance"] {
    text-align: center;
}
.o_base_wua_quota_management_quota_view_tree [data-field="expected_date_for_zero_balance"] {
    text-align: center;
}
/**/
/* wua.quotaperiod.line.parcel (quota data) */
/**/
.o_base_wua_quota_management_quotaperiod_line_parcel_quota_data_view_tree [data-id="parcel_id"] {
    width: 12%;
    text-align: center;
}
.o_base_wua_quota_management_quotaperiod_line_parcel_quota_data_view_tree [data-field="parcel_id"] {
    text-align: center;
}
.o_base_wua_quota_management_quotaperiod_line_parcel_quota_data_view_tree [data-id="partner_id"] {
    width: 24%;
}
.o_base_wua_quota_management_quotaperiod_line_parcel_quota_data_view_tree [data-id="quotaperiod_id"] {
    width: 22%;
}
.o_base_wua_quota_management_quotaperiod_line_parcel_quota_data_view_tree [data-id="superproduct_id"] {
    width: 18%;
}

.o_base_wua_quota_management_quotaperiod_line_parcel_quota_data_view_tree [data-id="provision"] {
    width: 8%;
    text-align: right;
}
.o_base_wua_quota_management_quotaperiod_line_parcel_quota_data_view_tree [data-id="area_official"] {
    width: 8%;
    text-align: right;
}
.o_base_wua_quota_management_quotaperiod_line_parcel_quota_data_view_tree [data-id="volume"] {
    width: 8%;
    text-align: right;
}
/**/
/* wua.hydricmovement */
/**/
.o_base_wua_quota_management_hydricmovement_view_tree [data-id="superproduct_id"] {
    width: 16%;
}
.o_base_wua_quota_management_hydricmovement_view_tree [data-id="partner_id"] {
    width: 24%;
}
.o_base_wua_quota_management_hydricmovement_view_tree [data-id="event_time"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_quota_management_hydricmovement_view_tree [data-field="event_time"] {
    text-align: center;
}
.o_base_wua_quota_management_hydricmovement_view_tree [data-id="description"] {
    width: 30%;
}
.o_base_wua_quota_management_hydricmovement_view_tree [data-id="accounting_volume"] {
    width: 10%;
    text-align: right;
}
.o_base_wua_quota_management_hydricmovement_view_tree [data-id="balance"] {
    width: 10%;
    text-align: right;
}
/**/
/* wua.hydricmovement technical*/
/**/
.o_base_wua_quota_management_technical_hydricmovement_view_tree [data-id="superproduct_id"] {
    width: 12%;
}
.o_base_wua_quota_management_technical_hydricmovement_view_tree [data-id="partner_id"] {
    width: 17%;
}
.o_base_wua_quota_management_technical_hydricmovement_view_tree [data-id="event_time"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_quota_management_technical_hydricmovement_view_tree [data-field="event_time"] {
    text-align: center;
}
.o_base_wua_quota_management_technical_hydricmovement_view_tree [data-id="create_date"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_quota_management_technical_hydricmovement_view_tree [data-field="create_date"] {
    text-align: center;
}
.o_base_wua_quota_management_technical_hydricmovement_view_tree [data-id="description"] {
    width: 33%;
}
.o_base_wua_quota_management_technical_hydricmovement_view_tree [data-id="accounting_volume"] {
    width: 9%;
    text-align: right;
}
.o_base_wua_quota_management_technical_hydricmovement_view_tree [data-id="balance"] {
    width: 9%;
    text-align: right;
}

/**/
/* wua.hydricmovement (within quota view form) */
/**/
.o_base_wua_quota_management_hydricmovement_of_quota_view_tree [data-id="event_time"] {
    width: 14%;
    text-align: center;
}
.o_base_wua_quota_management_hydricmovement_of_quota_view_tree [data-field="event_time"] {
    text-align: center;
}
.o_base_wua_quota_management_hydricmovement_of_quota_view_tree [data-id="description"] {
    width: 58%;
}
.o_base_wua_quota_management_hydricmovement_of_quota_view_tree [data-id="accounting_volume"] {
    width: 14%;
    text-align: right;
}
.o_base_wua_quota_management_hydricmovement_of_quota_view_tree [data-id="balance"] {
    width: 14%;
    text-align: right;
}
/**/
/* wua.individualinput */
/**/
.o_base_wua_quota_management_individualinput_view_tree [data-id="superproduct_id"] {
    width: 13%;
}
.o_base_wua_quota_management_individualinput_view_tree [data-id="partner_id"] {
    width: 21%;
}
.o_base_wua_quota_management_individualinput_view_tree [data-id="quotaperiod_id"] {
    width: 16%;
    text-align: center;
}
.o_base_wua_quota_management_individualinput_view_tree [data-field="quotaperiod_id"] {
    text-align: center;
}
.o_base_wua_quota_management_individualinput_view_tree [data-id="event_time"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_quota_management_individualinput_view_tree [data-field="event_time"] {
    text-align: center;
}
.o_base_wua_quota_management_individualinput_view_tree [data-id="category_id"] {
    width: 12%;
}
.o_base_wua_quota_management_individualinput_view_tree [data-id="reason"] {
    width: 18%;
}
.o_base_wua_quota_management_individualinput_view_tree [data-id="effective_volume"] {
    width: 10%;
    text-align: right;
}
/**/
/* wua.individualinput.massive.assignment */
/**/
.o_base_wua_quota_management_individualinput_massive_assignment_view_tree [data-id="superproduct_id"] {
    width: 10%;
}
.o_base_wua_quota_management_individualinput_massive_assignment_view_tree [data-id="quotaperiod_id"] {
    width: 15%;
    text-align: center;
}
.o_base_wua_quota_management_individualinput_massive_assignment_view_tree [data-field="quotaperiod_id"] {
    text-align: center;
}
.o_base_wua_quota_management_individualinput_massive_assignment_view_tree [data-id="event_time"] {
    width: 12%;
    text-align: center;
}
.o_base_wua_quota_management_individualinput_massive_assignment_view_tree [data-field="event_time"] {
    text-align: center;
}
.o_base_wua_quota_management_individualinput_massive_assignment_view_tree [data-id="category_id"] {
    width: 15%;
}
.o_base_wua_quota_management_individualinput_massive_assignment_view_tree [data-id="reason"] {
    width: 20%;
}

.o_base_wua_quota_management_individualinput_massive_assignment_view_tree [data-id="total_effective_volume"] {
    width: 10%;
    text-align: right;
}

.o_base_wua_quota_management_individualinput_massive_assignment_view_tree [data-field="total_effective_volume"] {
    text-align: right;
}

.o_base_wua_quota_management_individualinput_massive_assignment_view_tree [data-id="total_effective_volume_hours"] {
    width: 10%;
    text-align: center;
}

.o_base_wua_quota_management_individualinput_massive_assignment_view_tree [data-field="total_effective_volume_hours"] {
    text-align: center;
}
.o_base_wua_quota_management_individualinput_massive_assignment_view_tree [data-id="state"] {
    text-align: center;
}

.o_base_wua_quota_management_individualinput_massive_assignment_view_tree [data-field="state"] {
    text-align: center;
}

/**/
/* wua.individualinput.massive.assignment.line */
/**/
.o_base_wua_quota_management_individualinput_massive_assignment_line_view_tree [data-id="partner_id"] {
    width: 25%;
}
.o_base_wua_quota_management_individualinput_massive_assignment_line_view_tree [data-id="volume"] {
    width: 15%;
    text-align: right;
}
.o_base_wua_quota_management_individualinput_massive_assignment_line_view_tree [data-field="volume"] {
    text-align: right;
}
.o_base_wua_quota_management_individualinput_massive_assignment_line_view_tree [data-id="effective_volume"] {
    width: 15%;
    text-align: right;
}
.o_base_wua_quota_management_individualinput_massive_assignment_line_view_tree [data-field="effective_volume"] {
    text-align: right;
}
.o_base_wua_quota_management_individualinput_massive_assignment_line_view_tree [data-id="reason"] {
    width: 45%;
}
/**/
/* wua.cession */
/**/
.o_base_wua_quota_management_cession_view_tree [data-id="superproduct_id"] {
    width: 15%;
}
.o_base_wua_quota_management_cession_view_tree [data-id="partner_id"] {
    width: 18%;
}
.o_base_wua_quota_management_cession_view_tree [data-id="quotaperiod_id"] {
    width: 16%;
    text-align: center;
}
.o_base_wua_quota_management_cession_view_tree [data-field="quotaperiod_id"] {
    text-align: center;
}
.o_base_wua_quota_management_cession_view_tree [data-id="event_time"] {
    width: 8%;
    text-align: center;
}
.o_base_wua_quota_management_cession_view_tree [data-field="event_time"] {
    text-align: center;
}
.o_base_wua_quota_management_cession_view_tree [data-id="receiver_partner_id"] {
    width: 18%;
}
.o_base_wua_quota_management_cession_view_tree [data-id="reason"] {
    width: 15%;
}
.o_base_wua_quota_management_cession_view_tree [data-id="volume"] {
    width: 10%;
    text-align: right;
}
/**/
/* wua.individualinput.category */
/**/
.o_base_wua_quota_management_individualinput_category_view_tree [data-id="category_code"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_quota_management_individualinput_category_view_tree [data-field="category_code"] {
    text-align: center;
}
.o_base_wua_quota_management_individualinput_category_view_tree [data-id="name"] {
    width: 80%;
}
.o_base_wua_quota_management_individualinput_category_view_tree [data-id="effective_factor"] {
    width: 10%;
    text-align: right;
}
/**/
/* wua.parcel */
/**/
.o_base_wua_parcel_view_tree [data-id="mapped_to_current_quotaperiod"] {
    text-align: center;
}
.o_base_wua_parcel_view_tree [data-field="mapped_to_current_quotaperiod"] {
    text-align: center;
}
/**/
/* wua.quota.aggregatevalue */
/**/
.o_base_wua_quota_management_quota_aggregatevalue_view_tree [data-id="partner_id"] {
    width: 21%;
}
.o_base_wua_quota_management_quota_aggregatevalue_view_tree [data-id="quotaperiod_id"] {
    width: 24%;
    text-align: center;
}
.o_base_wua_quota_management_quota_aggregatevalue_view_tree [data-field="quotaperiod_id"] {
    text-align: center;
}
.o_base_wua_quota_management_quota_aggregatevalue_view_tree [data-id="accumulated_input"] {
    width: 9%;
    text-align: right;
}
.o_base_wua_quota_management_quota_aggregatevalue_view_tree [data-id="accumulated_consumption"] {
    width: 9%;
    text-align: right;
}
.o_base_wua_quota_management_quota_aggregatevalue_view_tree [data-field="accumulated_consumption"] {
    text-align: right;
}
.o_base_wua_quota_management_quota_aggregatevalue_view_tree [data-id="balance"] {
    width: 9%;
    text-align: right;
}
.o_base_wua_quota_management_quota_aggregatevalue_view_tree [data-id="available_quota_percentage"] {
    width: 9%;
    text-align: right;
}
.o_base_wua_quota_management_quota_aggregatevalue_view_tree [data-field="available_quota_percentage"] {
    text-align: right;
}
.o_base_wua_quota_management_quota_aggregatevalue_view_tree [data-id="estimated_balance"] {
    width: 9%;
    text-align: right;
}
.o_base_wua_quota_management_quota_aggregatevalue_view_tree [data-id="expected_date_for_zero_balance"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_quota_management_quota_aggregatevalue_view_tree [data-field="expected_date_for_zero_balance"] {
    text-align: center;
}
/**/
/* wua.massive.cancel.balances.partner */
/**/
.o_base_wua_quota_management_edit_selected_cancel_partner_view_tree [data-id="balance"] {
    text-align: right;
    width: 20%;
}
/**/
/* wua.massive.assignments.parcel */
/**/
.o_base_wua_quota_management_wua_edit_selected_assignment_parcel_view_tree [data-id="area_official"] {
    text-align: right;
    width: 20%;
}
.o_base_wua_quota_management_wua_edit_assignment_parcel_view_tree [data-id="area_official"] {
    text-align: right;
    width: 20%;
}
.o_base_wua_quota_management_wua_edit_assignment_parcel_view_tree [data-id="assignment_provision_parcel"] {
    text-align: right;
    width: 20%;
}
/**/
/* wua.massive.cancel.balances.partner */
/**/
.o_base_wua_quota_management_edit_selected_compensatorytransfers_partner_view_tree [data-id="source_balance"] {
    text-align: right;
    width: 20%;
}
.o_base_wua_quota_management_edit_selected_compensatorytransfers_partner_view_tree [data-id="destination_balance"] {
    text-align: right;
    width: 20%;
}