/**/
/* wua.reading */
/**/

.o_base_wua_pressurized_irrigation_readings_view_tree [data-id="from_import"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_readings_view_tree [data-field="from_import"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_readings_one_watermeter_view_tree [data-id="from_import"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_readings_one_watermeter_view_tree [data-field="from_import"] {
    text-align: center;
}
/**/
/* wua.negative.reading */
/**/

.o_base_wua_remotecontrol_rest_negative_readings_view_tree [data-id="watermeter_id"] {
    width: 20%;
    text-align: center;
}

.o_base_wua_remotecontrol_rest_negative_readings_view_tree [data-field="watermeter_id"] {
    text-align: center;
}

.o_base_wua_remotecontrol_rest_negative_readings_view_tree [data-id="waterconnection_id"] {
    width: 20%;
    text-align: center;
}

.o_base_wua_remotecontrol_rest_negative_readings_view_tree [data-field="waterconnection_id"] {
    text-align: center;
}

.o_base_wua_remotecontrol_rest_negative_readings_view_tree [data-id="reading_time"] {
    width: 30%;
    text-align: center;
}

.o_base_wua_remotecontrol_rest_negative_readings_view_tree [data-field="reading_time"] {
    text-align: center;
}

.o_base_wua_remotecontrol_rest_negative_readings_view_tree [data-id="volume"] {
    width: 15%;
    text-align: right;
}

.o_base_wua_remotecontrol_rest_negative_readings_view_tree [data-field="volume"] {
    text-align: right;
}

.o_base_wua_remotecontrol_rest_negative_readings_view_tree [data-id="presconsumption_volume"] {
    width: 15%;
    text-align: right;
}

.o_base_wua_remotecontrol_rest_negative_readings_view_tree [data-field="presconsumption_volume"] {
    text-align: right;
}

/**/
/* wua.waterconnection */
/**/

.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-id="name"] {
    width: 7%;
}

.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-id="irrigationshed_id"] {
    width: 7%;
}

.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-id="hydraulicsector_id"] {
    width: 7%;
}

.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-id="description"] {
    width: 11%;
}

.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-id="position"] {
    text-align: center;
    width: 5%;
}

.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-field="position"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-id="number_of_parcels"] {
    width: 5%;
    text-align: center;
}

.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-field="number_of_parcels"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-id="total_affected_area_official"] {
    width: 7%;
    text-align: right;
}
.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-id="last_data_time"] {
    text-align: center;
    width: 10%;
}
.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-field="last_data_time"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-id="last_waterflow"] {
  text-align: right;
  width: 7%;
}
.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-id="watermeter_id"] {
    text-align: center;
    width: 7%;
}
.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-field="watermeter_id"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-id="last_reading_time"] {
    text-align: center;
    width: 10%;
}
.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-field="last_reading_time"] {
    text-align: center;
}
.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-id="last_reading_value"] {
    text-align: right;
    width: 7%;
}
.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-field="last_reading_value"] {
    text-align: right;
}
.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-id="product_id"] {
    text-align: right;
    width: 10%;
}
.o_base_wua_pressurized_irrigation_waterconnection_view_tree [data-field="product_id"] {
    text-align: right;
}

/**/
/* res.partner.waterconnection */
/**/

.o_base_wua_remotecontrol_rest_partner_waterconnection_view_tree [data-id="partner_id"] {
    text-align: left;
}
.o_base_wua_remotecontrol_rest_partner_waterconnection_view_tree [data-field="partner_id"] {
    text-align: left;
}
.o_base_wua_remotecontrol_rest_partner_waterconnection_view_tree [data-id="waterconnection_id"] {
    text-align: center;
}
.o_base_wua_remotecontrol_rest_partner_waterconnection_view_tree [data-field="waterconnection_id"] {
    text-align: center;
}
.o_base_wua_remotecontrol_rest_partner_waterconnection_view_tree [data-id="last_data_time"] {
    text-align: center;
    width: 13%;
}
.o_base_wua_remotecontrol_rest_partner_waterconnection_view_tree [data-field="last_data_time"] {
    text-align: center;
}
.o_base_wua_remotecontrol_rest_partner_waterconnection_view_tree [data-id="last_waterflow"] {
    text-align: right;
    width: 10%;
}
.o_base_wua_remotecontrol_rest_partner_waterconnection_view_tree [data-field="last_waterflow"] {
    text-align: right;
}
.o_base_wua_remotecontrol_rest_partner_waterconnection_view_tree [data-id="last_total_volume"] {
    text-align: right;
    width: 10%;
}
.o_base_wua_remotecontrol_rest_partner_waterconnection_view_tree [data-field="last_total_volume"] {
    text-align: right;
}
.o_base_wua_remotecontrol_rest_partner_waterconnection_view_tree [data-id="last_valve_open"] {
    text-align: center;
    width: 10%;
}
.o_base_wua_remotecontrol_rest_partner_waterconnection_view_tree [data-field="last_valve_open"] {
    text-align: center;
}
.o_base_wua_remotecontrol_rest_partner_waterconnection_view_tree [data-id="last_valve_scheduled"] {
    text-align: center;
    width: 10%;
}
.o_base_wua_remotecontrol_rest_partner_waterconnection_view_tree [data-field="last_valve_scheduled"] {
    text-align: center;
}
.o_base_wua_remotecontrol_rest_partner_waterconnection_view_tree [data-id="last_reading_time"] {
    text-align: center;
}
.o_base_wua_remotecontrol_rest_partner_waterconnection_view_tree [data-field="last_reading_time"] {
    text-align: center;
}
.o_base_wua_remotecontrol_rest_partner_waterconnection_view_tree [data-id="last_reading_value"] {
    text-align: right;
}
.o_base_wua_remotecontrol_rest_partner_waterconnection_view_tree [data-field="last_reading_value"] {
    text-align: right;
    width: 10%;
}
