/**/
/* wua.reading */
/**/

.o_base_wua_pressurized_irrigation_readings_view_tree [data-id="from_import"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_readings_view_tree [data-field="from_import"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_readings_one_watermeter_view_tree [data-id="from_import"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_readings_one_watermeter_view_tree [data-field="from_import"] {
    text-align: center;
}
/**/
/* wua.negative.reading */
/**/

.o_base_wua_remotecontrol_rest_negative_readings_view_tree [data-id="watermeter_id"] {
    width: 20%;
    text-align: center;
}

.o_base_wua_remotecontrol_rest_negative_readings_view_tree [data-field="watermeter_id"] {
    text-align: center;
}

.o_base_wua_remotecontrol_rest_negative_readings_view_tree [data-id="waterconnection_id"] {
    width: 20%;
    text-align: center;
}

.o_base_wua_remotecontrol_rest_negative_readings_view_tree [data-field="waterconnection_id"] {
    text-align: center;
}

.o_base_wua_remotecontrol_rest_negative_readings_view_tree [data-id="reading_time"] {
    width: 30%;
    text-align: center;
}

.o_base_wua_remotecontrol_rest_negative_readings_view_tree [data-field="reading_time"] {
    text-align: center;
}

.o_base_wua_remotecontrol_rest_negative_readings_view_tree [data-id="volume"] {
    width: 15%;
    text-align: right;
}

.o_base_wua_remotecontrol_rest_negative_readings_view_tree [data-field="volume"] {
    text-align: right;
}

.o_base_wua_remotecontrol_rest_negative_readings_view_tree [data-id="presconsumption_volume"] {
    width: 15%;
    text-align: right;
}

.o_base_wua_remotecontrol_rest_negative_readings_view_tree [data-field="presconsumption_volume"] {
    text-align: right;
}

/**/
/* wua.presconsumption */
/**/
