.o_base_wua_pressurized_irrigation_readings_view_tree [data-field="from_import"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_readings_view_tree [data-id="from_import"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_readings_one_watermeter_view_tree [data-field="from_import"] {
    text-align: center;
}

.o_base_wua_pressurized_irrigation_readings_one_watermeter_view_tree [data-id="from_import"] {
    text-align: center;
}