/**/
/* wua.cultivation */
/**/
.o_base_wua_crop_planning_cultivation_view_tree [data-id="name"] {
    width: 40%;
}
.o_base_wua_crop_planning_cultivation_view_tree [data-id="description"] {
    width: 40%;
}
.o_base_wua_crop_planning_cultivation_view_tree [data-id="permanent"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_crop_planning_cultivation_view_tree [data-field="permanent"] {
    text-align: center;
}
.o_base_wua_crop_planning_cultivation_view_tree [data-id="number_of_varieties"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_crop_planning_cultivation_view_tree [data-field="number_of_varieties"] {
    text-align: center;
}
/**/
/* wua.agriculturalseason */
/**/
.o_base_wua_crop_planning_agriculturalseason_view_tree [data-id="initial_date"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_crop_planning_agriculturalseason_view_tree [data-field="initial_date"] {
    text-align: center;
}
.o_base_wua_crop_planning_agriculturalseason_view_tree [data-id="end_date"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_crop_planning_agriculturalseason_view_tree [data-field="end_date"] {
    text-align: center;
}
.o_base_wua_crop_planning_agriculturalseason_view_tree [data-id="description"] {
    width: 40%;
}
.o_base_wua_crop_planning_agriculturalseason_view_tree [data-id="enrollment_initial_date"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_crop_planning_agriculturalseason_view_tree [data-field="enrollment_initial_date"] {
    text-align: center;
}
.o_base_wua_crop_planning_agriculturalseason_view_tree [data-id="enrollment_end_date"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_crop_planning_agriculturalseason_view_tree [data-field="enrollment_end_date"] {
    text-align: center;
}
.o_base_wua_crop_planning_agriculturalseason_view_tree [data-id="number_of_presconsumptions"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_crop_planning_agriculturalseason_view_tree [data-field="number_of_presconsumptions"] {
    text-align: center;
}
.o_base_wua_crop_planning_agriculturalseason_view_tree [data-id="is_the_active"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_crop_planning_agriculturalseason_view_tree [data-field="is_the_active"] {
    text-align: center;
}
/**/
/* wua.enrolledsubparcel */
/**/
.o_base_wua_crop_planning_enrolledsubparcel_view_tree [data-id="agriculturalseason_id"] {
    width: 10%;
}
.o_base_wua_crop_planning_enrolledsubparcel_view_tree [data-id="parcel_id"] {
    width: 8%;
    text-align: center;
}
.o_base_wua_crop_planning_enrolledsubparcel_view_tree [data-field="parcel_id"] {
    text-align: center;
}
.o_base_wua_crop_planning_enrolledsubparcel_view_tree [data-id="partner_id"] {
    width: 10%;
}
.o_base_wua_crop_planning_enrolledsubparcel_view_tree [data-id="subparcel_code"] {
    width: 8%;
    text-align: center;
}
.o_base_wua_crop_planning_enrolledsubparcel_view_tree [data-field="subparcel_code"] {
    text-align: center;
}
.o_base_wua_crop_planning_enrolledsubparcel_view_tree [data-id="cropplan_id"] {
    width: 8%;
    text-align: center;
}
.o_base_wua_crop_planning_enrolledsubparcel_view_tree [data-field="cropplan_id"] {
    text-align: center;
}
.o_base_wua_crop_planning_enrolledsubparcel_view_tree [data-id="subparceltype_id"] {
    width: 8%;
}
.o_base_wua_crop_planning_enrolledsubparcel_view_tree [data-id="area_official"] {
    width: 8%;
    text-align: right;
}
.o_base_wua_crop_planning_enrolledsubparcel_view_tree [data-id="cultivation_id"] {
    width: 8%;
}
.o_base_wua_crop_planning_enrolledsubparcel_view_tree [data-id="cultivationvariety_id"] {
    width: 8%;
}
.o_base_wua_crop_planning_enrolledsubparcel_view_tree [data-id="irrigationsystem_id"] {
    width: 8%;
}
.o_base_wua_crop_planning_enrolledsubparcel_view_tree [data-id="productionmethod_id"] {
    width: 8%;
}
.o_base_wua_crop_planning_enrolledsubparcel_view_tree [data-id="profile"] {
    width: 8%;
    text-align: center;
}
.o_base_wua_crop_planning_enrolledsubparcel_view_tree [data-field="profile"] {
    text-align: center;
}