/**/
/* wua.cultivation */
/**/
.o_base_wua_crop_planning_cultivation_view_tree [data-id="name"] {
    width: 40%;
}
.o_base_wua_crop_planning_cultivation_view_tree [data-id="description"] {
    width: 40%;
}
.o_base_wua_crop_planning_cultivation_view_tree [data-id="permanent"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_crop_planning_cultivation_view_tree [data-field="permanent"] {
    text-align: center;
}
.o_base_wua_crop_planning_cultivation_view_tree [data-id="number_of_varieties"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_crop_planning_cultivation_view_tree [data-field="number_of_varieties"] {
    text-align: center;
}
/**/
/* wua.agriculturalseason */
/**/
.o_base_wua_crop_planning_agriculturalseason_view_tree [data-id="initial_date"] {
    width: 9%;
    text-align: center;
}
.o_base_wua_crop_planning_agriculturalseason_view_tree [data-field="initial_date"] {
    text-align: center;
}
.o_base_wua_crop_planning_agriculturalseason_view_tree [data-id="end_date"] {
    width: 9%;
    text-align: center;
}
.o_base_wua_crop_planning_agriculturalseason_view_tree [data-field="end_date"] {
    text-align: center;
}
.o_base_wua_crop_planning_agriculturalseason_view_tree [data-id="description"] {
    width: 28%;
}
.o_base_wua_crop_planning_agriculturalseason_view_tree [data-id="enrollment_initial_date"] {
    width: 9%;
    text-align: center;
}
.o_base_wua_crop_planning_agriculturalseason_view_tree [data-field="enrollment_initial_date"] {
    text-align: center;
}
.o_base_wua_crop_planning_agriculturalseason_view_tree [data-id="enrollment_end_date"] {
    width: 9%;
    text-align: center;
}
.o_base_wua_crop_planning_agriculturalseason_view_tree [data-field="enrollment_end_date"] {
    text-align: center;
}
.o_base_wua_crop_planning_agriculturalseason_view_tree [data-id="number_of_cropplans"] {
    width: 9%;
    text-align: center;
}
.o_base_wua_crop_planning_agriculturalseason_view_tree [data-field="number_of_cropplans"] {
    text-align: center;
}
.o_base_wua_crop_planning_agriculturalseason_view_tree [data-id="number_of_enrolledsubparcels"] {
    width: 9%;
    text-align: center;
}
.o_base_wua_crop_planning_agriculturalseason_view_tree [data-field="number_of_enrolledsubparcels"] {
    text-align: center;
}
.o_base_wua_crop_planning_agriculturalseason_view_tree [data-id="number_of_presconsumptions"] {
    width: 9%;
    text-align: center;
}
.o_base_wua_crop_planning_agriculturalseason_view_tree [data-field="number_of_presconsumptions"] {
    text-align: center;
}
.o_base_wua_crop_planning_agriculturalseason_view_tree [data-id="is_the_active"] {
    width: 9%;
    text-align: center;
}
.o_base_wua_crop_planning_agriculturalseason_view_tree [data-field="is_the_active"] {
    text-align: center;
}
/**/
/* wua.enrolledsubparcel */
/**/
.o_base_wua_crop_planning_enrolledsubparcel_view_tree [data-id="agriculturalseason_id"] {
    width: 6%;
    text-align: center;
}
.o_base_wua_crop_planning_enrolledsubparcel_view_tree [data-field="agriculturalseason_id"] {
    text-align: center;
}
.o_base_wua_crop_planning_enrolledsubparcel_view_tree [data-id="parcel_id"] {
    width: 8%;
    text-align: center;
}
.o_base_wua_crop_planning_enrolledsubparcel_view_tree [data-field="parcel_id"] {
    text-align: center;
}
.o_base_wua_crop_planning_enrolledsubparcel_view_tree [data-id="partner_id"] {
    width: 16%;
}
.o_base_wua_crop_planning_enrolledsubparcel_view_tree [data-id="subparcel_code"] {
    width: 8%;
    text-align: center;
}
.o_base_wua_crop_planning_enrolledsubparcel_view_tree [data-field="subparcel_code"] {
    text-align: center;
}
.o_base_wua_crop_planning_enrolledsubparcel_view_tree [data-id="cropplan_id"] {
    width: 6%;
    text-align: center;
}
.o_base_wua_crop_planning_enrolledsubparcel_view_tree [data-field="cropplan_id"] {
    text-align: center;
}
.o_base_wua_crop_planning_enrolledsubparcel_view_tree [data-id="subparceltype_id"] {
    width: 8%;
}
.o_base_wua_crop_planning_enrolledsubparcel_view_tree [data-id="area_official"] {
    width: 8%;
    text-align: right;
}
.o_base_wua_crop_planning_enrolledsubparcel_view_tree [data-id="cultivation_id"] {
    width: 8%;
}
.o_base_wua_crop_planning_enrolledsubparcel_view_tree [data-id="cultivationvariety_id"] {
    width: 8%;
}
.o_base_wua_crop_planning_enrolledsubparcel_view_tree [data-id="irrigationsystem_id"] {
    width: 8%;
}
.o_base_wua_crop_planning_enrolledsubparcel_view_tree [data-id="productionmethod_id"] {
    width: 8%;
}
.o_base_wua_crop_planning_enrolledsubparcel_view_tree [data-id="profile"] {
    width: 6%;
    text-align: center;
}
.o_base_wua_crop_planning_enrolledsubparcel_view_tree [data-field="profile"] {
    text-align: center;
}
/**/
/* wua.enrolledsubparcel (edit mode) */
/**/
.o_base_wua_crop_planning_enrolledsubparcel_edit_view_tree [data-id="parcel_id"] {
    width: 19%;
}
.o_base_wua_crop_planning_enrolledsubparcel_edit_view_tree [data-id="subparceltype_id"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_crop_planning_enrolledsubparcel_edit_view_tree [data-field="subparceltype_id"] {
    text-align: center;
}
.o_base_wua_crop_planning_enrolledsubparcel_edit_view_tree [data-id="area_perc"] {
    width: 5%;
    text-align: center;
}
.o_base_wua_crop_planning_enrolledsubparcel_edit_view_tree [data-field="area_perc"] {
    text-align: center;
}
.o_base_wua_crop_planning_enrolledsubparcel_edit_view_tree [data-id="area_official"] {
    width: 10%;
    text-align: right;
}
.o_base_wua_crop_planning_enrolledsubparcel_edit_view_tree [data-id="cultivation_id"] {
    width: 14%;
}
.o_base_wua_crop_planning_enrolledsubparcel_edit_view_tree [data-id="cultivationvariety_id"] {
    width: 14%;
}
.o_base_wua_crop_planning_enrolledsubparcel_edit_view_tree [data-id="irrigationsystem_id"] {
    width: 14%;
}
.o_base_wua_crop_planning_enrolledsubparcel_edit_view_tree [data-id="productionmethod_id"] {
    width: 14%;
}
/**/
/* wua.cropplan */
/**/
.o_base_wua_crop_planning_cropplan_view_tree [data-id="agriculturalseason_id"] {
    width: 30%;
}
.o_base_wua_crop_planning_cropplan_view_tree [data-id="partner_id"] {
    width: 30%;
}
.o_base_wua_crop_planning_cropplan_view_tree [data-id="request_date"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_crop_planning_cropplan_view_tree [data-field="request_date"] {
    text-align: center;
}
.o_base_wua_crop_planning_cropplan_view_tree [data-id="out_of_time"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_crop_planning_cropplan_view_tree [data-field="out_of_time"] {
    text-align: center;
}
.o_base_wua_crop_planning_cropplan_view_tree [data-id="number_of_enrolledsubparcels"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_crop_planning_cropplan_view_tree [data-field="number_of_enrolledsubparcels"] {
    text-align: center;
}
.o_base_wua_crop_planning_cropplan_view_tree [data-id="area_official"] {
    width: 10%;
    text-align: right;
}
/**/
/* wua.waterconnection */
/**/
.o_base_wua_crop_planning_waterconnection_view_tree [data-id="name"] {
    width: 7%;
    text-align: center;
}
.o_base_wua_crop_planning_waterconnection_view_tree [data-field="name"] {
    text-align: center;
}
.o_base_wua_crop_planning_waterconnection_view_tree [data-id="irrigationshed_id"] {
    width: 7%;
    text-align: center;
}
.o_base_wua_crop_planning_waterconnection_view_tree [data-field="irrigationshed_id"] {
    text-align: center;
}
.o_base_wua_crop_planning_waterconnection_view_tree [data-id="hydraulicsector_id"] {
    width: 9%;
}
.o_base_wua_crop_planning_waterconnection_view_tree [data-id="description"] {
    width: 7%;
}
.o_base_wua_crop_planning_waterconnection_view_tree [data-id="position"] {
    width: 6%;
    text-align: center;
}
.o_base_wua_crop_planning_waterconnection_view_tree [data-field="position"] {
    text-align: center;
}
.o_base_wua_crop_planning_waterconnection_view_tree [data-id="total_affected_area_official"] {
    width: 9%;
    text-align: right;
}
.o_base_wua_crop_planning_waterconnection_view_tree [data-id="number_of_parcels"] {
    width: 7%;
    text-align: center;
}
.o_base_wua_crop_planning_waterconnection_view_tree [data-field="number_of_parcels"] {
    text-align: center;
}
.o_base_wua_crop_planning_waterconnection_view_tree [data-id="watermeter_id"] {
    width: 7%;
    text-align: center;
}
.o_base_wua_crop_planning_waterconnection_view_tree [data-field="watermeter_id"] {
    text-align: center;
}
.o_base_wua_crop_planning_waterconnection_view_tree [data-id="last_reading_time"] {
    width: 9%;
    text-align: center;
}
.o_base_wua_crop_planning_waterconnection_view_tree [data-field="last_reading_time"] {
    text-align: center;
}
.o_base_wua_crop_planning_waterconnection_view_tree [data-id="last_reading_value"] {
    width: 9%;
    text-align: right;
}
.o_base_wua_crop_planning_waterconnection_view_tree [data-id="product_id"] {
    width: 9%;
}
.o_base_wua_crop_planning_waterconnection_view_tree [data-id="registered_cropplan"] {
    width: 7%;
    text-align: center;
}
.o_base_wua_crop_planning_waterconnection_view_tree [data-field="registered_cropplan"] {
    text-align: center;
}
.o_base_wua_crop_planning_waterconnection_view_tree [data-id="working"] {
    width: 7%;
    text-align: center;
}
.o_base_wua_crop_planning_waterconnection_view_tree [data-field="working"] {
    text-align: center;
}
/**/
/* wua.parcel */
/**/
.o_base_wua_parcel_view_tree [data-id="registered_cropplan"] {
    text-align: center;
}
.o_base_wua_parcel_view_tree [data-field="registered_cropplan"] {
    text-align: center;
}
/**/
/* res.partner */
/**/
.o_base_wua_partner_view_tree [data-id="registered_cropplan"] {
    text-align: center;
}
.o_base_wua_partner_view_tree [data-field="registered_cropplan"] {
    text-align: center;
}
/**/
/* wua.parcel.subparcel (edit mode) */
/**/
.o_base_wua_parcel_subparcel_view_tree_notebook [data-id="subparceltype_id"] {
    text-align: center;
}
.o_base_wua_parcel_subparcel_view_tree_notebook [data-field="subparceltype_id"] {
    text-align: center;
}
/**/
/* wua.parcel.irrigationpoint (from waterconnections) */
/**/
.o_base_wua_infrastructure_irrigationpoint_parcels_view_tree_notebook [data-id="can_be_watered"]
    text-align: center;
}
.o_base_wua_infrastructure_irrigationpoint_parcels_view_tree_notebook [data-field="can_be_watered"]
    text-align: center;
}