
.o_base_wua_gravity_irrigation_gravconsumption_view_tree_notebook [data-id="watering_duration_dechours"] {
    width: 10%;
    text-align: right;
}

/* Gravity consumptions tree view */
.o_base_wua_gravity_irrigation_gravconsumption_view_tree [data-id="watering_id"] {
    width: 16%;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree [data-id="wateringperiod_id"] {
    width: 9%;
    text-align: center;
}
.o_base_wua_gravity_irrigation_gravconsumption_view_tree [data-field="wateringperiod_id"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree [data-id="irrigationgate_id"] {
    width: 9%;
    text-align: center;
}
.o_base_wua_gravity_irrigation_gravconsumption_view_tree [data-field="irrigationgate_id"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree [data-id="watering_initial_time"] {
    width: 9%;
    text-align: center;
}
.o_base_wua_gravity_irrigation_gravconsumption_view_tree [data-field="watering_initial_time"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree [data-id="watering_end_time"] {
    width: 9%;
    text-align: center;
}
.o_base_wua_gravity_irrigation_gravconsumption_view_tree [data-field="watering_end_time"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree [data-id="watering_duration_dechours"] {
    text-align: right;
    width: 5%;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree [data-id="watering_volume_real"] {
    text-align: right;
    width: 8%;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree [data-id="partner_id"] {
    width: 16%;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree [data-id="state"] {
    width: 6%;
    text-align: center;
}
.o_base_wua_gravity_irrigation_gravconsumption_view_tree [data-field="state"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree [data-id="confirmed_request"] {
    width: 6%;
    text-align: center;
}
.o_base_wua_gravity_irrigation_gravconsumption_view_tree [data-field="confirmed_request"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_view_tree [data-id="reported_time"] {
    width: 6%;
    text-align: center;
}
.o_base_wua_gravity_irrigation_gravconsumption_view_tree [data-field="reported_time"] {
    text-align: center;
}

/* gravconsumption_one_watering_view_tree*/
.o_base_wua_gravity_irrigation_gravconsumption_one_watering_view_tree [data-id="confirmed_request"] {
    width: 6%;
    text-align: center;
}
.o_base_wua_gravity_irrigation_gravconsumption_one_watering_view_tree [data-field="confirmed_request"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_watering_view_tree [data-id="reported_time"] {
    width: 6%;
    text-align: center;
}
.o_base_wua_gravity_irrigation_gravconsumption_one_watering_view_tree [data-field="reported_time"] {
    text-align: center;
}


/* gravconsumption_one_parcel_view_tree */
.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-id="irrigationgate_id"] {
    width: 9%;
    text-align: center;
}
.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-field="irrigationgate_id"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-id="watering_initial_time"] {
    width: 9%;
    text-align: center;
}
.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-field="watering_initial_time"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-id="watering_end_time"] {
    width: 9%;
    text-align: center;
}
.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-field="watering_end_time"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-id="watering_duration_dechours"] {
    text-align: right;
    width: 5%;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-id="watering_id"] {
    width: 10%;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-id="watering_volume_real"] {
    text-align: right;
    width: 8%;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-id="wateringrequest_id"] {
    text-align: right;
    width: 10%;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-id="state"] {
    width: 6%;
    text-align: center;
}
.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-field="state"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-id="confirmed_request"] {
    width: 6%;
    text-align: center;
}
.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-field="confirmed_request"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-id="reported_time"] {
    width: 6%;
    text-align: center;
}
.o_base_wua_gravity_irrigation_gravconsumption_one_parcel_view_tree [data-field="reported_time"] {
    text-align: center;
}

/* wua_gravconsumption_to_select_view_tree */
.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-id="subparcel_id"] {
    width: 11%;
    text-align: center;
}
.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-field="subparcel_id"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-id="extra"] {
    width: 7%;
    text-align: center;
}
.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-field="extra"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-id="watering_duration_dechours_str"] {
    width: 7%;
    text-align: center;
}
.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-field="watering_duration_dechours_str"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-id="area_official"] {
    width: 8%;
    text-align: right;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-id="parcel_id"] {
    width: 8%;
    text-align: center;
}
.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-field="parcel_id"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-id="cadastral_reference"] {
    width: 11%;
    text-align: center;
}
.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-field="cadastral_reference"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-id="irrigationgate_id"] {
    width: 11%;
    text-align: center;
}
.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-field="irrigationgate_id"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-id="partner_id"] {
    width: 21%;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-id="vat"] {
    width: 8%;
    text-align: center;
}
.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-field="vat"] {
    text-align: center;
}

.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-id="is_portal_user"] {
    width: 6%;
    text-align: center;
}
.o_base_wua_gravity_irrigation_gravconsumption_to_select_view_tree [data-field="is_portal_user"] {
    text-align: center;
}
