/**/
/* wua.intake */
/**/
.o_base_wua_infrastructure_primary_intakes_view_tree [data-field="intake_code"] {
    text-align: center;
    width: 15%;
}
.o_base_wua_infrastructure_primary_intakes_view_tree [data-id="intake_code"] {
    text-align: center;
}
.o_base_wua_infrastructure_primary_intakes_view_tree [data-field="name"] {
    text-align: center;
    width: 15%;
}
.o_base_wua_infrastructure_primary_intakes_view_tree [data-id="name"] {
    text-align: center;
}
.o_base_wua_infrastructure_primary_intakes_view_tree [data-field="type"] {
    text-align: center;
    width: 10%;
}
.o_base_wua_infrastructure_primary_intakes_view_tree [data-id="type"] {
    text-align: center;
}
.o_base_wua_infrastructure_primary_intakes_view_tree [data-field="flowmeter_id"] {
    text-align: center;
    width: 15%;
}
.o_base_wua_infrastructure_primary_intakes_view_tree [data-id="flowmeter_id"] {
    text-align: center;
}
.o_base_wua_infrastructure_primary_intakes_view_tree [data-field="last_reading_time"] {
    text-align: center;
}
.o_base_wua_infrastructure_primary_intakes_view_tree [data-id="last_reading_time"] {
    text-align: center;
    width: 10%;
}
.o_base_wua_infrastructure_primary_intakes_view_tree [data-field="last_reading_value"] {
    text-align: center;
}
.o_base_wua_infrastructure_primary_intakes_view_tree [data-id="last_reading_value"] {
    text-align: center;
    width: 10%;
}
.o_base_wua_infrastructure_primary_intakes_view_tree [data-field="last_reading_instantflow"] {
    text-align: center;
}
.o_base_wua_infrastructure_primary_intakes_view_tree [data-id="last_reading_instantflow"] {
    text-align: center;
    width: 10%;
}

/**/
/* wua.flowmeter */
/**/
.o_base_wua_infrastructure_primary_flowmeters_view_tree [data-field="last_reading_time"] {
    text-align: center;
}
.o_base_wua_infrastructure_primary_flowmeters_view_tree [data-id="last_reading_time"] {
    text-align: center;
    width: 10%;
}
.o_base_wua_infrastructure_primary_flowmeters_view_tree [data-field="last_reading_value"] {
    text-align: center;
}
.o_base_wua_infrastructure_primary_flowmeters_view_tree [data-id="last_reading_value"] {
    text-align: center;
    width: 10%;
}
.o_base_wua_infrastructure_primary_flowmeters_view_tree [data-field="last_reading_instantflow"] {
    text-align: center;
}
.o_base_wua_infrastructure_primary_flowmeters_view_tree [data-id="last_reading_instantflow"] {
    text-align: center;
    width: 10%;
}
.o_base_wua_infrastructure_primary_flowmeters_view_tree [data-field="nominal_waterflow"] {
    text-align: center;
    width: 15%;
}
.o_base_wua_infrastructure_primary_flowmeters_view_tree [data-id="nominal_waterflow"] {
    text-align: center;
}

/**/
/* wua.flowreading */
/**/
.o_base_wua_irrigation_measurement_flowreading_view_tree [data-field='flowmeter_id']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_flowreading_view_tree [data-id='flowmeter_id']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_flowreading_view_tree [data-field='reading_time']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_flowreading_view_tree [data-id='reading_time']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_flowreading_view_tree [data-field='volume']{
  text-align: right;
}
.o_base_wua_irrigation_measurement_flowreading_view_tree [data-id='volume']{
  text-align: right;
}
.o_base_wua_irrigation_measurement_flowreading_view_tree [data-field='initialization_reading']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_flowreading_view_tree [data-id='initialization_reading']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_flowreading_view_tree [data-field='instant_flow']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_flowreading_view_tree [data-id='instant_flow']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_flowreading_view_tree [data-field='is_last_reading']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_flowreading_view_tree [data-id='is_last_reading']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_flowreading_view_tree [data-field='intakeconsumption_id']{
  text-align: left;
}
.o_base_wua_irrigation_measurement_flowreading_view_tree [data-id='intakeconsumption_id']{
  text-align: left;
}
.o_base_wua_irrigation_measurement_flowreading_view_tree [data-field='validated']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_flowreading_view_tree [data-id='validated']{
  text-align: center;
}

/**/
/* wua.intakeconsumption */
/**/
.o_base_wua_irrigation_measurement_intakeconsumption_view_tree [data-field='intake_id']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_intakeconsumption_view_tree [data-id='intake_id']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_intakeconsumption_view_tree [data-field='flowmeter_id']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_intakeconsumption_view_tree [data-id='flowmeter_id']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_intakeconsumption_view_tree [data-field='reading_initial_time']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_intakeconsumption_view_tree [data-id='reading_initial_time']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_intakeconsumption_view_tree [data-field='reading_end_time']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_intakeconsumption_view_tree [data-id='reading_end_time']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_intakeconsumption_view_tree [data-field='volume']{
  text-align: right;
}
.o_base_wua_irrigation_measurement_intakeconsumption_view_tree [data-id='volume']{
  text-align: right;
}
.o_base_wua_irrigation_measurement_intakeconsumption_view_tree [data-field='adjustement_volume']{
  text-align: right;
}
.o_base_wua_irrigation_measurement_intakeconsumption_view_tree [data-id='adjustement_volume']{
  text-align: right;
}
.o_base_wua_irrigation_measurement_intakeconsumption_view_tree [data-field='volume_real']{
  text-align: right;
}
.o_base_wua_irrigation_measurement_intakeconsumption_view_tree [data-id='volume_real']{
  text-align: right;
}
.o_base_wua_irrigation_measurement_intakeconsumption_view_tree [data-field='flowreading_id']{
  text-align: left;
}
.o_base_wua_irrigation_measurement_intakeconsumption_view_tree [data-id='flowreading_id']{
  text-align: left;
}
.o_base_wua_irrigation_measurement_intakeconsumption_view_tree [data-field='validated']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_intakeconsumption_view_tree [data-id='validated']{
  text-align: center;
}

/**/
/* wua.agriculturalseason */
/**/
.o_base_wua_irrigation_measurement_agriculturalseason_view_tree [data-field='initial_date']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_agriculturalseason_view_tree [data-id='initial_date']{
  text-align: center;
  width: 20%;
}
.o_base_wua_irrigation_measurement_agriculturalseason_view_tree [data-field='end_date']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_agriculturalseason_view_tree [data-id='end_date']{
  text-align: center;
  width: 20%;
}
.o_base_wua_irrigation_measurement_agriculturalseason_view_tree [data-field='description']{
  text-align: left;
}
.o_base_wua_irrigation_measurement_agriculturalseason_view_tree [data-id='description']{
  text-align: left;
  width: 30%;
}
.o_base_wua_irrigation_measurement_agriculturalseason_view_tree [data-field='number_of_intakeconsumptions']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_agriculturalseason_view_tree [data-id='number_of_intakeconsumptions']{
  text-align: center;
  width: 10%;
}
.o_base_wua_irrigation_measurement_agriculturalseason_view_tree [data-field='total_volume']{
  text-align: right;
}
.o_base_wua_irrigation_measurement_agriculturalseason_view_tree [data-id='total_volume']{
  text-align: right;
  width: 20%;
}

/**/
/* wua.in.fm */
/**/
.o_base_wua_irrigation_measurement_flowmeter_view_tree_notebook [data-id='assign_start']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_flowmeter_view_tree_notebook [data-field='assign_start']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_flowmeter_view_tree_notebook [data-id='assign_end']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_flowmeter_view_tree_notebook [data-field='assign_end']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_flowmeter_view_tree_notebook [data-id='flowmeter_id']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_flowmeter_view_tree_notebook [data-field='flowmeter_id']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_flowmeter_view_tree_notebook [data-id='flowmeter_type']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_flowmeter_view_tree_notebook [data-field='flowmeter_type']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_flowmeter_view_tree_notebook [data-id='flowmeter_nominal_water_flow']{
  text-align: right;
}
.o_base_wua_irrigation_measurement_flowmeter_view_tree_notebook [data-id='days']{
  text-align: right;
}
.o_base_wua_irrigation_measurement_intake_view_tree_notebook [data-id='assign_start']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_intake_view_tree_notebook [data-field='assign_start']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_intake_view_tree_notebook [data-id='assign_end']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_intake_view_tree_notebook [data-field='assign_end']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_intake_view_tree_notebook [data-id='intake_id']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_intake_view_tree_notebook [data-field='intake_id']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_intake_view_tree_notebook [data-id='intake_type']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_intake_view_tree_notebook [data-field='intake_type']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_intake_view_tree_notebook [data-id='intake_category']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_intake_view_tree_notebook [data-field='intake_category']{
  text-align: center;
}
.o_base_wua_irrigation_measurement_intake_view_tree_notebook [data-id='days']{
  text-align: right;
}