/* wua.reservoir */
.o_base_wua_reservoir_view_tree [data-id="reservoir_code"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_reservoir_view_tree [data-field="reservoir_code"] {
    text-align: center;
}

.o_base_wua_reservoir_view_tree [data-id="volume_nmn"] {
    width: 14%;
    text-align: right;
}

.o_base_wua_reservoir_view_tree [data-id="last_reading_time"]{
    width: 14%;
    text-align: center;
}
.o_base_wua_reservoir_view_tree [data-field="last_reading_time"] {
    text-align: center;
}

.o_base_wua_reservoir_view_tree [data-id="last_volume"] {
    width: 14%;
    text-align: right;
}

.o_base_wua_reservoir_view_tree [data-id="last_differential_volume"] {
    width: 14%;
    text-align: right;
}


/* wua.reservoirreading */
.o_base_wua_reservoirreading_view_tree [data-id="volume"]{
    text-align: right;
}

.o_base_wua_reservoirreading_view_tree [data-id="differential_volume"]{
    text-align: right;
}

.o_base_wua_reservoirreading_view_tree [data-id="reading_time"]{
    text-align: center;
}
.o_base_wua_reservoirreading_view_tree [data-field="reading_time"] {
    text-align: center;
}

.o_base_wua_reservoirreading_view_tree [data-id="is_last_reading"]{
    width: 10%;
    text-align: center;
}
.o_base_wua_reservoirreading_view_tree [data-field="is_last_reading"] {
    text-align: center;
}
