/* wua_waterpipe_view_tree */
.o_base_wua_infrastructure_pressurized_hierarchy_waterpipe_view_tree [data-id="waterpipe_code"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_infrastructure_pressurized_hierarchy_waterpipe_view_tree [data-field="waterpipe_code"] {
    text-align: center;
}

.o_base_wua_infrastructure_pressurized_hierarchy_waterpipe_view_tree [data-id="level"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_infrastructure_pressurized_hierarchy_waterpipe_view_tree [data-field="level"] {
    text-align: center;
}

.o_base_wua_infrastructure_pressurized_hierarchy_waterpipe_view_tree [data-id="is_main"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_infrastructure_pressurized_hierarchy_waterpipe_view_tree [data-field="is_main"] {
    text-align: center;
}

.o_base_wua_infrastructure_pressurized_hierarchy_waterpipe_view_tree [data-id="number_of_parcels"] {
    width: 10%;
    text-align: center;
}
.o_base_wua_infrastructure_pressurized_hierarchy_waterpipe_view_tree [data-field="number_of_parcels"] {
    text-align: center;
}

.o_base_wua_infrastructure_pressurized_hierarchy_waterpipe_view_tree [data-id="total_affected_area_official"] {
    width: 10%;
    text-align: right;
}
.o_base_wua_infrastructure_pressurized_hierarchy_waterpipe_view_tree [data-field="total_affected_area_official"] {
    text-align: right;
}


/* wua_waterpipe_ids_view_tree */
.o_base_wua_infrastructure_pressurized_hierarchy_waterpipe_ids_view_tree [data-id="waterpipe_code"] {
     width: 10%;
    text-align: center;
}
.o_base_wua_infrastructure_pressurized_hierarchy_waterpipe_ids_view_tree [data-field="waterpipe_code"] {
    text-align: center;
}


/* wua_hydraulicsector_view_tree */
.o_base_wua_infrastructure_hydraulicsector_view_tree [data-id="name"] {
    width: 18%;
}

.o_base_wua_infrastructure_hydraulicsector_view_tree [data-id="description"] {
    width: 23%;
}

.o_base_wua_infrastructure_hydraulicsector_view_tree [data-id="number_of_irrigationsheds"] {
    width: 8%;
    text-align: center;
}
.o_base_wua_infrastructure_hydraulicsector_view_tree [data-field="number_of_irrigationsheds"] {
    text-align: center;
}

.o_base_wua_infrastructure_hydraulicsector_view_tree [data-id="number_of_waterconnections"] {
    width: 8%;
    text-align: center;
}
.o_base_wua_infrastructure_hydraulicsector_view_tree [data-field="number_of_waterconnections"] {
    text-align: center;
}

.o_base_wua_infrastructure_hydraulicsector_view_tree [data-id="main_waterpipe_id"] {
    width: 10%;
}


/* wua_irrigationshed_view_tree */
.o_base_wua_infrastructure_irrigationshed_view_tree [data-id="hydraulicsector_id"] {
    width: 16%;
}

.o_base_wua_infrastructure_irrigationshed_view_tree [data-id="description"] {
    width: 16%;
}

.o_base_wua_infrastructure_irrigationshed_view_tree [data-id="waterpipe_id"] {
    width: 10%;
}
